openapi: 3.0.0
info:
  title: DebtPayPro API
  description: ' '
  version: 1.0.0
  contact:
    name: Support
    email: support@debtpaypro.com
servers:
  - url: 'https://api.debtpaypro.com/v1'
    description: Production Server
  - url: 'https://staging1-api.debtpaypro.com/v1'
    description: Staging1
tags:
  - name: Authentication
    description: Authentication
  - name: Auth
    description: All available actions for Auth
  - name: Calls
    description: All available actions for Calls
  - name: Campaigns
    description: All available actions for Campaigns
  - name: Companies
    description: All available actions for Companies
  - name: Contacts
    description: All available actions for Contacts
  - name: Debts
    description: All available actions for Debts
  - name: Loans
    description: All available actions for Loans
  - name: Notes
    description: All available actions for Notes
  - name: Packages
    description: All available actions for Packages
  - name: Settlement_Offers
    description: All available actions for Settlement Offers
  - name: Tasks
    description: All available actions for Tasks
  - name: Teams
    description: All available actions for Teams
  - name: Users
    description: All available actions for Users
paths:
  /calls:
    post:
      summary: Create a Call Record
      description: Creates a Call Record and log the call to a client.
      operationId: callCreate
      tags:
        - Calls
      parameters: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: models/CallRequest.yaml
      responses:
        '200':
          description: Successfully created a Call Record
          content:
            application/json:
              schema:
                type: object
                properties:
                  response:
                    type: object
                  status:
                    $ref: models/SuccessStatus.yaml
              examples:
                Call Example 200 POST Response:
                  value:
                    response:
                      id: 385319179
                    status:
                      code: 200
        '400':
          description: Error
          content:
            application/json:
              schema:
                required:
                  - status
                properties:
                  status:
                    $ref: models/ErrorStatus.yaml
              examples:
                Call Example 400 Response:
                  value:
                    status:
                      code: 400
                      message: 'Input Parsing Error: unexpected character'
  '/calls/{id}':
    get:
      tags:
        - Calls
      summary: Find a Call Record by ID
      description: Returns a single Call Record
      operationId: callRead
      parameters:
        - name: id
          in: path
          description: Id of Call Record to return
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: Successfully retrieved a Call Record
          content:
            application/json:
              schema:
                type: object
                properties:
                  response:
                    $ref: models/CallResponse.yaml
                  status:
                    $ref: models/SuccessStatus.yaml
              examples:
                Call GET 200 Response Example:
                  value:
                    response:
                      object: call
                      id: '385319179'
                      acctID: '2715'
                      contactID: '516553837'
                      userID: '3028014'
                      activity_id: 608125717
                      sdate: '2019-08-24'
                      created_at: '2019-08-24T14:15:22Z'
                      call_type: Outgoing
                      call_result: Busy
                      call_dis_id: 2
                      notes: Lorem Ipsum
                      status_change: '274158'
                      duration: '00:01:15'
                      event_id: 8179
                      dialer_id: 2
                      recording_id: 3
                    status:
                      code: 200
        '400':
          description: Error
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    $ref: models/ErrorStatus.yaml
                required:
                  - status
              examples:
                Call GET 400 Response Example:
                  value:
                    status:
                      code: 400
                      message: 'Input Parsing Error: unexpected character'
    put:
      tags:
        - Calls
      summary: Update a Call Record by ID
      description: Updates a single Call Record
      operationId: callUpdate
      requestBody:
        content:
          application/json:
            schema:
              $ref: models/CallResponse.yaml
      parameters:
        - name: id
          in: path
          description: Id of Call Record to update
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: Successfully Updated a Call Record
          content:
            application/json:
              schema:
                type: object
                properties:
                  response:
                    $ref: models/CallResponse.yaml
                  status:
                    $ref: models/SuccessStatus.yaml
              examples:
                Call PUT 200 Response Example:
                  value:
                    response:
                      object: call
                      id: '385319179'
                      acctID: '2715'
                      contactID: '516553837'
                      userID: '3028014'
                      activity_id: 608125717
                      sdate: '2019-08-24'
                      created_at: '2019-08-24T14:15:22Z'
                      call_type: Outgoing
                      call_result: Busy
                      call_dis_id: 2
                      notes: Lorem Ipsum
                      status_change: '274158'
                      duration: '00:01:15'
                      event_id: 8179
                      dialer_id: 2
                      recording_id: 3
                    status:
                      code: 200
        '400':
          description: Error
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    $ref: models/ErrorStatus.yaml
                required:
                  - status
              examples:
                Call PUT 400 Response Example:
                  value:
                    status:
                      code: 400
                      message: 'Input Parsing Error: unexpected character'
    delete:
      tags:
        - Calls
      summary: Delete Call Record by ID
      description: Deletes a single Call Record
      operationId: callDelete
      parameters:
        - name: id
          in: path
          description: Id of Call Record to be deleted
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: Successfully Deleted a Call Record
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    $ref: models/SuccessStatus.yaml
              examples:
                Calls DELETE 200 Response Example:
                  value:
                    status:
                      code: 200
                      message: Successfully deleted object
        '400':
          description: Error
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    $ref: models/ErrorStatus.yaml
                required:
                  - status
              examples:
                Call DELETE 400 Response Example:
                  value:
                    status:
                      code: 400
                      message: 'Input Parsing Error: unexpected character'
  /campaigns/e-mail:
    post:
      tags:
        - Campaigns
      summary: Create a Campaign Record
      description: Creates a Campaign Record
      operationId: campaignCreate
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: models/CampaignRequest.yaml
      responses:
        '200':
          description: Successfully created a Campaign Record
          content:
            application/json:
              schema:
                type: object
                properties:
                  response:
                    type: object
                  status:
                    $ref: models/SuccessStatus.yaml
              examples:
                Campaign POST 200 Response Example:
                  value:
                    response:
                      id: 152283
                    status:
                      code: 200
        '400':
          description: Error
          content:
            application/json:
              schema:
                required:
                  - status
                properties:
                  status:
                    $ref: models/ErrorStatus.yaml
              examples:
                Campaigns POST 400 Response Example:
                  value:
                    status:
                      code: 400
                      message: 'Input Parsing Error: unexpected character'
  '/campaigns/e-mail/{id}':
    get:
      tags:
        - Campaigns
      summary: Find a Campaign Record by ID
      description: Returns a single Campaign Record
      operationId: campaignRead
      parameters:
        - name: id
          in: path
          description: Id of Campaign Record to return
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: Successfully retrieved a Campaign Record
          content:
            application/json:
              schema:
                type: object
                properties:
                  response:
                    $ref: models/CampaignResponse.yaml
                  status:
                    $ref: models/SuccessStatus.yaml
              examples:
                Campaign GET 200 Response Example:
                  value:
                    response:
                      object: campaign
                      id: 177286
                      acctID: 2715
                      company_id: 21752
                      active: true
                      created_at: '2019-08-24T14:15:22Z'
                      created_by: 3028014
                      token: string
                      title: Campaign Title
                      start_date: '2019-08-24'
                      end_date: '2019-08-24'
                      source_id: 3184
                      cost: 1984.25
                      cost_type: 1
                      priority: 4
                      external_id: 0
                      media_type: 1
                      purchase_amount: 42
                      del: false
                      del_by: 0
                      deltime: '2019-08-24T14:15:22Z'
                    status:
                      code: 200
        '400':
          description: Error
          content:
            application/json:
              schema:
                required:
                  - status
                properties:
                  status:
                    $ref: models/ErrorStatus.yaml
              examples:
                Campaign GET 400 Response Example:
                  value:
                    status:
                      code: 400
                      message: 'Input Parsing Error: unexpected character'
    put:
      tags:
        - Campaigns
      summary: Update a Campaign Record by ID
      description: Updates a single Campaign Record
      operationId: campaignUpdate
      parameters:
        - name: id
          in: path
          description: Id of Campaign Record to update
          required: true
          schema:
            type: integer
      requestBody:
        content:
          application/json:
            schema:
              $ref: models/CampaignResponse.yaml
      responses:
        '200':
          description: Successfully updated a Campaign Record
          content:
            application/json:
              schema:
                type: object
                properties:
                  response:
                    $ref: models/CampaignResponse.yaml
                  status:
                    $ref: models/SuccessStatus.yaml
              examples:
                Campaign PUT 200 Response Example:
                  value:
                    response:
                      object: campaign
                      id: 177286
                      acctID: 2715
                      company_id: 21752
                      active: true
                      created_at: '2019-08-24T14:15:22Z'
                      created_by: 3028014
                      token: string
                      title: Campaign Title
                      start_date: '2019-08-24'
                      end_date: '2019-08-24'
                      source_id: 3184
                      cost: 1984.25
                      cost_type: 1
                      priority: 4
                      external_id: 0
                      media_type: 1
                      purchase_amount: 42
                      del: false
                      del_by: 0
                      deltime: '2019-08-24T14:15:22Z'
                    status:
                      code: 200
        '400':
          description: Error
          content:
            application/json:
              schema:
                required:
                  - status
                properties:
                  status:
                    $ref: models/ErrorStatus.yaml
              examples:
                Campaign PUT 400 Response Example:
                  value:
                    status:
                      code: 400
                      message: 'Input Parsing Error: unexpected character'
    delete:
      tags:
        - Campaigns
      summary: Delete a Campaign Record by ID
      description: Deletes a Campaign Record
      operationId: campaignDelete
      parameters:
        - name: id
          in: path
          description: Id of Campaign Record to delete
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: Successfully deleted Campaign Record
          content:
            application/json:
              schema:
                properties:
                  status:
                    $ref: models/SuccessStatus.yaml
              examples:
                Campaign DELETE 200 Response Example:
                  value:
                    status:
                      code: 200
                      message: Successfully deleted object
        '400':
          description: Error
          content:
            application/json:
              schema:
                required:
                  - status
                properties:
                  status:
                    $ref: models/ErrorStatus.yaml
              examples:
                Campaign DELETE 400 Response Example:
                  value:
                    status:
                      code: 400
                      message: 'Input Parsing Error: unexpected character'
  /contacts:
    post:
      tags:
        - Contacts
      summary: Create a Contact Record
      description: Creates a Contact Record
      operationId: contactCreate
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: models/ContactRequest.yaml
      responses:
        '200':
          description: Successfully created a Contact Record
          content:
            application/json:
              schema:
                type: object
                properties:
                  response:
                    type: object
                  status:
                    $ref: models/SuccessStatus.yaml
              examples:
                Contact POST 200 Response Example:
                  value:
                    response:
                      id: 418304227
                    status:
                      code: 200
                      message: Client Record Created
        '400':
          description: Error
          content:
            application/json:
              schema:
                required:
                  - status
                properties:
                  status:
                    $ref: models/ErrorStatus.yaml
              examples:
                Contact POST 400 Response Example:
                  value:
                    status:
                      code: 400
                      message: 'Input Parsing Error: unexpected character'
  '/contacts/{id}':
    get:
      tags:
        - Contacts
      summary: Find a Contact Record by ID
      description: Returns a Contact Record
      operationId: contactRead
      parameters:
        - name: id
          in: path
          description: Id of Client to return
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: Successfully retrieved a Contact Record
          content:
            application/json:
              schema:
                type: object
                properties:
                  response:
                    $ref: models/ContactResponse.yaml
                  status:
                    $ref: models/SuccessStatus.yaml
              examples:
                Contact GET 200 Response Example:
                  value:
                    response:
                      object: contact
                      client_id: '382760691'
                      acctID: '3863'
                      company_id: '42128'
                      file_type: '1'
                      form_id: '18626'
                      created: '2020-07-01 00:00:00'
                      created_by: '4950368'
                      modified: '2021-11-16 04:29:36'
                      modified_by: '4950368'
                      assigned_to: '6045085'
                      campaign_id: '128312'
                      attorney: '0'
                      attorney_id: '0'
                      attorney_id2: '0'
                      first_name: John
                      middle_name: null
                      last_name: Doe
                      salutation: null
                      title: null
                      phone_number: '12242525887'
                      phone_extension: null
                      cell_phone: '12242525887'
                      cell_extension: null
                      work_phone: '13123839986'
                      work_extension: null
                      address:
                        address1: 1000 North Rd.
                        address2: Apt 217
                        address3: null
                        city: Chicago
                        state: IL
                        zip: '60614'
                      email: test@debtpaypro.com
                      social_security_number: '551192922'
                      date_of_birth: '1941-03-12'
                      language: '1'
                      submitted: '1'
                      submitted_by: '4949471'
                      submitted_at: '2020-02-21 16:23:00'
                      approved_by2: '4949471'
                      approved_date2: '2020-02-21'
                      rejected_by: '0'
                      rejected_notes: ''
                      paused_notes: ''
                      dropped_reason: '0'
                      grad_date: '0000-00-00'
                      total_debt: '41337.50'
                      welcome_sent: '2020-02-21 16:23:29'
                      paper_statements: '0'
                      paper_welcome: '0'
                      gateway_id: '1'
                      gateway_approved_by: '0'
                      gateway_hold: '1'
                      gateway_hold_reason: '15'
                      gateway_hold_notes: ''
                      gateway_auth_received: '1'
                      gateway_auth_file: 66c29015-debtpaypro_Greg's_Test_Template_-_Chase_(xxxx4444).pdf
                      iscoapp: '0'
                      customs: []
                    status:
                      code: 200
        '400':
          description: Error
          content:
            application/json:
              schema:
                required:
                  - status
                properties:
                  status:
                    $ref: models/ErrorStatus.yaml
              examples:
                Contact GET 400 Response Example:
                  value:
                    status:
                      code: 400
                      message: 'Input Parsing Error: unexpected character'
    put:
      tags:
        - Contacts
      summary: Update a Contact Record by ID
      description: Updates a Contact Record
      operationId: contactUpdate
      requestBody:
        content:
          application/json:
            schema:
              $ref: models/ContactUResponse.yaml
      parameters:
        - name: id
          in: path
          description: Id of Contact Record to update
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: Successfully Updated a Contact Record
          content:
            application/json:
              schema:
                type: object
                properties:
                  response:
                    $ref: models/ContactResponse.yaml
                  status:
                    $ref: models/SuccessStatus.yaml
              examples:
                Contact PUT 200 Response Example:
                  value:
                    response:
                      object: contact
                      client_id: '382760691'
                      acctID: '3863'
                      company_id: '42128'
                      file_type: '1'
                      form_id: '18626'
                      created: '2020-07-01 00:00:00'
                      created_by: '4950368'
                      modified: '2021-11-16 04:29:36'
                      modified_by: '4950368'
                      assigned_to: '6045085'
                      campaign_id: '128312'
                      attorney: '0'
                      attorney_id: '0'
                      attorney_id2: '0'
                      first_name: John
                      middle_name: null
                      last_name: Doe
                      salutation: null
                      title: null
                      phone_number: '12242525887'
                      phone_extension: null
                      cell_phone: '12242525887'
                      cell_extension: null
                      work_phone: '13123839986'
                      work_extension: null
                      address:
                        address1: 1000 North Rd.
                        address2: Apt 217
                        address3: null
                        city: Chicago
                        state: IL
                        zip: '60614'
                      email: test@debtpaypro.com
                      social_security_number: '551192922'
                      date_of_birth: '1941-03-12'
                      language: '1'
                      submitted: '1'
                      submitted_by: '4949471'
                      submitted_at: '2020-02-21 16:23:00'
                      approved_by2: '4949471'
                      approved_date2: '2020-02-21'
                      rejected_by: '0'
                      rejected_notes: ''
                      paused_notes: ''
                      dropped_reason: '0'
                      grad_date: '0000-00-00'
                      total_debt: '41337.50'
                      welcome_sent: '2020-02-21 16:23:29'
                      paper_statements: '0'
                      paper_welcome: '0'
                      gateway_id: '1'
                      gateway_approved_by: '0'
                      gateway_hold: '1'
                      gateway_hold_reason: '15'
                      gateway_hold_notes: ''
                      gateway_auth_received: '1'
                      gateway_auth_file: 66c29015-debtpaypro_Greg's_Test_Template_-_Chase_(xxxx4444).pdf
                      iscoapp: '0'
                      customs: []
                    status:
                      code: 200
        '400':
          description: Error
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    $ref: models/ErrorStatus.yaml
                required:
                  - status
              examples:
                Contact PUT 400 Response Example:
                  value:
                    status:
                      code: 400
                      message: 'Input Parsing Error: unexpected character'
    delete:
      tags:
        - Contacts
      summary: Delete a Contact Record by ID
      description: Deletes a Contact Record
      operationId: contactDelete
      parameters:
        - name: id
          in: path
          description: Id of Contact Record to delete
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: Successfully Deleted Contact Record
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    $ref: models/SuccessStatus.yaml
              examples:
                Contact DELETE 200 Response Example:
                  value:
                    status:
                      code: 200
                      message: Successfully deleted object
        '400':
          description: Error
          content:
            application/json:
              schema:
                required:
                  - status
                properties:
                  status:
                    $ref: models/Status.yaml
              examples:
                Contact DELETE 400 Response Example:
                  value:
                    status:
                      code: 400
                      message: 'Input Parsing Error: unexpected character'
  '/contacts/{id}/form_request':
    post:
      tags:
        - Contacts
      summary: Send Form to Contact Email by ID
      description: Sends a Form to a Contact Email Address by ContactID
      operationId: sendForm
      parameters:
        - name: id
          in: path
          description: Id of Contact Record to send Form to
          required: true
          schema:
            type: integer
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                form_id:
                  type: integer
              required:
                - form_id
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                properties:
                  status:
                    $ref: models/Status.yaml
                  response:
                    type: object
                type: object
        '400':
          description: Error
          content:
            application/json:
              schema:
                required:
                  - status
                properties:
                  status:
                    $ref: models/Status.yaml
  '/contacts/{id}/smslog':
    get:
      tags:
        - Contacts
      summary: Get SMS Log Record for a Contact by ID
      description: Returns a List of Every SMS Message logged for a Contact. By default the SMS Messages are returned in the order Newest to Oldest.
      operationId: getContactSMSlog
      parameters:
        - name: id
          in: path
          description: Id of Client whose SMS Messages are to be returned
          required: true
          schema:
            type: integer
        - in: query
          name: _offset
          description: (Optional) This value dictates which SMS Message in the ordered SMS Log to start the Request at.
          schema:
            type: integer
        - in: query
          name: _limit
          description: (Optional) This value represents the maximum number of SMS Messages your Request to contain.
          schema:
            type: integer
      responses:
        '200':
          description: Successfully retrieved SMS Log
          content:
            application/json:
              schema:
                type: object
        '400':
          description: Error
          content:
            application/json:
              schema:
                required:
                  - status
                properties:
                  status:
                    $ref: models/Status.yaml
  /auth/token:
    post:
      tags:
        - Auth
      summary: Get API Authorization Token
      description: Receive an API Authorization Token. The Token that is returned can be entered for any API Request that requires an *Api-Key*.
      operationId: authGetToken
      requestBody:
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                client_secret:
                  type: string
                client_id:
                  type: string
              required:
                - client_secret
                - client_id
      security: []
      responses:
        default:
          description: default
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    $ref: '#/components/schemas/Status'
                  response:
                    type: array
                    description: Get API Authization Token
                    items:
                      type: object
                      properties:
                        api_key:
                          type: string
                          description: API Authorization Token
                        expires_in:
                          type: integer
                          description: Time Until Token Expires
  /debts:
    post:
      tags:
        - Debts
      summary: Create a Debt Record
      description: Creates a Debt Record
      operationId: debtCreate
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: models/DebtRequest.yaml
      responses:
        '200':
          description: Successfully created a Debt Record
          content:
            application/json:
              schema:
                type: object
                properties:
                  response:
                    type: object
                  status:
                    $ref: models/SuccessStatus.yaml
              examples:
                Debt POST 200 Response Example:
                  value:
                    response:
                      id: 0
                    status:
                      code: 200
                      message: Debt Record Created
        '400':
          description: Error
          content:
            application/json:
              schema:
                required:
                  - status
                properties:
                  status:
                    $ref: models/ErrorStatus.yaml
              examples:
                Debt POST 400 Response Example:
                  value:
                    status:
                      code: 400
                      message: 'Input Parsing Error: unexpected character'
  '/debts/{id}':
    get:
      tags:
        - Debts
      summary: Find a Debt Record by ID
      description: Returns a Debt Record
      operationId: debtRead
      parameters:
        - name: id
          in: path
          description: Id of Debt Record to return
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: Successfully retrieved a Debt Record
          content:
            application/json:
              schema:
                type: object
                properties:
                  response:
                    $ref: models/DebtResponse.yaml
                  status:
                    $ref: models/SuccessStatus.yaml
              examples:
                Debt GET 200 Response Example:
                  value:
                    response:
                      object: debt
                      debt_id: '163174348'
                      acctID: '3863'
                      created_at: '2021-11-18 19:50:57'
                      created_by:
                        object: user
                        user_id: '4950368'
                        acctID: '3863'
                        guid: 1d7564d6-c57a-0a3a-9e18-adfe6ff22c01
                        company_id: '42128'
                        parent_id: '0'
                        user_type: '1'
                        created: '2019-10-02 02:41:18'
                        user_name: QAuser
                        firstname: QA
                        lastname: User
                        company: ''
                        email: qa@debtpaypro.com
                        active: '1'
                        role: '29399'
                        attorney: '0'
                        payee_id: '0'
                        del: '0'
                        delTime: null
                        pass_reset: '0'
                        master: '0'
                        billable: '1'
                      modified_at: null
                      modified_by: null
                      original_debt_amount: '8832.50'
                      current_debt_amount: '7965.22'
                      current_payment: null
                      current_rate: null
                      notes: null
                      verified_debt_amount: null
                      creditor: '0'
                      debt_buyer: null
                      poa_sent_date: null
                      legal_account: 'No'
                      last_payment_date: null
                      last_payment_amount: null
                      opened_date: null
                      available_balance: null
                      enrolled: '0'
                      enrolled_date: null
                      debt_type: null
                      cash_advance: '0'
                      balance_transfer: '0'
                      heavy_usage: '0'
                      has_summons: '0'
                      debt_status: null
                      locked: '0'
                      og_account_num: null
                      creditor_account_num: null
                      settled: '0'
                      settlement_id: null
                      client_id: '382760691'
                      settlement_offers: []
                      customs: []
                    status:
                      code: 200
        '400':
          description: Error
          content:
            application/json:
              schema:
                required:
                  - status
                properties:
                  status:
                    $ref: models/ErrorStatus.yaml
              examples:
                Debt GET 400 Response Example:
                  value:
                    status:
                      code: 400
                      message: 'Input Parsing Error: unexpected character'
    put:
      tags:
        - Debts
      summary: Update a Debt Record by ID
      description: Updates a Debt Record
      operationId: debtUpdate
      requestBody:
        $ref: '#/components/requestBodies/Debt'
      parameters:
        - name: id
          in: path
          description: Id of Debt Record to update
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: Successfully Updated a Debt Record
          content:
            application/json:
              schema:
                type: object
                properties:
                  response:
                    $ref: models/DebtResponse.yaml
                  status:
                    $ref: models/SuccessStatus.yaml
              examples:
                Debt PUT 200 Response Example:
                  value:
                    response:
                      object: debt
                      debt_id: '163174348'
                      acctID: '3863'
                      created_at: '2021-11-18 19:50:57'
                      created_by:
                        object: user
                        user_id: '4950368'
                        acctID: '3863'
                        guid: 1d7564d6-c57a-0a3a-9e18-adfe6ff22c01
                        company_id: '42128'
                        parent_id: '0'
                        user_type: '1'
                        created: '2019-10-02 02:41:18'
                        user_name: QAuser
                        firstname: QA
                        lastname: User
                        company: ''
                        email: qa@debtpaypro.com
                        active: '1'
                        role: '29399'
                        attorney: '0'
                        payee_id: '0'
                        del: '0'
                        delTime: null
                        pass_reset: '0'
                        master: '0'
                        billable: '1'
                      modified_at: null
                      modified_by: null
                      original_debt_amount: '8832.50'
                      current_debt_amount: '7965.22'
                      current_payment: null
                      current_rate: null
                      notes: null
                      verified_debt_amount: null
                      creditor: '0'
                      debt_buyer: null
                      poa_sent_date: null
                      legal_account: 'No'
                      last_payment_date: null
                      last_payment_amount: null
                      opened_date: null
                      available_balance: null
                      enrolled: '0'
                      enrolled_date: null
                      debt_type: null
                      cash_advance: '0'
                      balance_transfer: '0'
                      heavy_usage: '0'
                      has_summons: '0'
                      debt_status: null
                      locked: '0'
                      og_account_num: null
                      creditor_account_num: null
                      settled: '0'
                      settlement_id: null
                      client_id: '382760691'
                      settlement_offers: []
                      customs: []
                    status:
                      code: 200
        '400':
          description: Error
          content:
            application/json:
              schema:
                required:
                  - status
                properties:
                  status:
                    $ref: models/ErrorStatus.yaml
              examples:
                Debt PUT 400 Response Example:
                  value:
                    status:
                      code: 400
                      message: 'Input Parsing Error: unexpected character'
    delete:
      tags:
        - Debts
      summary: Delete a Debt Record by ID
      description: Deletes a Debt Record
      operationId: debtDelete
      parameters:
        - name: id
          in: path
          description: Id of Debt Record to delete
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: Successfully Deleted Debt Record
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    $ref: models/SuccessStatus.yaml
              examples:
                Debt DELETE 200 Response Example:
                  value:
                    status:
                      code: 200
                      message: Successfully deleted object
        '400':
          description: Error
          content:
            application/json:
              schema:
                required:
                  - status
                properties:
                  status:
                    $ref: models/ErrorStatus.yaml
              examples:
                Debt DELETE 400 Response Example:
                  value:
                    status:
                      code: 400
                      message: 'Input Parsing Error: unexpected character'
  '/debts/{id}/notes':
    post:
      tags:
        - Debts
      summary: Create a Debt Note using DebtID
      description: Creates a new Debt Note object
      operationId: debtNoteCreate
      parameters:
        - in: path
          name: id
          description: Id of debtnote
          required: true
          schema:
            type: integer
      requestBody:
        content:
          application/json:
            schema:
              properties:
                notify_users:
                  type: object
                  description: notify users
                content:
                  description: notes
                  type: string
              type: object
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                properties:
                  status:
                    $ref: models/Status.yaml
                  response:
                    type: object
                type: object
        '400':
          description: Error
          content:
            application/json:
              schema:
                required:
                  - status
                properties:
                  status:
                    $ref: models/Status.yaml
  '/debts/notes/{id}':
    delete:
      tags:
        - Debts
      summary: Delete a Debt Note by ID
      description: Deletes a single Debt Note object
      operationId: debtNoteDelete
      parameters:
        - name: id
          in: path
          description: Id of debt
          required: true
          schema:
            type: integer
      responses:
        default:
          description: default
          content:
            application/json:
              schema:
                properties:
                  status:
                    $ref: models/Status.yaml
                  response:
                    type: object
                type: object
  /loans:
    post:
      tags:
        - Loans
      summary: Create a Loan Record
      description: Creates a Loan Record
      operationId: loanCreate
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: models/LoanRequest.yaml
      responses:
        '200':
          description: Successfully created a Loan Record
          content:
            application/json:
              schema:
                type: object
                properties:
                  response:
                    type: object
                  status:
                    $ref: models/SuccessStatus.yaml
              examples:
                Loan POST 200 Response Example:
                  value:
                    response:
                      id: 1863358
                    status:
                      code: 200
        '400':
          description: Error
          content:
            application/json:
              schema:
                required:
                  - status
                properties:
                  status:
                    $ref: models/ErrorStatus.yaml
              examples:
                Loans POST 400 Response Example:
                  value:
                    status:
                      code: 400
                      message: 'Input Parsing Error: unexpected character'
  '/loans/{id}':
    get:
      tags:
        - Loans
      summary: Find a Loan Record by ID
      description: Returns a single Loan Record
      operationId: loanRead
      parameters:
        - name: id
          in: path
          description: Id of Loan Record to return
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: Successfully retrieved a Loan Record
          content:
            application/json:
              schema:
                type: object
                properties:
                  response:
                    $ref: models/LoanResponse.yaml
                  status:
                    $ref: models/SuccessStatus.yaml
              examples:
                Loan GET 200 Response Example:
                  value:
                    response:
                      object: loan
                      loan_id: '1863358'
                      acctID: '3863'
                      tp_id: '0'
                      created_at: '2021-11-18 21:23:07'
                      created_by: '4950368'
                      modified_at: null
                      modified_by: null
                      client_id: '0'
                      advance_type: string
                      advance_date: '2019-08-24'
                      paid_in_full_date: '2019-08-24'
                      defaulted_date: '2019-08-24'
                      type_id: '0'
                      program_id: '0'
                      loan_class: '0'
                      loan_amount: '0.00'
                      payback_amount: '0.00'
                      rate: '0'
                      payment: '0.00'
                      holdback_percent: '0'
                      payback_period: '0.00'
                      frequency: string
                      freq_int: string
                      period_amount: '0'
                      fees: '0.00'
                      conf_num: string
                      underwriter_notes: ''
                      contract_date: '2019-08-24'
                      contract_number: string
                      funded: '0'
                      status: '0'
                      lien_pos: '0'
                      ach_start_date: '2019-08-24'
                      ach_on: '0'
                      pricing_lock: '0'
                      offer_set: '1043077'
                    status:
                      code: 200
        '400':
          description: Error
          content:
            application/json:
              schema:
                required:
                  - status
                properties:
                  status:
                    $ref: models/ErrorStatus.yaml
              examples:
                Loan GET 400 Response Example:
                  value:
                    status:
                      code: 400
                      message: 'Input Parsing Error: unexpected character'
    put:
      tags:
        - Loans
      summary: Update a Loan Record by ID
      description: Updates a single Loan Record
      operationId: loanUpdate
      parameters:
        - name: id
          in: path
          description: Id of Loan Record to Update
          required: true
          schema:
            type: integer
      requestBody:
        content:
          application/json:
            schema:
              $ref: models/LoanResponse.yaml
      responses:
        '200':
          description: Successfully updated a Loan Record
          content:
            application/json:
              schema:
                type: object
                properties:
                  response:
                    $ref: models/LoanResponse.yaml
                  status:
                    $ref: models/SuccessStatus.yaml
              examples:
                Loan PUT 200 Response Example:
                  value:
                    response:
                      object: loan
                      loan_id: '1863361'
                      acctID: '3863'
                      tp_id: '0'
                      created_at: '2021-11-18 21:35:36'
                      created_by: '4950368'
                      modified_at: null
                      modified_by: null
                      client_id: '0'
                      advance_type: string
                      advance_date: '2019-08-24'
                      paid_in_full_date: '2019-08-24'
                      defaulted_date: '2019-08-24'
                      type_id: '0'
                      program_id: '0'
                      loan_class: '0'
                      loan_amount: '0.00'
                      payback_amount: '0.00'
                      rate: '0'
                      payment: '0.00'
                      holdback_percent: '0'
                      payback_period: '0.00'
                      frequency: string
                      freq_int: string
                      period_amount: '0'
                      fees: '0.00'
                      conf_num: string
                      underwriter_notes: ''
                      contract_date: '2019-08-24'
                      contract_number: string
                      funded: '0'
                      status: '0'
                      lien_pos: '0'
                      ach_start_date: '2019-08-24'
                      ach_on: '0'
                      pricing_lock: '0'
                      offer_set: '1043080'
                    status:
                      code: 200
        '400':
          description: Error
          content:
            application/json:
              schema:
                required:
                  - status
                properties:
                  status:
                    $ref: models/ErrorStatus.yaml
              examples:
                Loan PUT 400 Response Example:
                  value:
                    status:
                      code: 400
                      message: 'Input Parsing Error: unexpected character'
    delete:
      tags:
        - Loans
      summary: Delete a Loan Record by ID
      description: Deletes a Loan Record
      operationId: loanDelete
      parameters:
        - name: id
          in: path
          description: Id of Loan Record to Delete
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: Successfully deleted Loan Record
          content:
            application/json:
              schema:
                properties:
                  status:
                    $ref: models/SuccessStatus.yaml
              examples:
                Loan DELETE 200 Response Example:
                  value:
                    status:
                      code: 200
                      message: Successfully deleted object
        '400':
          description: Error
          content:
            application/json:
              schema:
                required:
                  - status
                properties:
                  status:
                    $ref: models/ErrorStatus.yaml
              examples:
                Loan DELETE 400 Response Example:
                  value:
                    status:
                      code: 400
                      message: 'Input Parsing Error: unexpected character'
  /settlement_offers:
    post:
      tags:
        - Settlement_Offers
      summary: Create a Settlement Offer Record
      description: Creates a new Settlement Offer object
      operationId: settlementOfferCreate
      requestBody:
        content:
          application/json:
            schema:
              $ref: models/SettlementofferRequest.yaml
        required: true
      responses:
        '200':
          description: Successfully created a Settlement Offer
          content:
            application/json:
              schema:
                type: object
                properties:
                  response:
                    type: object
                  status:
                    $ref: models/SuccessStatus.yaml
              examples:
                Settlement Offer POST 200 Response Example:
                  value:
                    response:
                      id: 4114375
                    status:
                      code: 200
        '400':
          description: Error
          content:
            application/json:
              schema:
                required:
                  - status
                properties:
                  status:
                    $ref: models/ErrorStatus.yaml
              examples:
                Settlement Offer 400 Response Example:
                  value:
                    status:
                      code: 400
                      message: 'Input Parsing Error: unexpected character'
  '/settlement_offers/{id}':
    get:
      tags:
        - Settlement_Offers
      summary: Find a Settlement Offer Record by ID
      description: Returns a Settlement Offer
      operationId: settlementOfferRead
      parameters:
        - name: id
          in: path
          description: Id of settlement offer to be returned
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: Successfully retrieved a Settlement Offer Record
          content:
            application/json:
              schema:
                type: object
                properties:
                  response:
                    $ref: models/SettlementofferResponse.yaml
                  status:
                    $ref: models/SuccessStatus.yaml
              examples:
                Settlement Offer GET 200 Response Example:
                  value:
                    response:
                      object: settlement_offer
                      offer_id: '4114375'
                      acctID: '3863'
                      contact_id: '485599270'
                      creditor: '0'
                      debt_id: '12345'
                      created_at: '2021-11-18 21:51:21'
                      created_by:
                        object: user
                        user_id: '4950368'
                        acctID: '3863'
                        guid: 1d7564d6-c57a-0a3a-9e18-adfe6ff22c01
                        company_id: '42128'
                        parent_id: '0'
                        user_type: '1'
                        created: '2019-10-02 02:41:18'
                        user_name: Greg
                        firstname: Greg
                        lastname: Johnson
                        company: ''
                        email: g.johnson@debtpaypro.com
                        active: '1'
                        role: '29399'
                        attorney: '0'
                        payee_id: '0'
                        del: '0'
                        delTime: null
                        pass_reset: '0'
                        master: '0'
                        billable: '1'
                      modified_at: null
                      modified_by: null
                      neg_id:
                        object: user
                        user_id: '4950368'
                        acctID: '3863'
                        guid: 1d7564d6-c57a-0a3a-9e18-adfe6ff22c01
                        company_id: '42128'
                        parent_id: '0'
                        user_type: '1'
                        created: '2019-10-02 02:41:18'
                        user_name: Greg
                        firstname: Greg
                        lastname: Johnson
                        company: ''
                        email: g.johnson@debtpaypro.com
                        active: '1'
                        role: '29399'
                        attorney: '0'
                        payee_id: '0'
                        del: '0'
                        delTime: null
                        pass_reset: '0'
                        master: '0'
                        billable: '1'
                      madeby: Negotiator
                      offer_status: null
                      offer_status_date: '2022-03-07'
                      offer_valid_date: '2021-10-24'
                      settlement_type: '0'
                      debt_amount: '0.00'
                      settlement_amount: '0.00'
                      settlement_fee: '0.00'
                      notes: Lorem Ipsum
                      cred_cont_id: '0'
                      json: []
                    status:
                      code: 200
        '400':
          description: Error
          content:
            application/json:
              schema:
                required:
                  - status
                properties:
                  status:
                    $ref: models/ErrorStatus.yaml
              examples:
                Settlement Offer GET 400 Response Example:
                  value:
                    status:
                      code: 400
                      message: 'Input Parsing Error: unexpected character'
    put:
      tags:
        - Settlement_Offers
      summary: Update a Settlement Offer Record by ID
      description: Updates a single Settlement Offer Record object
      operationId: settlementOfferUpdate
      parameters:
        - name: id
          in: path
          description: Id of settlement offer to be updated
          required: true
          schema:
            type: integer
      requestBody:
        content:
          application/json:
            schema:
              $ref: models/Settlementoffer.yaml
        description: Settlement offer object that needs to be updated
        required: true
      responses:
        '200':
          description: default
          content:
            application/json:
              schema:
                properties:
                  status:
                    $ref: models/Status.yaml
                  response:
                    type: object
                type: object
        '400':
          description: Error
          content:
            application/json:
              schema:
                required:
                  - status
                properties:
                  status:
                    $ref: models/Status.yaml
    delete:
      tags:
        - Settlement_Offers
      summary: Delete a Settlement Offer Record by ID
      description: Deletes a single Settlement Offer object
      operationId: settlementOfferDelete
      parameters:
        - name: id
          in: path
          description: Id of settlement offer to be deleted
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: default
          content:
            application/json:
              schema:
                properties:
                  status:
                    $ref: models/Status.yaml
                  response:
                    type: object
                type: object
        '400':
          description: Error
          content:
            application/json:
              schema:
                required:
                  - status
                properties:
                  status:
                    $ref: models/Status.yaml
  /tasks:
    post:
      tags:
        - Tasks
      summary: Create a Task Record
      description: Creates a new Task Record object
      operationId: taskCreate
      requestBody:
        content:
          application/json:
            schema:
              $ref: models/Task.yaml
        description: Task object to be created
        required: true
      responses:
        '200':
          description: default
          content:
            application/json:
              schema:
                properties:
                  status:
                    $ref: models/Status.yaml
                  response:
                    properties:
                      id:
                        type: integer
                        example: 123
                    type: object
                type: object
        '400':
          description: Error
          content:
            application/json:
              schema:
                required:
                  - status
                properties:
                  status:
                    $ref: models/Status.yaml
  '/tasks/{id}':
    get:
      tags:
        - Tasks
      summary: Find a Task Record by ID
      description: Returns a single Task Record object
      operationId: taskRead
      parameters:
        - name: id
          in: path
          description: Id of task to be returned
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: default
          content:
            application/json:
              schema:
                properties:
                  status:
                    $ref: models/Status.yaml
                  response:
                    $ref: models/Task.yaml
                type: object
        '400':
          description: Error
          content:
            application/json:
              schema:
                required:
                  - status
                properties:
                  status:
                    $ref: models/Status.yaml
    put:
      tags:
        - Tasks
      summary: Update a Task Record by ID
      description: Updates a single Task Record object
      operationId: taskUpdate
      parameters:
        - name: id
          in: path
          description: Id of task to be updated
          required: true
          schema:
            type: integer
      requestBody:
        content:
          application/json:
            schema:
              $ref: models/Task.yaml
        description: Task object that needs to be updated
        required: true
      responses:
        '200':
          description: default
          content:
            application/json:
              schema:
                properties:
                  status:
                    $ref: models/Status.yaml
                  response:
                    $ref: models/Task.yaml
                type: object
        '400':
          description: Error
          content:
            application/json:
              schema:
                required:
                  - status
                properties:
                  status:
                    $ref: models/Status.yaml
    delete:
      tags:
        - Tasks
      summary: Delete a Task Record by ID
      description: Deletes a single Task Record object
      operationId: taskDelete
      parameters:
        - name: id
          in: path
          description: Id of task object to be deleted
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                properties:
                  status:
                    $ref: models/Status.yaml
                  response:
                    type: object
                type: object
        '400':
          description: Error
          content:
            application/json:
              schema:
                required:
                  - status
                properties:
                  status:
                    $ref: models/Status.yaml
  /teams:
    get:
      tags:
        - Teams
      summary: Find All Existing Team Records
      description: Returns a List of Every Team Record object
      operationId: teamsGet
      responses:
        '200':
          description: default
          content:
            application/json:
              schema:
                properties:
                  status:
                    $ref: models/Status.yaml
                  response:
                    description: ''
                    type: array
                    items:
                      properties:
                        team_id:
                          description: ''
                          type: integer
                        team_name:
                          description: ''
                          type: string
                type: object
        '400':
          description: Error
          content:
            application/json:
              schema:
                required:
                  - status
                properties:
                  status:
                    $ref: models/Status.yaml
    post:
      tags:
        - Teams
      summary: Create a Team Record
      description: Creates a new Team Record Object
      operationId: teamCreate
      requestBody:
        $ref: '#/components/requestBodies/Team'
      responses:
        '200':
          description: after creation
          content:
            application/json:
              schema:
                properties:
                  status:
                    $ref: models/Status.yaml
                  response:
                    properties:
                      id:
                        type: integer
                        example: 123
                    type: object
                type: object
        '400':
          description: Error
          content:
            application/json:
              schema:
                required:
                  - status
                properties:
                  status:
                    $ref: models/Status.yaml
  '/teams/{id}':
    get:
      tags:
        - Teams
      summary: Find a Team Record by ID
      description: Returns a single Team Record object
      operationId: teamRead
      parameters:
        - name: id
          in: path
          description: Id of team to be returned
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: default
          content:
            application/json:
              schema:
                properties:
                  status:
                    $ref: models/Status.yaml
                  response:
                    $ref: models/Team.yaml
                type: object
        '400':
          description: Error
          content:
            application/json:
              schema:
                required:
                  - status
                properties:
                  status:
                    $ref: models/Status.yaml
    put:
      tags:
        - Teams
      summary: Update a Team Record by ID
      description: Updates a single Team Record object
      operationId: teamUpdate
      parameters:
        - name: id
          in: path
          description: Id of team to be updated
          required: true
          schema:
            type: integer
      requestBody:
        $ref: '#/components/requestBodies/Team'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                properties:
                  status:
                    $ref: models/Status.yaml
                  response:
                    type: object
                type: object
        '400':
          description: Error
          content:
            application/json:
              schema:
                required:
                  - status
                properties:
                  status:
                    $ref: models/Status.yaml
    delete:
      tags:
        - Teams
      summary: Delete a Team Record by ID
      description: Deletes a single Team Record object
      operationId: teamDelete
      parameters:
        - name: id
          in: path
          description: Id of team
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                properties:
                  status:
                    $ref: models/Status.yaml
                  response:
                    type: object
                type: object
        '400':
          description: Error
          content:
            application/json:
              schema:
                required:
                  - status
                properties:
                  status:
                    $ref: models/Status.yaml
  /users:
    post:
      tags:
        - Users
      summary: Create a User Record
      description: Creates a new User Record object
      operationId: userCreate
      requestBody:
        content:
          application/json:
            schema:
              $ref: models/User.yaml
        description: User Object
        required: true
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                properties:
                  status:
                    $ref: models/Status.yaml
                  response:
                    type: object
                type: object
        '400':
          description: Error
          content:
            application/json:
              schema:
                properties:
                  status:
                    $ref: models/Status.yaml
                  response:
                    type: object
                type: object
  '/users/{id}':
    get:
      tags:
        - Users
      summary: Find a User Record by ID
      description: Returns a single User Record object
      operationId: userRead
      parameters:
        - name: id
          in: path
          description: Id of User Record to Return
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                properties:
                  response:
                    $ref: models/User.yaml
                type: object
        '400':
          description: Error
          content:
            application/json:
              schema:
                required:
                  - status
                properties:
                  status:
                    $ref: models/Status.yaml
    put:
      tags:
        - Users
      summary: Update a User Record by ID
      description: Updates a single User Record object
      operationId: userUpdate
      parameters:
        - name: id
          in: path
          description: Id of User Record to Update
          required: true
          schema:
            type: integer
      requestBody:
        content:
          application/json:
            schema:
              $ref: models/User.yaml
        required: true
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                properties:
                  response:
                    $ref: models/User.yaml
                type: object
        '400':
          description: Error
          content:
            application/json:
              schema:
                required:
                  - status
                properties:
                  status:
                    $ref: models/Status.yaml
    delete:
      tags:
        - Users
      summary: Delete a User Record by ID
      description: Deletes a single User Record object
      operationId: userDelete
      parameters:
        - name: id
          in: path
          description: Id of User Record to delete
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                properties:
                  status:
                    $ref: models/Status.yaml
                  response:
                    type: object
                type: object
        '400':
          description: Error
          content:
            application/json:
              schema:
                required:
                  - status
                properties:
                  status:
                    $ref: models/Status.yaml
  /users/current:
    get:
      tags:
        - Users
      summary: Find User Record of Current User
      description: Returns the User Record of the Current Active User
      operationId: userCurrent
      responses:
        '400':
          description: some error
          content:
            application/json:
              schema:
                properties:
                  status:
                    properties:
                      code:
                        type: integer
                        example: 404
                      message:
                        type: string
                        example: not found
                    type: object
                type: object
        default:
          description: default
          content:
            application/json:
              schema:
                properties:
                  status:
                    $ref: '#/components/schemas/Status'
                  response:
                    $ref: '#/components/schemas/User'
                type: object
  '/users/{id}/tasks':
    post:
      tags:
        - Users
      summary: Find Task Records for User by ID
      description: Returns All Existing Task Records for a single User
      operationId: userTasks
      parameters:
        - name: id
          in: path
          description: Id of user whose tasks to be returned
          required: true
          schema:
            type: integer
      requestBody:
        content:
          application/json:
            schema:
              properties:
                completed:
                  description: Get task records for user
                  type: integer
                start:
                  description: Get task records for user
                  type: integer
                limit:
                  description: Get task records for user
                  type: integer
              type: object
      responses:
        '400':
          description: some error
          content:
            application/json:
              schema:
                properties:
                  status:
                    properties:
                      code:
                        type: integer
                        example: 404
                      message:
                        type: string
                        example: not found
                    type: object
                type: object
        default:
          description: default
          content:
            application/json:
              schema:
                properties:
                  status:
                    $ref: '#/components/schemas/Status'
                  response:
                    description: Get task records for user
                    type: array
                    items:
                      $ref: '#/components/schemas/Task'
                type: object
  '/users/{id}/events':
    post:
      tags:
        - Users
      summary: Find Event Records for User by ID
      description: Returns All Existing Event Records for a single User
      operationId: userEvents
      parameters:
        - name: id
          in: path
          description: Id of user whose events to be returned
          required: true
          schema:
            type: integer
      requestBody:
        content:
          application/json:
            schema:
              properties:
                public:
                  description: Get event records for user
                  type: integer
                dismissed:
                  description: Get event records for user
                  type: integer
                start:
                  description: Get event records for user
                  type: integer
                limit:
                  description: Get event records for user
                  type: integer
              type: object
      responses:
        '400':
          description: some error
          content:
            application/json:
              schema:
                properties:
                  status:
                    properties:
                      code:
                        type: integer
                        example: 404
                      message:
                        type: string
                        example: not found
                    type: object
                type: object
        default:
          description: default
          content:
            application/json:
              schema:
                properties:
                  status:
                    $ref: models/Status.yaml
                  response:
                    description: Get event records for user
                    type: array
                    items:
                      $ref: '#/components/schemas/CalEvent'
                type: object
  '/lenders/monevo/{contact_id}/offers':
    get:
      tags:
        - Lenders
      summary: Get all Monevo Lenders
      description: Returns a List of all Loan Offers associated with a Contact
      operationId: getLendersMonevo
      parameters:
        - name: contact_id
          in: path
          description: Id of CRM Contact
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: Successfully retrieved Lenders
          content:
            application/json:
              schema:
                description: ''
                type: object
                x-examples:
                  example-1:
                    id: '37939'
                    acctID: '2715'
                    loan_id: null
                    created_at: '2021-11-10 13:59:39'
                    created_by: '3028014'
                    status_id: '2'
                    loan_amount: '$18,000.00'
                    rate: 0
                    apr: 14.8
                    term: '36'
                    payment_amt: $622.21
                    payback_amt: null
                    frequency: null
                    active: null
                    type: null
                    label: null
                    term_unit: months
                    amortization: null
                    amortization_unit: null
                    amortization_method: null
                    compounding: null
                    initial_date: null
                    first_payment_date: null
                    last_payment_date: null
                    increment_type: null
                    increment_value: null
                    sequence_order: null
                    meta_data:
                      id: '17629247'
                      offer_number: '2'
                      redirect_url: 'https://usa.monevo.com/redirect?p=YTE4YWJkMjhhMzlhY2ExZDZiN2MxZjcxMzc3OThkNWZiMGI1MDkzNDRlNGJmZGY1ZGE0M2JjN2NkYTdiNGEzYzgyMjUyYzJjZjIyZTU3OGFkYjExN2MwOTcyMjg4YmM1YjBiOTU1MWY1MWUwZjE1NTI2YjVmOTg2ZjM0YmY1MWRiYzVmODNiZjRmMWZmOTk1NmNiOTMwN2YxOTA3OGY3Mw'
                      loan:
                        loan_amount: '18000'
                        apr: '14.80'
                        term: '36'
                        fees: '0'
                        monthly_repayment: '622.21'
                        total_repayment: '$22,399.00'
                        cost_of_credit: '4399.56'
                        type: PERSONAL_LOAN
                        rapr: 'Our view "With no origination fees, late fees or overdraft fees, as well as very competitive rates, SoFi is a great option."'
                        features:
                          feature:
                            - No origination fees
                            - ' No pre-payment penalties'
                            - A+ Better Business Bureau rating
                            - $30 Billion in funded loans
                        terms: 'Fixed rates from 5.99% APR to 19.63% APR (with AutoPay). SoFi rate ranges are current as of July 30, 2021 and are subject to change without notice. Not all rates and amounts available in all states. See Personal Loan eligibility details. Not all applicants qualify for the lowest rate. Lowest rates reserved for the most creditworthy borrowers. Your actual rate will be within the range of rates listed above and will depend on a variety of factors, including evaluation of your credit worthiness, income, and other factors. See APR examples and terms. The SoFi 0.25% AutoPay interest rate reduction requires you to agree to make monthly principal and interest payments by an automatic monthly deduction from a savings or checking account. The benefit will discontinue and be lost for periods in which you do not pay by automatic deduction from a savings or checking account.'
                        prequalified: 'true'
                        preapproved: 'false'
                        secured: 'false'
                      lender:
                        id: '85'
                        name: SoFi
                        description: 'SoFi is a new kind of finance company taking a radical approach to lending and wealth management. From unprecedented products and tools to faster service and open conversations, we’re all about helping our members get ahead and find success. Whether they’re looking to buy a home, save money on student loans, ascend in their careers, or invest in the future, the SoFi community works to empower our members to accomplish the goals they set and achieve financial greatness as a result.'
                        url: www.sofi.com
                        phone_number: {}
                        logo_url: 'https://images.monevo.com/ptusa/lender/pr_sofi-logo1.png'
                        review:
                          service: TRUSTPILOT
                          id: {}
                properties:
                  id:
                    type: string
                    minLength: 1
                  acctID:
                    type: string
                    minLength: 1
                  loan_id: {}
                  created_at:
                    type: string
                    minLength: 1
                  created_by:
                    type: string
                    minLength: 1
                  status_id:
                    type: string
                    minLength: 1
                  loan_amount:
                    type: string
                    minLength: 1
                  rate:
                    type: number
                  apr:
                    type: number
                  term:
                    type: string
                    minLength: 1
                  payment_amt:
                    type: string
                    minLength: 1
                  payback_amt: {}
                  frequency: {}
                  active: {}
                  type: {}
                  label: {}
                  term_unit:
                    type: string
                    minLength: 1
                  amortization: {}
                  amortization_unit: {}
                  amortization_method: {}
                  compounding: {}
                  initial_date: {}
                  first_payment_date: {}
                  last_payment_date: {}
                  increment_type: {}
                  increment_value: {}
                  sequence_order: {}
                  meta_data:
                    type: object
                    properties:
                      id:
                        type: string
                        minLength: 1
                      offer_number:
                        type: string
                        minLength: 1
                      redirect_url:
                        type: string
                        minLength: 1
                      loan:
                        type: object
                        properties:
                          loan_amount:
                            type: string
                            minLength: 1
                          apr:
                            type: string
                            minLength: 1
                          term:
                            type: string
                            minLength: 1
                          fees:
                            type: string
                            minLength: 1
                          monthly_repayment:
                            type: string
                            minLength: 1
                          total_repayment:
                            type: string
                            minLength: 1
                          cost_of_credit:
                            type: string
                            minLength: 1
                          type:
                            type: string
                            minLength: 1
                          rapr:
                            type: string
                            minLength: 1
                          features:
                            type: object
                            properties:
                              feature:
                                type: array
                                items:
                                  type: object
                          terms:
                            type: string
                            minLength: 1
                          prequalified:
                            type: string
                            minLength: 1
                          preapproved:
                            type: string
                            minLength: 1
                          secured:
                            type: string
                            minLength: 1
                      lender:
                        type: object
                        properties:
                          id:
                            type: string
                            minLength: 1
                          name:
                            type: string
                            minLength: 1
                          description:
                            type: string
                            minLength: 1
                          url:
                            type: string
                            minLength: 1
                          phone_number:
                            type: object
                          logo_url:
                            type: string
                            minLength: 1
                          review:
                            type: object
                            properties:
                              service:
                                type: string
                                minLength: 1
                              id:
                                type: object
        '400':
          description: Error
          content:
            application/json:
              schema:
                required:
                  - status
                properties:
                  status:
                    $ref: models/Status.yaml
components:
  schemas:
    Status:
      description: ''
      properties:
        code:
          type: integer
          example: 0
        message:
          type: string
      type: object
    Stat:
      description: stat record
      properties:
        gateway:
          type: integer
        num_payments_made:
          type: integer
        total_num_payments:
          type: integer
        total_fees_paid:
          type: integer
        total_fees_owed:
          type: integer
        num_returns:
          type: integer
        num_fees_taken:
          type: integer
        total_num_fees:
          type: integer
        sum_of_cleared_payments:
          type: integer
        sum_of_payments:
          type: integer
      type: object
    CalEvent:
      description: CalEvent record
      properties:
        id:
          type: integer
          readOnly: true
        acctID:
          type: integer
          readOnly: true
        created:
          type: string
          format: date-time
          readOnly: true
        created_by:
          type: integer
          readOnly: true
        modified:
          type: string
          format: date-time
          readOnly: true
        modified_by:
          type: integer
          readOnly: true
        assigned_to:
          type: integer
        contact_id:
          type: integer
        event_type:
          type: string
        title:
          type: string
        description:
          type: string
        location:
          type: string
        location_id:
          type: integer
        start_date:
          type: string
          format: date-time
        end_date:
          type: string
          format: date-time
        timezone:
          type: string
        utc_start:
          type: string
          format: date-time
        utc_end:
          type: string
          format: date-time
        allday:
          type: integer
        repeats:
          type: integer
        repeatswhen:
          type: string
        repeatends:
          type: string
        reminder:
          type: string
        notify_part:
          type: integer
        auto_dismiss:
          type: integer
        public:
          type: integer
        dismissed:
          type: integer
          readOnly: true
        dismissed_at:
          type: string
          format: date-time
          readOnly: true
        hidden:
          type: integer
        event_result:
          type: integer
        userfield1:
          type: string
        userfield2:
          type: string
        userfield3:
          type: string
      type: object
    Call:
      title: Call
      type: object
      description: ''
      properties:
        id:
          type: integer
          description: ID of the call record
          readOnly: true
        acctID:
          type: integer
          readOnly: true
        contactID:
          type: integer
          example: 487800700
        userID:
          type: integer
          readOnly: true
        activity_id:
          type: integer
          example: 608125717
        sdate:
          type: string
          format: date
          pattern: YYYY-mm-dd
        created_at:
          type: string
          format: date-time
          readOnly: true
        call_type:
          type: string
          enum:
            - Outgoing
            - Incoming
          example: Outgoing
        call_result:
          type: string
          example: Busy
        call_dis_id:
          type: integer
          example: 2
        notes:
          type: string
          example: Lorem Ipsum
        status_change:
          type: string
          example: '274158'
        duration:
          type: string
          format: duration
          example: 'hh:mm:ss'
        event_id:
          type: integer
          example: 8179
        dialer_id:
          type: integer
          example: 2
        recording_id:
          type: integer
    Campaign:
      type: object
      description: ''
      title: ''
      properties:
        id:
          type: integer
          readOnly: true
        acctID:
          type: integer
          readOnly: true
        company_id:
          type: integer
          readOnly: true
        active:
          type: boolean
          default: true
        created_at:
          type: string
          format: date-time
          readOnly: true
        created_by:
          type: integer
          readOnly: true
        token:
          type: string
          readOnly: true
        title:
          type: string
          example: Campaign Title
        start_date:
          type: string
          format: date
          pattern: YYYY-mm-dd
        end_date:
          type: string
          format: date
          pattern: YYYY-mm-dd
        source_id:
          type: integer
          example: 3184
        cost:
          type: number
          example: 1984.25
          format: double
        cost_type:
          type: integer
          example: 1
        priority:
          type: integer
          example: 4
        external_id:
          type: integer
          readOnly: true
        media_type:
          type: integer
          example: 1
        purchase_amount:
          type: number
          example: 42
        del:
          type: boolean
          default: false
          readOnly: true
        del_by:
          type: integer
          readOnly: true
        deltime:
          type: string
          format: date-time
          readOnly: true
      required:
        - title
        - start_date
        - end_date
        - cost
        - media_type
      x-examples:
        CampaignUpdateExample:
          active: true
          title: Campaign Title
          start_date: '2019-08-24'
          end_date: '2019-08-24'
          source_id: 3184
          cost: 1984.25
          cost_type: 1
          priority: 4
          external_id: 0
          media_type: 1
          purchase_amount: 42
    Company:
      type: object
      properties:
        id:
          type: integer
          readOnly: true
        acctID:
          type: integer
          readOnly: true
        name:
          type: string
        company_code:
          type: string
        phone:
          type: string
        parent_id:
          type: integer
        company_type:
          type: integer
        created_at:
          type: string
          format: date-time
          readOnly: true
        created_by:
          type: integer
          readOnly: true
        contactname:
          type: string
        address:
          type: string
        address2:
          type: string
        city:
          type: string
        state:
          type: string
        zip:
          type: string
        phone2:
          type: string
        fax:
          type: string
        email:
          type: string
        timezone:
          type: string
        ein:
          type: string
        esign:
          type: integer
        domain:
          type: string
        gcs_account_num:
          type: string
        gcs_policy_group_id:
          type: string
        account_num:
          type: string
        routing_num:
          type: string
        bank_name:
          type: string
        account_type:
          type: string
        active:
          type: integer
        theme:
          type: string
        logo_url:
          type: string
        additional1:
          type: string
        additional2:
          type: string
        additional3:
          type: string
        additional4:
          type: string
        additional5:
          type: string
        additional6:
          type: string
        account_exec:
          type: integer
        docusign_acct:
          type: string
        docusign_pass:
          type: string
        docusign_user:
          type: string
        enroll_charge:
          type: number
        charge_payee:
          type: integer
      required:
        - name
        - company_code
        - company_type
        - contactname
        - email
    Address:
      description: address record
      properties:
        address1:
          type: string
        address2:
          type: string
        address3:
          type: string
        city:
          type: string
        state:
          type: string
        zip:
          type: string
      type: object
    Contact:
      type: object
      properties:
        id:
          type: integer
          readOnly: true
        acctID:
          type: integer
          readOnly: true
        company_id:
          type: integer
          readOnly: true
        file_type:
          type: integer
        form_id:
          type: integer
        created:
          type: string
          format: date-time
          readOnly: true
        created_by:
          type: integer
          readOnly: true
        assigned_to:
          type: integer
        campaign_id:
          type: integer
        attorney:
          type: integer
        attorney_id:
          type: integer
        attorney_id2:
          type: integer
        first_name:
          type: string
        middle_name:
          type: string
        last_name:
          type: string
        salutation:
          type: string
        title:
          type: string
        phone_number:
          type: string
        phone_extension:
          type: string
        cell_phone:
          type: string
        cell_extension:
          type: string
        work_phone:
          type: string
        work_extension:
          type: string
        address:
          $ref: '#/components/schemas/Address'
        email:
          type: string
        social_security_number:
          type: string
        date_of_birth:
          type: string
          format: date
        language:
          type: integer
        submitted:
          type: integer
        submitted_by:
          type: integer
        submitted_at:
          type: string
          format: date-time
        approved_by2:
          type: integer
        approved_date2:
          type: string
          format: date
        rejected_by:
          type: integer
        rejected_notes:
          type: string
        paused_notes:
          type: string
        dropped_reason:
          type: integer
        grad_date:
          type: string
          format: date
        total_debt:
          type: number
        welcome_sent:
          type: string
          format: date-time
        paper_statements:
          type: integer
        paper_welcome:
          type: integer
        gateway_id:
          type: integer
        gateway_approved_by:
          type: integer
        gateway_hold:
          type: integer
        gateway_hold_reason:
          type: integer
        gateway_hold_notes:
          type: string
        gateway_auth_received:
          type: integer
        gateway_auth_file:
          type: string
        iscoapp:
          type: integer
        customs:
          type: array
          items:
            type: object
            properties:
              field_id:
                type: integer
              value:
                type: string
              label:
                type: string
      required:
        - first_name
        - last_name
        - phone_number
        - address
        - email
        - date_of_birth
    Creditor:
      type: object
      properties:
        id:
          type: integer
        acctID:
          type: integer
        tp_id:
          type: integer
        is_active:
          type: integer
        company_name:
          type: string
        first_name:
          type: string
        last_name:
          type: string
        address:
          $ref: '#/components/schemas/Address'
        phone:
          type: string
    Note:
      type: object
      properties:
        id:
          type: integer
          readOnly: true
        client_id:
          type: integer
[...]
