openapi: 3.0.1
info:
  title: DebtPayPro API
  contact:
    email: apisupport@debtpaypro.com
  version: 1.0.0
servers:
  - url: https://api.debtpaypro.com/v1
security:
  - Api-Key: []
tags:
  - name: Calls
    description: all actions with calls
  - name: Contacts
    description: all actions with contacts
paths:
  /portal/domains:
    get:
      tags:
        - Portal
      summary: Get Portal Domains
      responses:
        default:
          description: Error
          content:
            application/json:
              schema:
                type: object
  /portal/domain/{domain_id}:
    put:
      tags:
        - Portal
      summary: Update Portal Domain by Id
      parameters:
        - name: id
          in: path
          description: Id of portal domain to be updated
          required: true
          schema:
            type: integer
      responses:
        default:
          description: Error
          content:
            application/json:
              schema:
                type: object
  /portal/company/{domain_id}:
    get:
      tags:
        - Portal
      summary: Get Company by Portal Domain Id
      parameters:
        - name: id
          in: path
          description: Id of Portal Domain to be read
          required: true
          schema:
            type: integer
      responses:
        default:
          description: Error
          content:
            application/json:
              schema:
                type: object
    post:
      tags:
        - Portal
      summary: Create Company for the Portal Domain Id
      parameters:
        - name: id
          in: path
          description: Id of Portal Domain for the Company
          required: true
          schema:
            type: integer
      responses:
        default:
          description: Error
          content:
            application/json:
              schema:
                type: object
    delete:
      tags:
        - Portal
      summary: Delete Company for the Portal Domain Id
      parameters:
        - name: id
          in: path
          description: Id of Portal Domain for the Company
          required: true
          schema:
            type: integer
      responses:
        default:
          description: Error
          content:
            application/json:
              schema:
                type: object
  /portal/company/module/{domain_id}:
    get:
      tags:
        - Portal
      summary: Get Company Module by Portal Domain Id
      parameters:
        - name: id
          in: path
          description: Id of Portal Domain to be read
          required: true
          schema:
            type: integer
      responses:
        default:
          description: Error
          content:
            application/json:
              schema:
                type: object
    put:
      tags:
        - Portal
      summary: Update Company Module by Portal Domain Id
      parameters:
        - name: id
          in: path
          description: Id of Portal Domain to be updated
          required: true
          schema:
            type: integer
      responses:
        default:
          description: Error
          content:
            application/json:
              schema:
                type: object
  /portal/company/email/{domain_id}:
    get:
      tags:
        - Portal
      summary: Get Company Email by Portal Domain Id
      parameters:
        - name: id
          in: path
          description: Id of Portal Domain to be read
          required: true
          schema:
            type: integer
      responses:
        default:
          description: Error
          content:
            application/json:
              schema:
                type: object
    put:
      tags:
        - Portal
      summary: Update Company Email by Portal Domain Id
      parameters:
        - name: id
          in: path
          description: Id of Portal Domain to be updated
          required: true
          schema:
            type: integer
      responses:
        default:
          description: Error
          content:
            application/json:
              schema:
                type: object
  /portal/company/permission/{domain_id}:
    put:
      tags:
        - Portal
      summary: Update Company Permission by Portal Domain Id
      parameters:
        - name: id
          in: path
          description: Id of Portal Domain to be updated
          required: true
          schema:
            type: integer
      responses:
        default:
          description: Error
          content:
            application/json:
              schema:
                type: object
  /portal/company/support/{domain_id}:
    put:
      tags:
        - Portal
      summary: Update Company Support by Portal Domain Id
      parameters:
        - name: id
          in: path
          description: Id of Portal Domain to be updated
          required: true
          schema:
            type: integer
      responses:
        default:
          description: Error
          content:
            application/json:
              schema:
                type: object
  /portal/company/terminology/{domain_id}:
    put:
      tags:
        - Portal
      summary: Update Company Terminology by Portal Domain Id
      parameters:
        - name: id
          in: path
          description: Id of Portal Domain to be updated
          required: true
          schema:
            type: integer
      responses:
        default:
          description: Error
          content:
            application/json:
              schema:
                type: object
  /accounts:
    post:
      tags:
        - Accounts
      summary: Create account record
      operationId: accountCreate
      requestBody:
        description: accountData
        content:
          application/json: {}
        required: true
      responses:
        success:
          description: after creation
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    $ref: '#/components/schemas/Status'
                  response:
                    type: object
                    properties:
                      id:
                        type: integer
                        example: 123
      x-codegen-request-body-name: body
  /accounts/{id}:
    get:
      tags:
        - Accounts
      summary: Get account record by id
      operationId: accountRead
      parameters:
        - name: id
          in: path
          description: Id of account to be returned
          required: true
          schema:
            type: integer
      responses:
        default:
          description: default
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    $ref: '#/components/schemas/Status'
                  response:
                    $ref: '#/components/schemas/Account'
    put:
      tags:
        - Accounts
      summary: Update account record by id
      operationId: accountUpdate
      parameters:
        - name: id
          in: path
          description: Id of account to be updated
          required: true
          schema:
            type: integer
      responses:
        default:
          description: default
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    $ref: '#/components/schemas/Status'
                  response:
                    type: object
                    properties: {}
    delete:
      tags:
        - Accounts
      summary: Delete account record by id
      operationId: accountDelete
      parameters:
        - name: id
          in: path
          description: Id of account to be returned
          required: true
          schema:
            type: integer
      responses:
        default:
          description: default
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    $ref: '#/components/schemas/Status'
                  response:
                    type: object
                    properties: {}
  /auth/token:
    post:
      tags:
        - Auth
      summary: get auth token
      operationId: authGetToken
      requestBody:
        content:
          multipart/form-data:
            schema:
              properties:
                client_secret:
                  type: string
                client_id:
                  type: string
      responses:
        default:
          description: default
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    $ref: '#/components/schemas/Status'
                  response:
                    type: array
                    description: get auth token
                    items:
                      type: object
                      properties:
                        api_key:
                          type: string
                          description: get auth token
                        expires_in:
                          type: integer
                          description: get auth token
  /calls:
    post:
      tags:
        - Calls
      summary: Create a new call record
      requestBody:
        description: Call object
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/Call'
        required: true
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    $ref: '#/components/schemas/Status'
                  response:
                    type: object
                    properties:
                      id:
                        type: integer
                        example: 123
        '404':
          description: Error
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: object
                    properties:
                      code:
                        type: integer
                        example: 404
                      message:
                        type: string
                        example: not found
      x-codegen-request-body-name: body
  /calls/{call_id}:
    get:
      tags:
        - Calls
      summary: Get call record by id
      parameters:
        - name: call_id
          in: path
          description: Id of call to be returned
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    $ref: '#/components/schemas/Status'
                  response:
                    $ref: '#/components/schemas/Call'
        '404':
          description: Error
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: object
                    properties:
                      code:
                        type: integer
                        example: 404
                      message:
                        type: string
                        example: not found
    put:
      tags:
        - Calls
      summary: Update call record by id
      parameters:
        - name: call_id
          in: path
          description: Id of call to be updated
          required: true
          schema:
            type: integer
      requestBody:
        description: Call object
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/Call'
        required: true
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    $ref: '#/components/schemas/Status'
                  response:
                    type: object
                    properties: {}
        '404':
          description: Error
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: object
                    properties:
                      code:
                        type: integer
                        example: 404
                      message:
                        type: string
                        example: not found
      x-codegen-request-body-name: body
    delete:
      tags:
        - Calls
      summary: Delete call record by id
      parameters:
        - name: call_id
          in: path
          description: Id of call to be deleted
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    $ref: '#/components/schemas/Status'
                  response:
                    type: object
                    properties: {}
        '404':
          description: Error
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: object
                    properties:
                      code:
                        type: integer
                        example: 404
                      message:
                        type: string
                        example: not found
  /campaigns/e-mail:
    post:
      tags:
        - Campaigns
      summary: Create a new campaign email
      operationId: campaignCreate
      requestBody:
        description: Campaign object to be created
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Campaign'
        required: true
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    $ref: '#/components/schemas/Status'
                  response:
                    type: object
                    properties:
                      id:
                        type: integer
                        example: 123
        4xx:
          description: Error
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: object
                    properties:
                      code:
                        type: integer
                        example: 404
                      message:
                        type: string
                        example: not found
      x-codegen-request-body-name: body
  /campaigns/e-mail/{campaign_id}:
    get:
      tags:
        - Campaigns
      summary: Get campaign record by id
      operationId: campaignRead
      parameters:
        - name: campaign_id
          in: path
          description: Id of campaign email to be returned
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    $ref: '#/components/schemas/Status'
                  response:
                    $ref: '#/components/schemas/Campaign'
        4xx:
          description: Error
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: object
                    properties:
                      code:
                        type: integer
                        example: 404
                      message:
                        type: string
                        example: not found
    put:
      tags:
        - Campaigns
      summary: Update campaign record by id
      operationId: campaignUpdate
      parameters:
        - name: campaign_id
          in: path
          description: Id of campaign email to be updated
          required: true
          schema:
            type: integer
      requestBody:
        description: Campaign object that will be update
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Campaign'
        required: true
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    $ref: '#/components/schemas/Status'
                  response:
                    type: object
                    properties: {}
        4xx:
          description: Error
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: object
                    properties:
                      code:
                        type: integer
                        example: 404
                      message:
                        type: string
                        example: not found
      x-codegen-request-body-name: body
    delete:
      tags:
        - Campaigns
      summary: Delete campaign record by id
      operationId: campaignDelete
      parameters:
        - name: campaign_id
          in: path
          description: Id of campaign email to be deleted
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    $ref: '#/components/schemas/Status'
                  response:
                    type: object
                    properties: {}
        4xx:
          description: Error
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: object
                    properties:
                      code:
                        type: integer
                        example: 404
                      message:
                        type: string
                        example: not found
  /companies:
    post:
      tags:
        - Companies
      summary: Create a new company record
      operationId: companyCreate
      requestBody:
        description: Company object to be created
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Company'
        required: true
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    $ref: '#/components/schemas/Status'
                  response:
                    type: object
                    properties:
                      id:
                        type: integer
                        example: 123
        4xx:
          description: Error
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: object
                    properties:
                      code:
                        type: integer
                        example: 404
                      message:
                        type: string
                        example: not found
      x-codegen-request-body-name: body
  /companies/{id}:
    get:
      tags:
        - Companies
      summary: Get company record by id
      operationId: companyRead
      parameters:
        - name: id
          in: path
          description: Id of company to be returned
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    $ref: '#/components/schemas/Status'
                  response:
                    $ref: '#/components/schemas/Company'
        4xx:
          description: Error
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: object
                    properties:
                      code:
                        type: integer
                        example: 404
                      message:
                        type: string
                        example: not found
    put:
      tags:
        - Companies
      summary: Update company record by id
      operationId: companyUpdate
      parameters:
        - name: id
          in: path
          description: Id of company to be updated
          required: true
          schema:
            type: integer
      requestBody:
        description: Company object that needs to be updated
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Company'
        required: true
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    $ref: '#/components/schemas/Status'
                  response:
                    type: object
                    properties: {}
        4xx:
          description: Error
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: object
                    properties:
                      code:
                        type: integer
                        example: 404
                      message:
                        type: string
                        example: not found
      x-codegen-request-body-name: body
    delete:
      tags:
        - Companies
      summary: Delete company record by id
      operationId: companyDelete
      parameters:
        - name: id
          in: path
          description: Id of company object to be deleted
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    $ref: '#/components/schemas/Status'
                  response:
                    type: object
                    properties: {}
        4xx:
          description: Error
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: object
                    properties:
                      code:
                        type: integer
                        example: 404
                      message:
                        type: string
                        example: not found
  /contacts/{client_id}:
    get:
      tags:
        - Contacts
      summary: Get contact record by id
      operationId: contactRead
      parameters:
        - name: client_id
          in: path
          description: Id of client to be returned
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    $ref: '#/components/schemas/Status'
                  response:
                    $ref: '#/components/schemas/Contact'
        4xx:
          description: Error
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: object
                    properties:
                      code:
                        type: integer
                        example: 404
                      message:
                        type: string
                        example: not found
    put:
      tags:
        - Contacts
      summary: Update contact record by id
      operationId: contactUpdate
      parameters:
        - name: client_id
          in: path
          description: Id of client to be updated
          required: true
          schema:
            type: integer
      requestBody:
        description: Contact object that will be updated
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Contact'
        required: true
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    $ref: '#/components/schemas/Status'
                  response:
                    type: object
                    properties: {}
        4xx:
          description: Error
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: object
                    properties:
                      code:
                        type: integer
                        example: 404
                      message:
                        type: string
                        example: not found
      x-codegen-request-body-name: body
    delete:
      tags:
        - Contacts
      summary: Delete contact record by id
      operationId: contactDelete
      parameters:
        - name: client_id
          in: path
          description: Id of contact object to be delete
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    $ref: '#/components/schemas/Status'
                  response:
                    type: object
                    properties: {}
        4xx:
          description: Error
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: object
                    properties:
                      code:
                        type: integer
                        example: 404
                      message:
                        type: string
                        example: not found
  /contacts/{contact_id}/documents:
    get:
      tags:
        - Contacts
      summary: Get Contact Documents
      description: Get enrollment statistics by contact id
      operationId: contactDocuments
      parameters:
        - name: contact_id
          in: path
          description: Id of contact
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    $ref: '#/components/schemas/Status'
                  response:
                    $ref: '#/components/schemas/Docs'
        4xx:
          description: Error
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: object
                    properties:
                      code:
                        type: integer
                        example: 404
                      message:
                        type: string
                        example: not found
  /contacts/getLists:
    post:
      tags:
        - Contacts
      summary: Get lists
      description: Get lists
      operationId: contactLists
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                contact_info:
                  type: integer
                  description: contact_info
                contact_id:
                  type: integer
                  description: contact_id
        required: false
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    $ref: '#/components/schemas/Status'
                  response:
                    type: object
                    properties: {}
        4xx:
          description: Error
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: object
                    properties:
                      code:
                        type: integer
                        example: 404
                      message:
                        type: string
                        example: not found
      x-codegen-request-body-name: body
  /contacts/{contact_id}/pull_credit/{provider}:
    post:
      tags:
        - Contacts
      summary: Pull Credit Report on a contact
      description: Pull credit report by contact id
      operationId: contactPullCredit
      parameters:
        - name: contact_id
          in: path
          description: contact_id
          required: true
          schema:
            type: integer
        - name: provider
          in: path
          description: provider
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    $ref: '#/components/schemas/Status'
                  response:
                    type: object
                    properties:
                      report_id:
                        type: integer
                        description: Pull Credit Report on a contact
                      message:
                        type: string
                        description: Pull Credit Report on a contact
                    description: Pull Credit Report on a contact
        4xx:
          description: Error
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: object
                    properties:
                      code:
                        type: integer
                        example: 404
                      message:
                        type: string
                        example: not found
  /contacts/{contact_id}/submit_to_lender/{lender}:
    post:
      tags:
        - Contacts
      summary: Submit contact to lender
      description: Submit contact to lender by contact id
      operationId: contactSubmitLender
      parameters:
        - name: contact_id
          in: path
          description: Id of contact to be submited
          required: true
          schema:
            type: integer
        - name: lender
          in: path
          description: Id of lender
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    $ref: '#/components/schemas/Status'
                  response:
                    type: object
                    properties: {}
        4xx:
          description: Error
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: object
                    properties:
                      code:
                        type: integer
                        example: 404
                      message:
                        type: string
                        example: not found
  /contacts/{contact_id}/ref:
    post:
      tags:
        - Contacts
      summary: change or update Account Contacts Ref
      description: Update account contacts ref
      operationId: contactRefUpdate
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                contact_id:
                  type: integer
                  description: Id of contact to be updated
                type:
                  type: integer
                  description: type of contact
                authorized:
                  type: integer
                  description: contact authorized (1/0)
                link:
                  type: integer
                  description: link account contact
                unlink:
                  type: integer
                  description: unlink account contact
        required: false
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    $ref: '#/components/schemas/Status'
                  response:
                    type: object
                    properties: {}
        4xx:
          description: Error
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: object
                    properties:
                      code:
                        type: integer
                        example: 404
                      message:
                        type: string
                        example: not found
      x-codegen-request-body-name: body
  /contacts/list/download/{export_id}:
    get:
      tags:
        - Contacts
      summary: get status of the CSV file
      description: get status of csv file
      parameters:
        - name: export_id
          in: path
          description: export_id
          required: true
          schema:
            type: integer
      responses:
        '201':
          content:
            application/json:
              schema:
                type: object
        '400':
          content:
            application/json:
              schema:
                type: object
        4xx:
          description: Error
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: object
                    properties:
                      code:
                        type: integer
                        example: 404
                      message:
                        type: string
                        example: not found
  /contacts/list:
    post:
      tags:
        - Contacts
      summary: Create a job to make a CSV of the given list id.
      description: create CSV from list id
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                list_id:
                  type: integer
                  description: list_id
                email_on_ready:
                  type: string
                  description: email_on_ready
        required: false
      responses:
        '202':
          content:
            application/json:
              schema:
                type: object
        '400':
          content:
            application/json:
              schema:
                type: object
      x-codegen-request-body-name: body
  /contacts/{contact_id}/form_request:
    post:
      tags:
        - Contacts
      summary: Send Form to Contact Email by contact_id
      description: Send form to contact email by contact id
      parameters:
        - name: contact_id
          in: path
          description: Id of contact to be emailed
          required: true
          schema:
            type: integer
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                form_id:
                  type: integer
                  description: form_id
        required: true
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    $ref: '#/components/schemas/Status'
                  response:
                    type: object
                    properties: {}
        4xx:
          description: Error
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: object
                    properties:
                      code:
                        type: integer
                        example: 404
                      message:
                        type: string
                        example: not found
      x-codegen-request-body-name: body
  /providers:
    get:
      tags:
        - Providers
      summary: Get Credit Report Providers
      operationId: providersAvailable
      responses:
        default:
          description: default
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    $ref: '#/components/schemas/Status'
                  response:
                    type: object
                    properties:
                      providers:
                        type: array
                        description: Get Credit Report Providers
                    description: Get Credit Report Providers
  /conditions/getDefinitions:
    post:
      tags:
        - Conditions
      summary: get definitions
      operationId: definitionsGet
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                objects:
                  type: object
                  properties: {}
                  description: objects
        required: false
      responses:
        default:
          description: default
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    $ref: '#/components/schemas/Status'
                  response:
                    type: array
                    description: get definitions
      x-codegen-request-body-name: body
  /debtqueues/{id}:
    get:
      tags:
        - DebtQueues
      summary: Get Debt Queue by Id
      operationId: debtqueuesGet
      parameters:
        - name: id
          in: path
          description: Id of debt queues
          required: true
          schema:
            type: integer
      responses:
        default:
          description: default
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    $ref: '#/components/schemas/Status'
                  response:
                    $ref: '#/components/schemas/DebtQueue'
        error:
          description: some error
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: object
                    properties:
                      code:
                        type: integer
                        example: 404
                      message:
                        type: string
                        example: not found
    put:
      tags:
        - DebtQueues
      summary: Update Debt Queue by Id
      operationId: debtqueuesUpdate
      parameters:
        - name: id
          in: path
          description: Id of debt queues. If empty then insert new
          required: true
          schema:
            type: integer
            default: 0
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                title:
                  type: string
                  description: title of debt queues
                description:
                  type: string
                  description: description of debt queues
        required: false
      responses:
        default:
          description: default
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    $ref: '#/components/schemas/Status'
                  response:
                    type: object
                    properties: {}
        error:
          description: some error
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: object
                    properties:
                      code:
                        type: integer
                        example: 404
                      message:
                        type: string
                        example: not found
      x-codegen-request-body-name: body
  /debtqueues/company:
    get:
      tags:
        - DebtQueues
      summary: Get Debt Queues by Company
      operationId: debtqueuesByCompany
      responses:
        default:
          description: default
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    $ref: '#/components/schemas/Status'
                  response:
                    type: array
                    description: Get Debt Queues by Company
                    items:
                      $ref: '#/components/schemas/DebtQueue'
        error:
          description: some error
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: object
                    properties:
                      code:
                        type: integer
                        example: 404
                      message:
                        type: string
                        example: not found
  /debts:
    post:
      tags:
        - Debts
      summary: Create a new debt record
      operationId: debtCreate
      requestBody:
        description: Debt object to be created
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Debt'
        required: true
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    $ref: '#/components/schemas/Status'
                  response:
                    type: object
                    properties:
                      id:
                        type: integer
                        example: 123
        4xx:
          description: Error
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: object
                    properties:
                      code:
                        type: integer
                        example: 404
                      message:
                        type: string
                        example: not found
      x-codegen-request-body-name: body
  /debts/{debt_id}:
    get:
      tags:
        - Debts
      summary: Get debt record by id
      operationId: debtRead
      parameters:
        - name: debt_id
          in: path
          description: Id of debt to be returned
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    $ref: '#/components/schemas/Status'
                  response:
                    $ref: '#/components/schemas/Debt'
        4xx:
          description: Error
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: object
                    properties:
                      code:
                        type: integer
                        example: 404
                      message:
                        type: string
                        example: not found
    put:
      tags:
        - Debts
      summary: Update debt record by id
      operationId: debtUpdate
      parameters:
        - name: debt_id
          in: path
          description: Id of debt to be updated
          required: true
          schema:
            type: integer
      requestBody:
        description: Debt object to be updated
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Debt'
        required: true
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    $ref: '#/components/schemas/Status'
                  response:
                    type: object
                    properties: {}
        4xx:
          description: Error
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: object
                    properties:
                      code:
                        type: integer
                        example: 404
                      message:
                        type: string
                        example: not found
      x-codegen-request-body-name: body
  /debts/{id}/notes:
    post:
      tags:
        - Debts
      summary: Save debt notes
      operationId: debtNotesSave
      parameters:
        - name: id
          in: path
          description: Id of debt
          required: true
          schema: {}
      requestBody:
        description: Notes object
        content:
          application/json:
            schema:
              type: object
              properties:
                notify_users:
                  type: array
                  description: notify users
                content:
                  type: string
                  description: notes
        required: false
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    $ref: '#/components/schemas/Status'
                  response:
                    type: object
                    properties: {}
        4xx:
          description: Error
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: object
                    properties:
                      code:
                        type: integer
                        example: 404
                      message:
                        type: string
                        example: not found
      x-codegen-request-body-name: body
  /debts/notes/{id}:
    delete:
      tags:
        - Debts
      summary: Delete debt notes
      operationId: debtNoteDelete
      parameters:
        - name: id
          in: path
          description: Id of debt
          required: true
          schema: {}
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    $ref: '#/components/schemas/Status'
                  response:
                    type: object
                    properties: {}
        4xx:
          description: Error
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: object
                    properties:
                      code:
                        type: integer
                        example: 404
                      message:
                        type: string
                        example: not found
  /debts/{id}/task:
    post:
      tags:
        - Debts
      summary: Add tasks by debt id
      operationId: debtTaskAdd
      parameters:
        - name: id
          in: path
          description: Id of debt
          required: true
          schema: {}
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                assigned_to:
                  type: object
                  properties:
                    id:
                      type: integer
                      description: Add Debt Task
                    type:
                      type: string
                      description: Add Debt Task
                  description: Add Debt Task
                defined_task:
                  type: integer
                  description: Add Debt Task
                task_name:
                  type: string
                  description: Add Debt Task
        required: false
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    $ref: '#/components/schemas/Status'
                  response:
                    $ref: '#/components/schemas/DebtTask'
        4xx:
          description: Error
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: object
                    properties:
                      code:
                        type: integer
                        example: 404
                      message:
                        type: string
                        example: not found
      x-codegen-request-body-name: body
  /debts/getLists:
    post:
      tags:
        - Debts
      summary: Get lists
      operationId: debtListsGet
      requestBody:
        description: List object
        content:
          application/json:
            schema:
              type: object
              properties:
                debt_id:
                  type: integer
                  description: Get lists
                debt_info:
                  type: string
                  description: Get lists
        required: false
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    $ref: '#/components/schemas/Status'
                  response:
                    type: array
                    description: Get lists
        4xx:
          description: Error
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: object
                    properties:
                      code:
                        type: integer
                        example: 404
                      message:
                        type: string
                        example: not found
      x-codegen-request-body-name: body
  /documents:
    get:
      tags:
        - Documents
      summary: Get All Documents
      operationId: documentsGet
      parameters:
        - name: state
          in: query
          description: state
          schema:
            type: string
        - name: file_type
          in: query
          description: file type
          schema:
            type: string
      responses:
        default:
          description: default
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    $ref: '#/components/schemas/Status'
                  response:
                    type: array
                    description: Get All Documents
                    items:
                      $ref: '#/components/schemas/Document'
  /documents/template/{id}:
    get:
      tags:
        - Documents
      summary: get document`s template
      operationId: documentTemplateGet
      parameters:
        - name: id
          in: path
          description: Id of template to be returned
          required: true
          schema:
            type: integer
      responses:
        default:
          description: default
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    $ref: '#/components/schemas/Status'
                  response:
                    type: array
                    description: get document`s template
                    items:
                      $ref: '#/components/schemas/Document'
  /documents/{template_id}:
    post:
      tags:
        - Documents
      summary: Generate Document by Template Id
      operationId: documentGenerate
      parameters:
        - name: template_id
          in: path
          description: template_id
          required: true
          schema:
            type: integer
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                contact_id:
                  type: integer
                  description: contact_id
                debt_id:
                  type: integer
                  description: debt_id
                tags:
                  type: array
                  description: tags
                syndication_id:
                  type: integer
                  description: syndication_id
                order_id:
                  type: integer
                  description: order_id
                loan_id:
                  type: integer
                  description: loan_id
        required: false
      responses:
        default:
          description: default
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    $ref: '#/components/schemas/Status'
                  response:
                    type: object
                    properties:
                      html:
                        type: string
                        description: Generate Document by Template Id
                      doc_id:
                        type: integer
                        description: Generate Document by Template Id
                      doc_data:
                        type: string
                        description: Generate Document by Template Id
                    description: Generate Document by Template Id
      x-codegen-request-body-name: body
  /documents/document-types:
    get:
      tags:
        - Documents
      summary: Get All Document Types
      operationId: documentTypesGet
      responses:
        default:
          description: default
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    $ref: '#/components/schemas/Status'
                  response:
                    type: array
                    description: Get All Document Types
                    items:
                      type: object
                      properties:
                        key:
                          type: integer
                          description: Get All Document Types
                        title:
                          type: string
                          description: Get All Document Types
  /documents/getfile:
    post:
      tags:
        - Documents
      summary: Get Document File
      operationId: documentFileGet
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                document_id:
                  type: integer
                  description: debt_id
                contact_id:
                  type: integer
                  description: contact_id
                file_type:
                  type: string
                  description: file_type
                guid:
                  type: string
                  description: guid
        required: false
      responses:
        default:
          content:
            application/json:
              schema:
                type: string
                format: binary
      x-codegen-request-body-name: body
  /documents/htmltopdf:
    post:
      tags:
        - Documents
      summary: Convert HTML to PDF
      requestBody:
        description: HTML files to be converted
        content:
          application/json:
            schema:
              type: object
              properties:
                contact_id:
                  type: integer
                  description: Convert HTML to PDF
                files:
                  type: array
                  description: Convert HTML to PDF
                  items:
                    type: object
                    properties:
                      title:
                        type: string
                        description: Convert HTML to PDF
                      header:
                        type: string
                        description: Convert HTML to PDF
                      body:
                        type: string
                        description: Convert HTML to PDF
                      footer:
                        type: string
                        description: Convert HTML to PDF
        required: true
      responses:
        default:
          description: default
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    $ref: '#/components/schemas/Status'
                  response:
                    type: array
                    description: Convert HTML to PDF
                    items:
                      type: object
                      properties:
                        title:
                          type: string
                          description: Convert HTML to PDF
                        body:
                          type: string
                          description: Convert HTML to PDF
        error:
          description: some error
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: object
                    properties:
                      code:
                        type: integer
                        example: 404
                      message:
                        type: string
                        example: not found
      x-codegen-request-body-name: body
  /importcsv:
    post:
      tags:
        - Import
      summary: Import CSV File
      operationId: CSVimport
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                map:
                  type: array
                  description: map
                object:
                  type: array
                  description: object
                csv:
                  type: file
                  description: csv
                  format: binary
        required: false
      responses:
        default:
          description: default
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    $ref: '#/components/schemas/Status'
                  response:
                    type: object
                    properties:
                      import_id:
                        type: integer
                        description: Import CSV File
                    description: Import CSV File
      x-codegen-request-body-name: body
  /validatecsv:
    post:
      tags:
        - Import
      summary: Validate CSV File
      operationId: CSVvalidate
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                map:
                  type: array
                  description: map
                object:
                  type: array
                  description: object
                csv:
                  type: file
                  description: csv
                  format: binary
        required: false
      responses:
        default:
          description: default
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    $ref: '#/components/schemas/Status'
                  response:
                    type: object
                    properties:
                      import_id:
                        type: integer
                        description: Validate CSV File
                      bad_rows:
                        type: array
                        description: Validate CSV File
                      valid:
                        type: integer
                        description: Validate CSV File
                    description: Validate CSV File
      x-codegen-request-body-name: body
  /import/{import_id}/status:
    get:
      tags:
        - Import
      summary: Get Status of CSV Import
      operationId: CSVstatusGet
      parameters:
        - name: import_id
          in: path
          description: import_id
          required: true
          schema:
            type: integer
      responses:
        default:
          description: default
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    $ref: '#/components/schemas/Status'
                  response:
                    type: object
                    properties:
                      completed:
                        type: integer
                        description: Get Status of CSV Import
                      updates:
                        type: array
                        description: Get Status of CSV Import
                        items:
                          type: object
                          properties:
                            timestamp:
                              type: string
                              description: Get Status of CSV Import
                              format: date-time
                            message:
                              type: string
                              description: Get Status of CSV Import
                    description: Get Status of CSV Import
  /lenders:
    get:
      tags:
        - Lenders
      summary: Get Available Lenders
      operationId: lendersAvailableGet
      responses:
        default:
          description: default
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    $ref: '#/components/schemas/Status'
                  response:
                    type: object
                    properties:
                      lenders:
                        type: array
                        description: Get Available Lenders
                    description: Get Available Lenders
  /lenders/offer/{offer_id}:
    get:
      tags:
        - Lenders
      summary: Get Lender Offers by Id
      operationId: lenderLoanOfferGet
      parameters:
        - name: offer_id
          in: path
          description: Id of loan offer
          required: true
          schema:
            type: integer
      responses:
        default:
          description: default
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    $ref: '#/components/schemas/Status'
                  response:
                    $ref: '#/components/schemas/LoanOffer'
  /loans:
    post:
      tags:
        - Loans
      summary: Create a new loan record
      operationId: loanCreate
      requestBody:
        description: Loan object to be created
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Loan'
        required: true
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    $ref: '#/components/schemas/Status'
                  response:
                    type: object
                    properties:
                      id:
                        type: integer
                        example: 123
        4xx:
          description: Error
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: object
                    properties:
                      code:
                        type: integer
                        example: 404
                      message:
                        type: string
                        example: not found
      x-codegen-request-body-name: body
  /loans/{loan_id}:
    get:
      tags:
        - Loans
      summary: Get loan record by id
      operationId: loanRead
      parameters:
        - name: loan_id
          in: path
          description: Id of loan to be returned
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    $ref: '#/components/schemas/Status'
                  response:
                    $ref: '#/components/schemas/Loan'
        4xx:
          description: Error
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: object
                    properties:
                      code:
                        type: integer
                        example: 404
                      message:
                        type: string
                        example: not found
    put:
      tags:
        - Loans
      summary: Update loan record by id
      operationId: loanUpdate
      parameters:
        - name: loan_id
          in: path
          description: Id of loan to be updated
          required: true
          schema:
            type: integer
      requestBody:
        description: Loan object to be updated
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Loan'
        required: true
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    $ref: '#/components/schemas/Status'
                  response:
                    type: object
                    properties: {}
        4xx:
          description: Error
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: object
                    properties:
                      code:
                        type: integer
                        example: 404
                      message:
                        type: string
                        example: not found
      x-codegen-request-body-name: body
    delete:
      tags:
        - Loans
      summary: Delete loan record by id
      operationId: loanDelete
      parameters:
        - name: loan_id
          in: path
          description: Id of loan to be deleted
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    $ref: '#/components/schemas/Status'
                  response:
                    type: object
                    properties: {}
        4xx:
          description: Error
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: object
                    properties:
                      code:
                        type: integer
                        example: 404
                      message:
                        type: string
                        example: not found
  /notes:
    post:
      tags:
        - Notes
      summary: Create a new note record
      operationId: noteCreate
      requestBody:
        description: Note Object to be created
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Note'
        required: true
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    $ref: '#/components/schemas/Status'
                  response:
                    type: object
                    properties:
                      id:
                        type: integer
                        example: 123
        4xx:
          description: Error
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: object
                    properties:
                      code:
                        type: integer
                        example: 404
                      message:
                        type: string
                        example: not found
      x-codegen-request-body-name: body
  /notes/{note_id}:
    get:
      tags:
        - Notes
      summary: Get note record by id
      operationId: noteRead
      parameters:
        - name: note_id
          in: path
          description: Id of note to be returned
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    $ref: '#/components/schemas/Status'
                  response:
                    $ref: '#/components/schemas/Note'
        4xx:
          description: Error
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: object
                    properties:
                      code:
                        type: integer
                        example: 404
                      message:
                        type: string
                        example: not found
    put:
      tags:
        - Notes
      summary: Update note record by id
      operationId: noteUpdate
      parameters:
        - name: note_id
          in: path
          description: Id of note to be updated
          required: true
          schema:
            type: integer
      requestBody:
        description: Note object to be update
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Note'
        required: true
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    $ref: '#/components/schemas/Status'
                  response:
                    type: object
                    properties: {}
        4xx:
          description: Error
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: object
                    properties:
                      code:
                        type: integer
                        example: 404
                      message:
                        type: string
                        example: not found
      x-codegen-request-body-name: body
    delete:
      tags:
        - Notes
      summary: Delete note record by id
      operationId: noteDelete
      parameters:
        - name: note_id
          in: path
          description: Id of note to be deleted
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    $ref: '#/components/schemas/Status'
                  response:
                    type: object
                    properties: {}
        4xx:
          description: Error
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: object
                    properties:
                      code:
                        type: integer
                        example: 404
                      message:
                        type: string
                        example: not found
  /note_templates:
    get:
      tags:
        - Notes
      summary: get note templates
      description: Id of note to be deleted
      operationId: noteTemplates
      responses:
        default:
          description: default
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    $ref: '#/components/schemas/Status'
                  response:
                    type: array
                    description: get note templates
  /documents/packages:
    get:
      tags:
        - Packages
      summary: Get All Document Packages
      operationId: packagesRead
      responses:
        default:
          description: default
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    $ref: '#/components/schemas/Status'
                  response:
                    type: array
                    description: Get All Document Packages
                    items:
                      type: object
                      properties:
                        key:
                          type: integer
                          description: Get All Document Packages
                        title:
                          type: string
                          description: Get All Document Packages
    post:
      tags:
        - Packages
      summary: Create Document Package
      operationId: packageCreate
      requestBody:
        description: Package object
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Package'
        required: true
      responses:
        default:
          description: default
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    $ref: '#/components/schemas/Status'
                  response:
                    $ref: '#/components/schemas/Contact'
      x-codegen-request-body-name: body
  /documents/package/{id}:
    get:
      tags:
        - Packages
      summary: Get Document Package By Id
      operationId: packageRead
      parameters:
        - name: id
          in: path
          description: package id
          required: true
          schema:
            type: integer
      responses:
        default:
          description: default
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    $ref: '#/components/schemas/Status'
                  response:
                    type: array
                    description: Get Document Package By Id
                    items:
                      type: object
                      properties:
                        key:
                          type: integer
                          description: Get Document Package By Id
                        title:
                          type: string
                          description: Get Document Package By Id
    post:
      tags:
        - Packages
      summary: Update Document Package By Id
      operationId: packageUpdate
      parameters:
        - name: id
          in: path
          description: Id of package to be Updated
          required: true
          schema:
            type: integer
      requestBody:
        description: Contact object
        content:
          application/json: {}
        required: true
      responses:
        default:
          description: default
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    $ref: '#/components/schemas/Status'
                  response:
                    $ref: '#/components/schemas/Contact'
      x-codegen-request-body-name: body
  /roles:
    get:
      tags:
        - Users
      summary: Get user roles
      operationId: rolesRead
      responses:
        default:
          description: default
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    $ref: '#/components/schemas/Status'
                  response:
                    type: array
                    description: Get user roles
                    items:
                      type: object
                      properties:
                        id:
                          type: integer
                          description: Get user roles
                        name:
                          type: string
                          description: Get user roles
  /sendemail:
    post:
      tags:
        - Emails
      summary: Send Email
      operationId: emailSend
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                contact_to_id:
                  type: integer
                  description: contact_to_id
                fromemail:
                  type: string
                  description: fromemail
        required: false
      responses:
        default:
          description: default
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    $ref: '#/components/schemas/Status'
                  response:
                    type: object
                    properties: {}
        error:
          description: some error
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: object
                    properties:
                      code:
                        type: integer
                        example: 404
                      message:
                        type: string
                        example: not found
      x-codegen-request-body-name: body
  /sendemail/getecontent:
    get:
      tags:
        - Emails
      summary: Get Sendmail Content
      operationId: emailContentGet
      responses:
        default:
          description: default
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    $ref: '#/components/schemas/Status'
                  response:
                    type: object
                    properties: {}
        error:
          description: some error
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: object
                    properties:
                      code:
                        type: integer
                        example: 404
                      message:
                        type: string
                        example: not found
  /sendemail/getetemplates:
    get:
      tags:
        - Emails
      summary: Get Sendmail Templates
      operationId: emailTemplateGet
      responses:
        default:
          description: default
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    $ref: '#/components/schemas/Status'
                  response:
                    type: array
                    description: Get Sendmail Templates
                    items:
                      $ref: '#/components/schemas/Ecampaign'
  /settings/group/{group}/values:
    get:
      tags:
        - Settings
      summary: Get Settings Values by Group Id
      operationId: settingsGroupValues
      parameters:
        - name: group
          in: path
          description: Id of Group to be read
          required: true
          schema:
            type: integer
      responses:
        default:
          description: default
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    $ref: '#/components/schemas/Status'
                  response:
                    type: object
                    properties: {}
  /settings/values/{settings_key}:
    get:
      tags:
        - Settings
      summary: Get Settings Values by Settings Key
      operationId: settingsValues
      parameters:
        - name: settings_key
          in: path
          description: Key of Setting to be read
          required: true
          schema:
            type: string
      responses:
        default:
          description: default
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    $ref: '#/components/schemas/Status'
                  response:
                    type: object
                    properties: {}
  /settings/group/{group}/definitions:
    get:
      tags:
        - Settings
      summary: Get Group Definition by Group Id
      operationId: settingsGroupDefinitions
      parameters:
        - name: group
          in: path
          description: Id of Group to be read
          required: true
          schema:
            type: integer
      responses:
        default:
          description: default
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    $ref: '#/components/schemas/Status'
                  response:
                    type: object
                    properties: {}
  /settlement_offers:
    post:
      tags:
        - Settlement offers
      summary: Create a new settlement offer record
      operationId: settlementOfferCreate
      requestBody:
        description: Settlement Offer Object to be created
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Settlementoffer'
        required: true
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    $ref: '#/components/schemas/Status'
                  response:
                    type: object
                    properties:
                      id:
                        type: integer
                        example: 123
        4xx:
          description: Error
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: object
                    properties:
                      code:
                        type: integer
                        example: 404
                      message:
                        type: string
                        example: not found
      x-codegen-request-body-name: body
  /settlement_offers/{offer_id}:
    get:
      tags:
        - Settlement offers
      summary: Get settlement offer record by id
      operationId: settlementOfferRead
      parameters:
        - name: offer_id
          in: path
          description: Id of settlement offer to be returned
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    $ref: '#/components/schemas/Status'
                  response:
                    $ref: '#/components/schemas/Settlementoffer'
        4xx:
          description: Error
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: object
                    properties:
                      code:
                        type: integer
                        example: 404
                      message:
                        type: string
                        example: not found
    put:
      tags:
        - Settlement offers
      summary: Update settlement offer by id
      operationId: settlementOfferUpdate
      parameters:
        - name: offer_id
          in: path
          description: Id of settlement offer to be updated
          required: true
          schema:
            type: integer
      requestBody:
        description: Settlement offer object that will be update
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Settlementoffer'
        required: true
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    $ref: '#/components/schemas/Status'
                  response:
                    type: object
                    properties: {}
        4xx:
          description: Error
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: object
                    properties:
                      code:
                        type: integer
                        example: 404
                      message:
                        type: string
                        example: not found
      x-codegen-request-body-name: body
    delete:
      tags:
        - Settlement offers
      summary: Delete settlement offer record by id
      operationId: settlementOfferDelete
      parameters:
        - name: offer_id
          in: path
          description: Id of settlement offer to be deleted
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    $ref: '#/components/schemas/Status'
                  response:
                    type: object
                    properties: {}
        4xx:
          description: Error
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: object
                    properties:
                      code:
                        type: integer
                        example: 404
                      message:
                        type: string
                        example: not found
  /settlements/{id}/contact:
    get:
      tags:
        - Settlements
      summary: Get the contact as defined within this settlement
      operationId: settlementsContactGet
      parameters:
        - name: id
          in: path
          description: Settlement ID
          required: true
          schema: {}
      responses:
        default:
          description: default
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    $ref: '#/components/schemas/Status'
                  response:
                    $ref: '#/components/schemas/Contact'
  /settlements/{id}/contacts:
    get:
      tags:
        - Settlements
      summary: Get the contacts as defined within this settlement
      operationId: settlementsContactsGet
      parameters:
        - name: id
          in: path
          description: Settlement ID
          required: true
          schema: {}
      responses:
        default:
          description: default
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    $ref: '#/components/schemas/Status'
                  response:
                    type: array
                    description: Get the contacts as defined within this settlement
                    items:
                      $ref: '#/components/schemas/Contact'
  /settlements/{id}/extended:
    get:
      tags:
        - Settlements
      summary: Get Extended Information by Settlements Id
      operationId: settlementsExtendedGet
      parameters:
        - name: id
          in: path
          description: Settlement ID
          required: true
          schema: {}
      responses:
        default:
          description: default
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    $ref: '#/components/schemas/Status'
                  response:
                    type: array
                    description: Get Extended Information by Settlements Id
                    items:
                      $ref: '#/components/schemas/Contact'
  /settlements/{id}/debt:
    get:
      tags:
        - Settlements
      summary: Get the debt as defined within this settlement
      operationId: settlementsDebtGet
      parameters:
        - name: id
          in: path
          description: Settlement ID
          required: true
          schema: {}
      responses:
        default:
          description: default
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    $ref: '#/components/schemas/Status'
                  response:
                    $ref: '#/components/schemas/Debt'
  /settlements/{id}/snapshot:
    get:
      tags:
        - Settlements
      summary: Get snapshot
      operationId: settlementsSnapshotGet
      parameters:
        - name: id
          in: path
          description: Settlement ID
          required: true
          schema: {}
      responses:
        default:
          description: default
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    $ref: '#/components/schemas/Status'
                  response:
                    type: object
                    properties: {}
  /settlements/{id}/assignments:
    get:
      tags:
        - Settlements
      summary: Get assignments
      operationId: settlementsAssignmentsGet
      parameters:
        - name: id
          in: path
          description: Settlement ID
          required: true
          schema: {}
      responses:
        default:
          description: default
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    $ref: '#/components/schemas/Status'
                  response:
                    type: array
                    description: Get assignments
                    items:
                      $ref: '#/components/schemas/CompanyAssignment'
  /settlements/{id}/documents:
    get:
      tags:
        - Settlements
      summary: Get documents
      operationId: settlementsDocumentsGet
      parameters:
        - name: id
          in: path
          description: Settlement ID
          required: true
          schema: {}
      responses:
        default:
          description: default
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    $ref: '#/components/schemas/Status'
                  response:
                    type: array
                    description: Get documents
                    items:
                      $ref: '#/components/schemas/ContactsFile'
  /settlements/{id}:
    get:
      tags:
        - Settlements
      summary: Get settlement
      operationId: settlementGet
      parameters:
        - name: id
          in: path
          description: Settlement ID
          required: true
          schema: {}
      responses:
        default:
          description: default
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    $ref: '#/components/schemas/Status'
                  response:
                    $ref: '#/components/schemas/Settlementoffer'
  /settlements/settings:
    get:
      tags:
        - Settlements
      summary: get Settlements Setting
      operationId: settlementsSettings
      responses:
        default:
          description: default
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    $ref: '#/components/schemas/Status'
                  response:
                    type: array
                    description: get Settlements Setting
                    items:
                      $ref: '#/components/schemas/SettlementsSetting'
  /settlements/settings/getworkflow:
    post:
      tags:
        - Settlements
      summary: get Settlements settings workflow
      operationId: settlementsWorkflowGet
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                workflows:
                  type: array
                  description: workflows
                workflowtype:
                  type: string
                  description: workflowtype
                workflow_access:
                  type: array
                  description: workflow_access
        required: false
      responses:
        default:
          description: default
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    $ref: '#/components/schemas/Status'
                  response:
                    type: object
                    properties: {}
      x-codegen-request-body-name: body
  /check_funds/mca:
    post:
      tags:
        - Supervest
      summary: check Funds
      operationId: fundingCheck
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
[...]
