openapi: 3.0.0
info:
  title: DebtPayPro API
  description: ' '
  version: 1.0.0
  contact:
    name: Support
    email: support@debtpaypro.com
servers:
  - url: 'https://api.debtpaypro.com/v1'
    description: Production
  - url: 'https://staging8-api.debtpaypro.com/v1'
    description: Staging8
tags:
  - name: Auth
    description: All available actions for Auth
  - name: Calls
    description: All available actions for Calls
  - name: Campaigns
    description: All available actions for Campaigns
  - name: Companies
    description: All available actions for Companies
  - name: Contacts
    description: All available actions for Contacts
  - name: Debts
    description: All available actions for Debts
  - name: DebtNotes
    description: All available actions for DebtNotes
  - name: DebtTasks
    description: All available actions for DebtTasks
  - name: Documents
    description: All available actions for Documents
  - name: DocumentTypes
    description: All available actions for DocumentTypes
  - name: Forms
    description: Actions associated with Forms
  - name: Loans
    description: All available actions for Loans
  - name: Notes
    description: All available actions for Notes
  - name: Packages
    description: All available actions for Packages
  - name: Settlement_Offers
    description: All available actions for Settlement Offers
  - name: SMS
    description: Actions associated with SMS Messages
  - name: Tasks
    description: All available actions for Tasks
  - name: Teams
    description: All available actions for Teams
  - name: Users
    description: All available actions for Users
paths:
  /auth/token:
    post:
      tags:
        - Auth
      summary: Get API Authorization Token
      description: Receive an API Authorization Token. The Token that is returned can be entered for any API Request that requires an *Api-Key*.
      operationId: authGetToken
      requestBody:
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                client_secret:
                  type: string
                client_id:
                  type: string
              required:
                - client_secret
                - client_id
      security: []
      responses:
        default:
          description: default
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    $ref: '#/components/schemas/Status'
                  response:
                    type: array
                    description: Get API Authization Token
                    items:
                      type: object
                      properties:
                        api_key:
                          type: string
                          description: API Authorization Token
                        expires_in:
                          type: integer
                          description: Time Until Token Expires
  /calls:
    post:
      summary: Create a Call Record
      description: |-
        Creates a Call Record and log the call to a client.

        <span><i class="fa fa-info-circle"></i><i style="font-size:12px"> Select the `'Examples'` option to change the content of the request's Body to ONLY contain the required POST Parameters.</i></span>
      operationId: callCreate
      tags:
        - Calls
      requestBody:
        description: ''
        required: true
        content:
          application/json:
            schema:
              $ref: ./models/CallRequest.yaml
            examples:
              Request:
                value:
                  contactID: 475956560
                  sdate: '2019-08-24'
                  call_type: Outgoing
                  call_result: Busy
                  notes: Lorem Ipsum
                  status_change: 274158
                  duration: '00:01:15'
                  event_id: 8179
                  dialer_id: 1
                  recording_url: 'https://stairwork.ru/test.mp3'
                  assigned_agent: 432156
              Required Parameters Only:
                value:
                  contactID: 475956560
                  call_type: Outgoing
                  call_result: Busy
      responses:
        '200':
          description: Successfully created a Call Record
          content:
            application/json:
              schema:
                type: object
                properties:
                  response:
                    type: object
                  status:
                    $ref: ./models/SuccessStatus.yaml
              examples:
                Call Example 200 POST Response:
                  value:
                    response:
                      id: 385319179
                    status:
                      code: 200
        '400':
          description: Error
          content:
            application/json:
              schema:
                required:
                  - status
                properties:
                  status:
                    $ref: ./models/ErrorStatus.yaml
              examples:
                Call Example 400 Response:
                  value:
                    status:
                      code: 400
                      message: 'Input Parsing Error: unexpected character'
  '/calls/{id}':
    get:
      tags:
        - Calls
      summary: Find a Call Record by ID
      description: Returns a Call Record
      operationId: callRead
      parameters:
        - name: id
          in: path
          description: Id of Call Record to return
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: Successfully retrieved a Call Record
          content:
            application/json:
              schema:
                type: object
                properties:
                  response:
                    $ref: ./models/CallResponse.yaml
                  status:
                    $ref: ./models/SuccessStatus.yaml
              examples:
                Call GET 200 Response Example:
                  value:
                    response:
                      object: call
                      id: 392857759
                      acctID: 3863
                      contactID: 382760691
                      userID: 4950368
                      sdate: '2021-12-09'
                      created_at: '2021-12-09 09:52:21'
                      call_type: Outgoing
                      call_result: Busy
                      notes: Lorem Ipsum
                      status_change: 274158
                      duration: '00:01:15'
                      event_id: '8179'
                      dialer_id: '2'
                      recording_url: 'https://www.testcallrecording.com'
                      assigned_agent:
                        object: user
                        id: '4950368'
                        acctID: '3863'
                        company_id: '42128'
                        parent_id: '0'
                        user_type: '1'
                        created: '2019-10-02 02:41:18'
                        user_name: JohnD
                        firstname: John
                        lastname: Doe
                        company: ''
                        email: test@debtpaypro.com
                        active: '1'
                        role: '29399'
                        attorney: '0'
                        payee_id: '0'
                        del: '0'
                        delTime: null
                        pass_reset: '0'
                    status:
                      code: 200
        '400':
          description: Error
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    $ref: ./models/ErrorStatus.yaml
                required:
                  - status
              examples:
                Call GET 400 Response Example:
                  value:
                    status:
                      code: 400
                      message: 'Input Parsing Error: unexpected character'
    put:
      tags:
        - Calls
      summary: Update a Call Record by ID
      description: Updates a Call Record
      operationId: callUpdate
      requestBody:
        description: ''
        required: true
        content:
          application/json:
            schema:
              $ref: ./models/CallRequest.yaml
            examples:
              Request:
                value:
                  contactID: 516553837
                  sdate: '2019-08-24'
                  call_type: Outgoing
                  call_result: Busy
                  notes: Lorem Ipsum
                  status_change: 274158
                  duration: '00:01:15'
                  event_id: 8179
                  dialer_id: 1
                  recording_url: 'https://www.testcallrecording.com'
      parameters:
        - name: id
          in: path
          description: Id of Call Record to update
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: Successfully Updated a Call Record
          content:
            application/json:
              schema:
                type: object
                properties:
                  response:
                    $ref: ./models/CallResponse.yaml
                  status:
                    $ref: ./models/SuccessStatus.yaml
              examples:
                Call PUT 200 Response Example:
                  value:
                    response:
                      object: call
                      id: 392857759
                      acctID: 3863
                      contactID: 382760691
                      userID: 4950368
                      sdate: '2021-12-09'
                      created_at: '2021-12-09 09:52:21'
                      call_type: Outgoing
                      call_result: Busy
                      notes: Lorem Ipsum
                      status_change: 274158
                      duration: '00:01:15'
                      event_id: '8179'
                      dialer_id: '2'
                      recording_url: 'https://www.testcallrecording.com'
                      assigned_agent:
                        object: user
                        id: '4950368'
                        acctID: '3863'
                        company_id: '42128'
                        parent_id: '0'
                        user_type: '1'
                        created: '2019-10-02 02:41:18'
                        user_name: JohnD
                        firstname: John
                        lastname: Doe
                        company: ''
                        email: test@debtpaypro.com
                        active: '1'
                        role: '29399'
                        attorney: '0'
                        payee_id: '0'
                        del: '0'
                        delTime: null
                        pass_reset: '0'
                    status:
                      code: 200
        '400':
          description: Error
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    $ref: ./models/ErrorStatus.yaml
                required:
                  - status
              examples:
                Call PUT 400 Response Example:
                  value:
                    status:
                      code: 400
                      message: 'Input Parsing Error: unexpected character'
    delete:
      tags:
        - Calls
      summary: Delete Call Record by ID
      description: Deletes a Call Record
      operationId: callDelete
      parameters:
        - name: id
          in: path
          description: Id of Call Record to be deleted
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: Successfully Deleted a Call Record
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    $ref: ./models/SuccessStatus.yaml
              examples:
                Calls DELETE 200 Response Example:
                  value:
                    status:
                      code: 200
                      message: Successfully deleted object
        '400':
          description: Error
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    $ref: ./models/ErrorStatus.yaml
                required:
                  - status
              examples:
                Call DELETE 400 Response Example:
                  value:
                    status:
                      code: 400
                      message: 'Input Parsing Error: unexpected character'
  /campaigns/e-mail:
    post:
      tags:
        - Campaigns
      summary: Create a Campaign Record
      description: |-
        Creates a Campaign Record

        <span><i class="fa fa-info-circle"></i><i style="font-size:12px"> Select the `'Examples'` option to change the content of the request's Body to ONLY contain the required POST Parameters.</i></span>
      operationId: campaignCreate
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: ./models/CampaignRequest.yaml
            examples:
              Request:
                value:
                  active: true
                  title: Campaign Title
                  start_date: '2019-08-24'
                  end_date: '2019-08-24'
                  source_id: 3184
                  cost: 1984.25
                  cost_type: 1
                  priority: 4
                  media_type: 1
                  purchase_amount: 42
              Required Parameters Only:
                value:
                  title: Campaign Title
                  start_date: '2019-08-24'
                  end_date: '2019-08-24'
                  cost: 1984.25
                  media_type: 1
      responses:
        '200':
          description: Successfully created a Campaign Record
          content:
            application/json:
              schema:
                type: object
                properties:
                  response:
                    type: object
                  status:
                    $ref: ./models/SuccessStatus.yaml
              examples:
                Campaign POST 200 Response Example:
                  value:
                    response:
                      id: 152283
                    status:
                      code: 200
        '400':
          description: Error
          content:
            application/json:
              schema:
                required:
                  - status
                properties:
                  status:
                    $ref: ./models/ErrorStatus.yaml
              examples:
                Campaigns POST 400 Response Example:
                  value:
                    status:
                      code: 400
                      message: 'Input Parsing Error: unexpected character'
  '/campaigns/e-mail/{id}':
    get:
      tags:
        - Campaigns
      summary: Find a Campaign Record by ID
      description: Returns a Campaign Record
      operationId: campaignRead
      parameters:
        - name: id
          in: path
          description: Id of Campaign Record to return
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: Successfully retrieved a Campaign Record
          content:
            application/json:
              schema:
                type: object
                properties:
                  response:
                    $ref: ./models/CampaignResponse.yaml
                  status:
                    $ref: ./models/SuccessStatus.yaml
              examples:
                Campaign GET 200 Response Example:
                  value:
                    response:
                      object: campaign
                      id: 177286
                      acctID: 3863
                      company_id: 21752
                      active: true
                      created_at: '2019-08-24T14:15:22Z'
                      created_by: 3028014
                      token: string
                      title: Campaign Title
                      start_date: '2019-08-24'
                      end_date: '2019-08-24'
                      source_id: 3184
                      cost: 1984.25
                      cost_type: 1
                      priority: 4
                      external_id: 0
                      media_type: 1
                      purchase_amount: 42
                      del: false
                      del_by: 0
                      deltime: '2019-08-24T14:15:22Z'
                    status:
                      code: 200
        '400':
          description: Error
          content:
            application/json:
              schema:
                required:
                  - status
                properties:
                  status:
                    $ref: ./models/ErrorStatus.yaml
              examples:
                Campaign GET 400 Response Example:
                  value:
                    status:
                      code: 400
                      message: 'Input Parsing Error: unexpected character'
    put:
      tags:
        - Campaigns
      summary: Update a Campaign Record by ID
      description: Updates a Campaign Record
      operationId: campaignUpdate
      parameters:
        - name: id
          in: path
          description: Id of Campaign Record to update
          required: true
          schema:
            type: integer
      requestBody:
        content:
          application/json:
            schema:
              $ref: ./models/CampaignResponse.yaml
      responses:
        '200':
          description: Successfully updated a Campaign Record
          content:
            application/json:
              schema:
                type: object
                properties:
                  response:
                    $ref: ./models/CampaignResponse.yaml
                  status:
                    $ref: ./models/SuccessStatus.yaml
              examples:
                Campaign PUT 200 Response Example:
                  value:
                    response:
                      object: campaign
                      id: 177286
                      acctID: 3863
                      company_id: 21752
                      active: true
                      created_at: '2019-08-24T14:15:22Z'
                      created_by: 3028014
                      token: string
                      title: Campaign Title
                      start_date: '2019-08-24'
                      end_date: '2019-08-24'
                      source_id: 3184
                      cost: 1984.25
                      cost_type: 1
                      priority: 4
                      external_id: 0
                      media_type: 1
                      purchase_amount: 42
                      del: false
                      del_by: 0
                      deltime: '2019-08-24T14:15:22Z'
                    status:
                      code: 200
        '400':
          description: Error
          content:
            application/json:
              schema:
                required:
                  - status
                properties:
                  status:
                    $ref: ./models/ErrorStatus.yaml
              examples:
                Campaign PUT 400 Response Example:
                  value:
                    status:
                      code: 400
                      message: 'Input Parsing Error: unexpected character'
    delete:
      tags:
        - Campaigns
      summary: Delete a Campaign Record by ID
      description: Deletes a Campaign Record
      operationId: campaignDelete
      parameters:
        - name: id
          in: path
          description: Id of Campaign Record to delete
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: Successfully deleted Campaign Record
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    $ref: ./models/SuccessStatus.yaml
              examples:
                Campaign DELETE 200 Response Example:
                  value:
                    status:
                      code: 200
                      message: Successfully deleted object
        '400':
          description: Error
          content:
            application/json:
              schema:
                required:
                  - status
                properties:
                  status:
                    $ref: ./models/ErrorStatus.yaml
              examples:
                Campaign DELETE 400 Response Example:
                  value:
                    status:
                      code: 400
                      message: 'Input Parsing Error: unexpected character'
  /contacts:
    post:
      tags:
        - Contacts
      summary: Create a Contact Record
      description: |-
        Creates a Contact Record

        <span><i class="fa fa-info-circle"></i><i style="font-size:12px"> Select the `'Examples'` option to change the content of the request's Body to ONLY contain the required POST Parameters.</i></span>
      operationId: contactCreate
      requestBody:
        description: ''
        required: true
        content:
          application/json:
            schema:
              $ref: ./models/ContactRequest.yaml
            examples:
              Request:
                value:
                  file_type: 1
                  form_id: 18626
                  assigned_to: 6045085
                  campaign_id: 128312
                  attorney: false
                  attorney_id: 0
                  attorney_id2: 0
                  first_name: John
                  middle_name: E.
                  last_name: Doe
                  salutation: Salutation
                  title: Mr.
                  phone_number: '12242525887'
                  phone_extension: 123
                  cell_phone: '12242525887'
                  cell_extension: 123
                  work_phone: '13123839986'
                  work_extension: 123
                  address:
                    address1: 123 Main St.
                    address2: Apt. 4008
                    address3: string
                    city: Chicago
                    state: IL
                    zip: '60612'
                  email: test@debtpaypro.com
                  social_security_number: '551192922'
                  date_of_birth: '1941-03-12'
                  language: 1
                  submitted: false
                  submitted_by: 4637734
                  submitted_at: '2020-02-21 16:23:29'
                  approved_by2: 0
                  approved_date2: '2020-02-21'
                  rejected_by: 0
                  rejected_notes: n/a
                  paused_notes: n/a
                  dropped_reason: 0
                  grad_date: '2020-05-27'
                  total_debt: 0
                  welcome_sent: '2020-02-21 16:23:29'
                  paper_statements: true
                  paper_welcome: true
                  gateway_id: 1
                  gateway_approved_by: 0
                  gateway_hold: false
                  gateway_hold_reason: 0
                  gateway_hold_notes: n/a
                  gateway_auth_received: true
                  gateway_auth_file: 66c29015-debtpaypro_QA_Test_Template_-_Chase_(xxxx4444).pdf
                  iscoapp: false
                  customs:
                    - field_id: 0
                      value: string
                      label: string
              Required Parameters Only:
                value:
                  first_name: John
                  last_name: Doe
                  phone_number: '12242525887'
                  address:
                    address1: 123 Main St.
                    address2: Apt. 4008
                    address3: string
                    city: Chicago
                    state: IL
                    zip: '60612'
                  email: test@debtpaypro.com
                  date_of_birth: '1941-03-12'
      responses:
        '200':
          description: Successfully created a Contact Record
          content:
            application/json:
              schema:
                type: object
                properties:
                  response:
                    type: object
                  status:
                    $ref: ./models/SuccessStatus.yaml
              examples:
                Contact POST 200 Response Example:
                  value:
                    response:
                      id: 418304227
                    status:
                      code: 200
                      message: Client Record Created
        '400':
          description: Error
          content:
            application/json:
              schema:
                required:
                  - status
                properties:
                  status:
                    $ref: ./models/ErrorStatus.yaml
              examples:
                Contact POST 400 Response Example:
                  value:
                    status:
                      code: 400
                      message: 'Input Parsing Error: unexpected character'
  '/contacts/{id}':
    get:
      tags:
        - Contacts
      summary: Find a Contact Record by ID
      description: Returns a Contact Record
      operationId: contactRead
      parameters:
        - name: id
          in: path
          description: Id of Client to return
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: Successfully retrieved a Contact Record
          content:
            application/json:
              schema:
                type: object
                properties:
                  response:
                    $ref: ./models/ContactResponse.yaml
                  status:
                    $ref: ./models/SuccessStatus.yaml
              examples:
                Contact GET 200 Response Example:
                  value:
                    response:
                      object: contact
                      id: 382760691
                      acctID: 3863
                      company_id: 42128
                      file_type: 1
                      form_id: 18626
                      created: '2019-08-24T14:15:22Z'
                      created_by: 4950368
                      modified: '2019-08-24T14:15:22Z'
                      modified_by: 4950368
                      assigned_to: 6515056
                      campaign_id: 158227
                      attorney: false
                      attorney_id: 0
                      attorney_id2: 0
                      first_name: John
                      middle_name: E
                      last_name: Doe
                      salutation: Hello
                      title: Mr.
                      phone_number: '13123831234'
                      phone_extension: 123
                      cell_phone: '13123835678'
                      cell_extension: 123
                      work_phone: '13123839753'
                      work_extension: 123
                      address:
                        address1: 123 Main St.
                        address2: Apt. 4008
                        address3: string
                        city: Chicago
                        state: IL
                        zip: '60612'
                      email: test@test.com
                      social_security_number: 123-45-6789
                      date_of_birth: '1970-01-01'
                      language: 1
                      submitted: false
                      submitted_by: 0
                      submitted_at: '2019-08-24T14:15:22Z'
                      approved_by2: 0
                      approved_date2: '2019-08-24'
                      rejected_by: 0
                      rejected_notes: Rejection Note
                      paused_notes: Paused Note
                      dropped_reason: 1
                      grad_date: '2019-08-24'
                      total_debt: 13755.9
                      welcome_sent: '2019-08-24T14:15:22Z'
                      paper_statements: false
                      paper_welcome: false
                      gateway_id: 0
                      gateway_approved_by: 0
                      gateway_hold: false
                      gateway_hold_reason: 0
                      gateway_hold_notes: string
                      gateway_auth_received: true
                      gateway_auth_file: test_gateway_auth_file.pdf
                      iscoapp: false
                      customs:
                        - field_id: 0
                          value: string
                          label: string
                    status:
                      code: 200
        '400':
          description: Error
          content:
            application/json:
              schema:
                required:
                  - status
                properties:
                  status:
                    $ref: ./models/ErrorStatus.yaml
              examples:
                Contact GET 400 Response Example:
                  value:
                    status:
                      code: 400
                      message: 'Input Parsing Error: unexpected character'
    put:
      tags:
        - Contacts
      summary: Update a Contact Record by ID
      description: Updates a Contact Record
      operationId: contactUpdate
      requestBody:
        content:
          application/json:
            schema:
              $ref: ./models/ContactResponse.yaml
      parameters:
        - name: id
          in: path
          description: Id of Contact Record to update
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: Successfully Updated a Contact Record
          content:
            application/json:
              schema:
                type: object
                properties:
                  response:
                    $ref: ./models/ContactResponse.yaml
                  status:
                    $ref: ./models/SuccessStatus.yaml
              examples:
                Contact PUT 200 Response Example:
                  value:
                    response:
                      object: contact
                      id: 382760691
                      acctID: 3863
                      company_id: 42128
                      file_type: 1
                      form_id: 18626
                      created: '2019-08-24T14:15:22Z'
                      created_by: 4950368
                      modified: '2019-08-24T14:15:22Z'
                      modified_by: 4950368
                      assigned_to: 6515056
                      campaign_id: 158227
                      attorney: false
                      attorney_id: 0
                      attorney_id2: 0
                      first_name: John
                      middle_name: E
                      last_name: Doe
                      salutation: Hello
                      title: Mr.
                      phone_number: '13123831234'
                      phone_extension: 123
                      cell_phone: '13123835678'
                      cell_extension: 123
                      work_phone: '13123839753'
                      work_extension: 123
                      address:
                        address1: 123 Main St.
                        address2: Apt. 4008
                        address3: string
                        city: Chicago
                        state: IL
                        zip: '60612'
                      email: test@test.com
                      social_security_number: 123-45-6789
                      date_of_birth: '1970-01-01'
                      language: 1
                      submitted: false
                      submitted_by: 0
                      submitted_at: '2019-08-24T14:15:22Z'
                      approved_by2: 0
                      approved_date2: '2019-08-24'
                      rejected_by: 0
                      rejected_notes: Rejection Note
                      paused_notes: Paused Note
                      dropped_reason: 1
                      grad_date: '2019-08-24'
                      total_debt: 13755.9
                      welcome_sent: '2019-08-24T14:15:22Z'
                      paper_statements: false
                      paper_welcome: false
                      gateway_id: 0
                      gateway_approved_by: 0
                      gateway_hold: false
                      gateway_hold_reason: 0
                      gateway_hold_notes: string
                      gateway_auth_received: true
                      gateway_auth_file: test_gateway_auth_file.pdf
                      iscoapp: false
                      customs:
                        - field_id: 0
                          value: string
                          label: string
                    status:
                      code: 200
        '400':
          description: Error
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    $ref: ./models/ErrorStatus.yaml
                required:
                  - status
              examples:
                Contact PUT 400 Response Example:
                  value:
                    status:
                      code: 400
                      message: 'Input Parsing Error: unexpected character'
    delete:
      tags:
        - Contacts
      summary: Delete a Contact Record by ID
      description: Deletes a Contact Record
      operationId: contactDelete
      parameters:
        - name: id
          in: path
          description: Id of Contact Record to delete
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: Successfully deleted a Contact Record
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    $ref: ./models/SuccessStatus.yaml
              examples:
                Contact DELETE 200 Response Example:
                  value:
                    status:
                      code: 200
                      message: Successfully deleted object
        '400':
          description: Error
          content:
            application/json:
              schema:
                required:
                  - status
                properties:
                  status:
                    $ref: ./models/ErrorStatus.yaml
              examples:
                Contact DELETE 400 Response Example:
                  value:
                    status:
                      code: 400
                      message: 'Input Parsing Error: unexpected character'
  '/contacts/search_by_phone/{phone}':
    get:
      tags:
        - Contacts
      summary: Find Contact by Phone Number
      operationId: searchByPhone
      parameters:
        - name: phone
          in: path
          description: Phone number of the Contact to be returned
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Successfully located and returned Contact Record
          content:
            application/json:
              schema:
                type: object
                properties:
                  response:
                    $ref: ./models/ContactResponse.yaml
                  status:
                    $ref: ./models/SuccessStatus.yaml
        '400':
          description: Error
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    $ref: ./models/ErrorStatus.yaml
                required:
                  - status
              examples:
                Form Request POST 200 Response Example:
                  value:
                    status:
                      code: 400
                      message: 'Input Parsing Error: unexpected character'

  '/contacts/{id}/documents':
    get:
      tags:
        - Contacts
        - Documents
      summary: Get Contact's Documents by ID
      description: Get Contact's Documents by ID
      operationId: contactDocuments
      parameters:
        - name: id
          in: path
          description: Id of Contact to retrieve Documents for
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: Successfully returned Contact's Documents
          content:
            application/json:
              schema:
                type: object
                properties:
                  response:
                    $ref: models/Docs.yaml
                  status:
                    $ref: ./models/SuccessStatus.yaml
        '400':
          description: Error
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    $ref: ./models/ErrorStatus.yaml
                required:
                  - status
              examples:
                GET 400 Response Example:
                  value:
                    status:
                      code: 400
                      message: 'Input Parsing Error: unexpected character'
  '/contacts/{id}/documents/upload':
    post:
      tags:
        - Contacts
        - Documents
      summary: Upload Documents to Contact's Dashboard
      description: Upload Documents to 'Uploaded Docs' section of Contact's Dashboard
      operationId: contactDocsUpload
      parameters:
        - name: id
          in: path
          description: Id of Contact to Upload Documents to
          required: true
          schema:
            type: integer
  '/contacts/{id}/form_request':
    post:
      tags:
        - Contacts
        - Forms
      summary: Send Form to Contact Email by ID
      description: Sends a Form to a Contact via Email Address by ContactID
      operationId: sendForm
      parameters:
        - name: id
          in: path
          description: Id of Contact Record to send Form to
          required: true
          schema:
            type: integer
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                form_id:
                  type: integer
              required:
                - form_id
      responses:
        '200':
          description: Successfully sent Form to Client
          content:
            application/json:
              schema:
                type: object
                properties:
                  response:
                    type: object
                  status:
                    $ref: ./models/SuccessStatus.yaml
              examples:
                Form Request POST 200 Response Example:
                  value:
                    response:
                      id: '247980032'
                      acctID: '2123'
                      company_id: '12758'
                      parent_acctID: null
                      tp_id: '88'
                      customerID: VIDEO-247980032
                      file_type: '1'
                      form_id: '0'
                      created: '2018-08-17 17:28:33'
                      created_by: '0'
                      modified: '2021-09-24 15:18:57'
                      modified_by: '0'
                      assigned_to: '2272121'
                      campaign_id: '155880'
                      attorney: '0'
                      attorney_id: '0'
                      attorney_id2: '0'
                      isAccount: null
                      account: null
                      parent_id: null
                      firstname: Test
                      middlename: null
                      lastname: Contact
                      company: null
                      salutation: null
                      department: null
                      title: ''
                      address: 36808 Mandrake Way
                      address2: Suite 200
                      address3: null
                      city: Springfield
                      state: VA
                      zip: '22156'
                      country: null
                      phone: ''
                      extension: null
                      phonetype: null
                      phone2: ''
                      extension2: null
                      phone2type: null
                      phone3: 666-908-8908
                      extension3: null
                      phone3type: null
                      phone4: null
                      extension4: null
                      phone4type: null
                      fax: null
                      fax2: null
                      email: g.johnson@debtpaypro.com
                      email2: ''
                      messenger: null
                      mess_type: null
                      url: null
                      url2: null
                      c_status: null
                      leadstatus: '95663'
                      c_type: '14582'
                      c_source: '31745'
                      unsubscribe: '0'
                      comments: null
                      public: '0'
                      userID: '3471395'
                      session: null
                      siteID: null
                      last_activity: null
                      activity_type: null
                      ssn: '333333333'
                      dob: '0000-00-00'
                      language: '0'
                      submitted: '1'
                      submitted_by: '2272121'
                      submitted_at: '2018-08-21 17:37:23'
                      returned: '0'
                      returned_at: '0000-00-00 00:00:00'
                      enrolled: '1'
                      enrolled_date: '2018-08-21'
                      enrolled_by: '2272121'
                      approved: '1'
                      approved_by: '2272121'
                      approved_date: '2018-08-21'
                      approved2: '0'
                      approved_by2: '0'
                      approved_date2: '0000-00-00'
                      rejected: '0'
                      reject_reason: null
                      rejected_at: '0000-00-00 00:00:00'
                      rejected_by: '0'
                      rejected_notes: ''
                      archived: null
                      paused: '0'
                      paused_notes: ''
                      dropped: '0'
                      dropped_date: null
                      dropped_reason: '0'
                      graduated: '0'
                      grad_reason: null
                      grad_date: '0000-00-00'
                      total_debt: '30000.00'
                      welcome_sent: '2018-08-21 17:39:24'
                      paper_statements: '0'
                      paper_welcome: '0'
                      gateway_id: '1'
                      gateway_hold: '1'
                      gateway_approved_by: '0'
                      gateway_approved_at: '0000-00-00 00:00:00'
                      gateway_hold_reason: '15'
                      gateway_hold_notes: ''
                      gateway_hold_time: '2018-08-22 11:12:02'
                      gateway_auth_received: '0'
                      gateway_auth_file: ''
                      gateway_auth_time: '0000-00-00 00:00:00'
                      iscoapp: '0'
                      del: '0'
                      del_time: null
                      del_who: null
                    status:
                      code: 200
                      message: Form Request Sent
        '400':
          description: Error
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    $ref: ./models/ErrorStatus.yaml
                required:
                  - status
              examples:
                Form Request POST 200 Response Example:
                  value:
                    status:
                      code: 400
                      message: 'Input Parsing Error: unexpected character'
  '/contacts/{id}/clixsign':
    post:
      tags:
        - Contacts
      summary: Send a ClixSign Document
      description: Sends a ClixSign Document
      operationId: sendClixSignDoc
      parameters:
        - name: id
          in: path
          description: ID of Contact to send Document to
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: models/ClixSignDocument.yaml
      responses:
        '200':
          description: Successfully sent Clixsign Document
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    $ref: models/SuccessStatus.yaml
                required:
                  - status
        '400':
          description: Error
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    $ref: models/ErrorStatus.yaml
                required:
                  - status
  '/contacts/{id}/smslog':
    get:
      tags:
        - Contacts
        - SMS
      summary: Get SMS Log Record for a Contact by ID
      description: |-
        Returns all existing SMS Messages logged for a Contact.

        <span><i class="fa fa-info-circle"></i><i style="font-size:12px"> By default the SMS Messages are returned in order of Newest to Oldest.</i></span>
      operationId: getContactSMSlog
      parameters:
        - name: id
          in: path
          description: Id of Client whose SMS Messages to return
          required: true
          schema:
            type: integer
        - in: query
          name: _offset
          description: (Optional) This value dictates which SMS Message in the ordered SMS Log to start the Request at.
          schema:
            type: integer
            default: 1
          allowEmptyValue: true
        - in: query
          name: _limit
          description: (Optional) This value represents the maximum number of SMS Messages your Request to contain.
          schema:
            type: integer
            default: 1
          allowEmptyValue: true
      responses:
        '200':
          description: Successfully retrieved SMS Log
          content:
            application/json:
              schema:
                type: object
                properties:
                  response:
                    type: object
                  status:
                    $ref: ./models/SuccessStatus.yaml
              examples:
                SMS Log GET 200 Response Example:
                  value:
                    response:
                      - id: '65543140'
                        sdate: '2021-11-26 07:26:07'
                        body: "Purchase Price: \r\nSpecified Percentage: \r\nSpecific Daily Amount: \r\nReceipts Purchase Amount: "
                        status: null
                        client_id: '479244860'
                        sender:
                          object: user
                          user_id: '5367555'
                          acctID: '155'
                          guid: 999e3b03-d176-6526-6a31-9e929e0237c6
                          company_id: '1355'
                          parent_id: '38859'
                          user_type: '1'
                          created: '2020-03-10 14:56:03'
                          user_name: Greg
                          firstname: Gregory
                          lastname: Johnson
                          company: ''
                          email: g.johnson@debtpaypro.com
                          active: '1'
                          role: '735'
                          attorney: '0'
                          payee_id: '0'
                          del: '0'
                          delTime: null
                          pass_reset: '0'
                          master: '0'
                          billable: '1'
                        flag: '1'
                        schedule_id: '0'
                        receiver_phone_number: '13123839986'
                        title: null
                        from_number: '+16308350712'
                      - id: '65543134'
                        sdate: '2021-11-26 07:26:03'
                        body: "Hello API,\r\n\r\nYour next payment is scheduled for 12/31/1969, in the amount of 0.00. Please reply to this message, or feel free to contact Billing@company.com if you have any questions.\r\n\r\n\r\nDebt PayPro"
                        status: null
                        client_id: '479244860'
                        sender:
                          object: user
                          user_id: '5367555'
                          acctID: '155'
                          guid: 999e3b03-d176-6526-6a31-9e929e0237c6
                          company_id: '1355'
                          parent_id: '38859'
                          user_type: '1'
                          created: '2020-03-10 14:56:03'
                          user_name: Greg
                          firstname: Gregory
                          lastname: Johnson
                          company: ''
                          email: g.johnson@debtpaypro.com
                          active: '1'
                          role: '735'
                          attorney: '0'
                          payee_id: '0'
                          del: '0'
                          delTime: null
                          pass_reset: '0'
                          master: '0'
                          billable: '1'
                        flag: '1'
                        schedule_id: '0'
                        receiver_phone_number: '13123839986'
                        title: null
                        from_number: '+16308350712'
                      - id: '65543131'
                        sdate: '2021-11-26 07:25:58'
                        body: TEST
                        status: null
                        client_id: '479244860'
                        sender:
                          object: user
                          user_id: '5367555'
                          acctID: '155'
                          guid: 999e3b03-d176-6526-6a31-9e929e0237c6
                          company_id: '1355'
                          parent_id: '38859'
                          user_type: '1'
                          created: '2020-03-10 14:56:03'
                          user_name: Greg
                          firstname: Gregory
                          lastname: Johnson
                          company: ''
                          email: g.johnson@debtpaypro.com
                          active: '1'
                          role: '735'
                          attorney: '0'
                          payee_id: '0'
                          del: '0'
                          delTime: null
                          pass_reset: '0'
                          master: '0'
                          billable: '1'
                        flag: '1'
                        schedule_id: '0'
                        receiver_phone_number: '13123839986'
                        title: null
                        from_number: '+16308350712'
                      - id: '65543128'
                        sdate: '2021-11-26 07:25:47'
                        body: "Hello API,\r\n\r\nWelcome to the program. Your first payment is $0, scheduled for . Please contact Customer Services if you have any questions."
                        status: null
                        client_id: '479244860'
                        sender:
                          object: user
                          user_id: '5367555'
                          acctID: '155'
                          guid: 999e3b03-d176-6526-6a31-9e929e0237c6
                          company_id: '1355'
                          parent_id: '38859'
                          user_type: '1'
                          created: '2020-03-10 14:56:03'
                          user_name: Greg
                          firstname: Gregory
                          lastname: Johnson
                          company: ''
                          email: g.johnson@debtpaypro.com
                          active: '1'
                          role: '735'
                          attorney: '0'
                          payee_id: '0'
                          del: '0'
                          delTime: null
                          pass_reset: '0'
                          master: '0'
                          billable: '1'
                        flag: '1'
                        schedule_id: '0'
                        receiver_phone_number: '13123839986'
                        title: null
                        from_number: '+16308350712'
                    status:
                      code: 200
        '400':
          description: Error
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    $ref: ./models/ErrorStatus.yaml
                required:
                  - status
              examples:
                SMS Log GET 400 Response Example:
                  value:
                    status:
                      code: 400
                      message: 'Input Parsing Error: unexpected character'
  /debts:
    post:
      tags:
        - Debts
      summary: Create a Debt Record
      description: |-
        Creates a Debt Record

        <span><i class="fa fa-info-circle"></i><i style="font-size:12px"> Select the `'Examples'` option to change the content of the request's Body to ONLY contain the required POST Parameters.</i></span>
      operationId: debtCreate
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: ./models/DebtRequest.yaml
            examples:
              Request:
                value:
                  original_debt_amount: 10500
                  current_debt_amount: 9499.5
                  current_payment: 153
                  current_rate: 0
                  verified_debt_amount: 0
                  creditor: 540
                  debt_buyer: 17576331
                  poa_sent_date: '2019-08-24'
                  legal_account: 'No'
                  last_payment_date: '2019-08-24'
                  last_payment_amount: 0
                  opened_date: '2019-08-24'
                  available_balance: 0
                  enrolled: false
                  enrolled_date: '2019-08-24'
                  debt_type: 0
                  debt_status: ''
                  locked: false
                  og_account_num: '12345674445'
                  creditor_account_num: ''
                  settled: false
                  settlement_id: 0
                  client_id: 382760691
                  settlement_offers:
                    - string
                  customs:
                    - string
              Required Parameters Only:
                value:
                  original_debt_amount: 10500
                  current_debt_amount: 9499.5
                  creditor: 540
                  client_id: 382760691
      responses:
        '200':
          description: Successfully created a Debt Record
          content:
            application/json:
              schema:
                type: object
                properties:
                  response:
                    type: object
                  status:
                    $ref: ./models/SuccessStatus.yaml
              examples:
                Debt POST 200 Response Example:
                  value:
                    response:
                      id: 163287505
                    status:
                      code: 200
        '400':
          description: Error
          content:
            application/json:
              schema:
                required:
                  - status
                properties:
                  status:
                    $ref: ./models/ErrorStatus.yaml
              examples:
                Debt POST 400 Response Example:
                  value:
                    status:
                      code: 400
                      message: 'Input Parsing Error: unexpected character'
  '/debts/{id}':
    get:
      tags:
        - Debts
      summary: Find a Debt Record by ID
      description: Returns a Debt Record
      operationId: debtRead
      parameters:
        - name: id
          in: path
          description: Id of Debt Record to return
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: Successfully retrieved a Debt Record
          content:
            application/json:
              schema:
                type: object
                properties:
                  response:
                    $ref: ./models/DebtResponse.yaml
                  status:
                    $ref: ./models/SuccessStatus.yaml
              examples:
                Debt GET 200 Response Example:
                  value:
                    response:
                      object: debt
                      id: 163287508
                      acctID: 3863
                      created_at: '2021-11-22 04:43:57'
                      created_by:
                        object: user
                        user_id: 4950368
                        company_id: 42128
                        parent_id: 0
                        user_type: 1
                        created: '2019-10-02 02:41:18'
                        user_name: JDoe
                        firstname: John
                        lastname: Doe
                        company: ''
                        email: test@test.com
                        active: true
                        role: 29399
                        attorney: false
                        payee_id: 0
                        del: false
                        delTime: null
                        pass_reset: '0'
                      modified_at: null
                      modified_by: null
                      original_debt_amount: 10500
                      current_debt_amount: 9499.5
                      current_payment: 153
                      current_rate: 0
                      notes: null
                      verified_debt_amount: 0
                      creditor:
                        object: creditor
                        creditor_id: 540
                        acctID: 3863
                        tp_id: 0
                        is_active: '1'
                        company_name: Chase
                        first_name: null
                        last_name: null
                        address:
                          address1: P O Box 15919
                          address2: ''
                          address3: null
                          city: Wilmington
                          state: Delaware
                          zip: 19850-0464
                        phone: 800-444-9370
                      debt_buyer:
                        object: creditor
                        creditor_id: 17576331
                        acctID: 3863
                        tp_id: 0
                        is_active: '1'
                        company_name: Bob's Debt Co.
                        first_name: Bob
                        last_name: Smith
                        address:
                          address1: 101 Debt Way
                          address2: Suite 2200
                          address3: null
                          city: Chicago
                          state: IL
                          zip: '60614'
                        phone: '3123839994'
                      poa_sent_date: '2019-08-24'
                      legal_account: 'No'
                      last_payment_date: '2019-08-24'
                      last_payment_amount: 0
                      opened_date: '2019-08-24'
                      available_balance: 0
                      enrolled: '0'
                      enrolled_date: '2019-08-24 00:00:00'
                      debt_type: '0'
                      cash_advance: '0'
                      balance_transfer: '0'
                      heavy_usage: '0'
                      has_summons: '0'
                      debt_status: null
                      locked: '0'
                      og_account_num: '12345674445'
                      creditor_account_num: null
                      settled: '0'
                      settlement_id: 0
                      client_id: 382760691
                      settlement_offers: []
                      customs: []
                    status:
                      code: 200
        '400':
          description: Error
          content:
            application/json:
              schema:
                required:
                  - status
                properties:
                  status:
                    $ref: ./models/ErrorStatus.yaml
              examples:
                Debt GET 400 Response Example:
                  value:
                    status:
                      code: 400
                      message: 'Input Parsing Error: unexpected character'
    put:
      tags:
        - Debts
      summary: Update a Debt Record by ID
      description: Updates a Debt Record
      operationId: debtUpdate
      requestBody:
        content:
          application/json:
            schema:
              $ref: ./models/DebtResponse.yaml
      parameters:
        - name: id
          in: path
          description: Id of Debt Record to update
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: Successfully Updated a Debt Record
          content:
            application/json:
              schema:
                type: object
                properties:
                  response:
                    $ref: ./models/DebtResponse.yaml
                  status:
                    $ref: ./models/SuccessStatus.yaml
              examples:
                Debt PUT 200 Response Example:
                  value:
                    response:
                      object: debt
                      id: 163287508
                      acctID: 3863
                      created_at: '2021-11-22 04:43:57'
                      created_by:
                        object: user
                        user_id: 4950368
                        company_id: 42128
                        parent_id: 0
                        user_type: 1
                        created: '2019-10-02 02:41:18'
                        user_name: JDoe
                        firstname: John
                        lastname: Doe
                        company: ''
                        email: test@test.com
                        active: true
                        role: 29399
                        attorney: false
                        payee_id: 0
                        del: false
                        delTime: null
                        pass_reset: '0'
                      modified_at: null
                      modified_by: null
                      original_debt_amount: 10500
                      current_debt_amount: 9499.5
                      current_payment: 153
                      current_rate: 0
                      notes: null
                      verified_debt_amount: 0
                      creditor:
                        object: creditor
                        creditor_id: 540
                        acctID: 3863
                        tp_id: 0
                        is_active: '1'
                        company_name: Chase
                        first_name: null
                        last_name: null
                        address:
                          address1: P O Box 15919
                          address2: ''
                          address3: null
                          city: Wilmington
                          state: Delaware
                          zip: 19850-0464
                        phone: 800-444-9370
                      debt_buyer:
                        object: creditor
                        creditor_id: 17576331
                        acctID: 3863
                        tp_id: 0
                        is_active: '1'
                        company_name: Bob's Debt Co.
                        first_name: Bob
                        last_name: Smith
                        address:
                          address1: 101 Debt Way
                          address2: Suite 2200
                          address3: null
                          city: Chicago
                          state: IL
                          zip: '60614'
                        phone: '3123839994'
                      poa_sent_date: '2019-08-24'
                      legal_account: 'No'
                      last_payment_date: '2019-08-24'
                      last_payment_amount: 0
                      opened_date: '2019-08-24'
                      available_balance: 0
                      enrolled: '0'
                      enrolled_date: '2019-08-24 00:00:00'
                      debt_type: '0'
                      cash_advance: '0'
                      balance_transfer: '0'
                      heavy_usage: '0'
                      has_summons: '0'
                      debt_status: null
                      locked: '0'
                      og_account_num: '12345674445'
                      creditor_account_num: null
                      settled: '0'
                      settlement_id: 0
                      client_id: 382760691
                      settlement_offers: []
                      customs: []
                    status:
                      code: 200
        '400':
          description: Error
          content:
            application/json:
              schema:
                required:
                  - status
                properties:
                  status:
                    $ref: ./models/ErrorStatus.yaml
              examples:
                Debt PUT 400 Response Example:
                  value:
                    status:
                      code: 400
                      message: 'Input Parsing Error: unexpected character'
    delete:
      tags:
        - Debts
      summary: Delete a Debt Record by ID
      description: Deletes a Debt Record
      operationId: debtDelete
      parameters:
        - name: id
          in: path
          description: Id of Debt Record to delete
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: Successfully Deleted Debt Record
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    $ref: ./models/SuccessStatus.yaml
              examples:
                Debt DELETE 200 Response Example:
                  value:
                    status:
                      code: 200
                      message: Successfully deleted object
        '400':
          description: Error
          content:
            application/json:
              schema:
                required:
                  - status
                properties:
                  status:
                    $ref: ./models/ErrorStatus.yaml
              examples:
                Debt DELETE 400 Response Example:
                  value:
                    status:
                      code: 400
                      message: 'Input Parsing Error: unexpected character'
  '/debts/{id}/task':
    post:
      tags:
        - Debts
        - DebtTasks
      summary: Create Debt Task for Debt Record by DebtID
      description: Creates a Debt Task for a Debt Record
      operationId: debtTaskCreate
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                assigned_to:
                  description: 'The ID of the person(s) the Debt Task wil be assigned to. The Debt Task can be assigned to a User, Team, or Contact.'
                  type: integer
                defined_task:
                  description: ''
                  type: integer
                task_name:
                  description: Name for Debt Task
                  type: string
      parameters:
        - in: path
          name: id
          description: Id of Debt Record which the Debt Task will be assigned
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: Successfully created a Debt Task
          content:
            application/json:
              schema:
                type: object
                properties:
                  response:
                    $ref: ./models/TaskResponse.yaml
                  status:
                    $ref: ./models/SuccessStatus.yaml
        '400':
          description: Error
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    $ref: ./models/ErrorStatus.yaml
              examples:
                Debt Task POST 400 Response Example:
                  value:
                    status:
                      code: 400
                      message: 'Input Parsing Error: unexpected character'
      x-internal: false
  '/debts/{id}/task/{task_id}':
    put:
      tags:
        - Debts
        - DebtTasks
      summary: Update a Debt Task
      description: Update a Debt Task
      operationId: debtTaskUpdate
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                assigned_to:
                  description: 'The ID of the person(s) the Debt Task wil be assigned to. The Debt Task can be assigned to a User, Team, or Contact.'
                  type: integer
                defined_task:
                  description: ''
                  type: integer
                task_name:
                  description: Name for Debt Task
                  type: string
      parameters:
        - name: id
          in: path
          description: Id of a unique Debt Record
          required: true
          schema:
            type: integer
        - name: task_id
          in: path
          description: Id of Debt Task
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: Successfully Updated Debt Task
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    $ref: ./models/SuccessStatus.yaml
        '400':
          description: Error
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    $ref: ./models/ErrorStatus.yaml
              examples:
                Debt Task PUT 400 Response Example:
                  value:
                    status:
                      code: 400
                      message: 'Input Parsing Error: unexpected character'
    delete:
      tags:
        - Debts
        - DebtTasks
      summary: Delete a Debt Task
      description: Delete a Debt Task
      operationId: debtTaskDelete
      parameters:
        - name: id
          in: path
          description: Id of a unique Debt Record
          required: true
          schema:
            type: integer
        - name: task_id
          in: path
          description: Id of Debt Task
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: Successfully Deleted Debt Task
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    $ref: ./models/SuccessStatus.yaml
        '400':
          description: Error
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    $ref: ./models/ErrorStatus.yaml
              examples:
                Debt Task PUT 400 Response Example:
                  value:
                    status:
                      code: 400
                      message: 'Input Parsing Error: unexpected character'
  '/debts/{id}/tasks':
    get:
      tags:
        - Debts
        - DebtTasks
      summary: Get List of All Tasks for a Debt Record by DebtID
      description: |-
        Returns all existing Tasks associated with a Debt Record.

        <span><i class="fa fa-info-circle"></i><i style="font-size:12px"> By default the Tasks are returned in order of Newest to Oldest.</i></span>
      operationId: getDebtTasks
      parameters:
        - name: id
          in: path
          description: Id of a unique Debt Record
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: Successfully retrieved Tasks for Debt Record
          content:
            application/json:
              schema:
                type: object
                properties:
                  response:
                    type: object
                  status:
                    $ref: ./models/SuccessStatus.yaml
        '400':
          description: Error
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    $ref: ./models/ErrorStatus.yaml
  '/debts/{id}/notes':
    post:
      tags:
        - Debts
        - DebtNotes
      summary: Create a Debt Note using DebtID
      description: Creates a new Debt Note
      operationId: debtNoteCreate
      parameters:
        - in: path
          name: id
          description: Id of Debt Record to add Note to
          required: true
          schema:
            type: integer
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: ./models/DebtNote.yaml
      responses:
        '200':
          description: Successfully created a Debt Note
          content:
            application/json:
              schema:
                type: object
                properties:
                  response:
                    $ref: ./models/DebtNoteResponse.yaml
                  status:
                    $ref: ./models/SuccessStatus.yaml
              examples:
                Debt Note POST 200 Response Example:
                  value:
                    response:
                      object: debt_note
                      note_id: 22377190
                      acctID: 2123
                      note_created_date: '2021-11-26 08:49:16'
                      client_id: 475956560
                      debt_id: 152080478
                      title: API Test D
                      created_by:
                        object: user
                        user_id: 6583363
                        company_id: 12758
                        parent_id: 0
                        user_type: 1
                        created: '2021-10-18 04:12:46'
                        user_name: Greg
                        firstname: Greg
                        lastname: Johnson
                        company: ''
                        email: g.johnson@debtpaypro.com
                        active: true
                        role: 15203
                        attorney: false
                        payee_id: 0
                        del: false
                        delTime: null
                      content: API Test Debt Note
                    status:
                      code: 200
        '400':
          description: Error
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    $ref: ./models/ErrorStatus.yaml
              examples:
                Debt Note POST 400 Response Example:
                  value:
                    status:
                      code: 400
                      message: 'Input Parsing Error: unexpected character'
  '/debts/notes/{id}':
    delete:
      tags:
        - Debts
        - DebtNotes
      summary: Delete a Debt Note by ID
      description: Deletes a Debt Note
      operationId: debtNoteDelete
      parameters:
        - name: id
          in: path
          description: Id of Debt Note
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: Successfully deleted Debt Note
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    $ref: ./models/SuccessStatus.yaml
        '400':
          description: Error
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    $ref: ./models/ErrorStatus.yaml
              examples:
                Debt Note POST 400 Response Example:
                  value:
                    status:
                      code: 400
                      message: 'Input Parsing Error: unexpected character'
  /loans:
    post:
      tags:
        - Loans
      summary: Create a Loan Record
      description: |-
        Creates a Loan Record

        <span><i class="fa fa-info-circle"></i><i style="font-size:12px"> Select the `'Examples'` option to change the content of the request's Body to ONLY contain the required POST Parameters.</i></span>
      operationId: loanCreate
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: ./models/LoanRequest.yaml
            examples:
              Request:
                value:
                  client_id: 382760691
                  advance_type: ACH
                  type_id: 1
                  program_id: 0
                  loan_class: 1
                  loan_amount: 4550.72
                  payback_amount: 0
                  rate: 0
                  payment: 0
                  holdback_percent: 0.02
                  payback_period: 0
                  frequency: D
                  freq_int: ''
                  period_amount: 0
                  fees: 0
                  conf_num: '12345'
                  underwrite_notes: Lorem Ipsum
                  funded: false
                  status: 10
                  lien_pos: 0
                  ach_on: false
                  pricing_lock: false
                  offer_set: 1043077
              Required Parameters Only:
                value:
                  client_id: 382760691
                  loan_amount: 4550.72
                  payback_amount: 0
      responses:
        '200':
          description: Successfully created a Loan Record
          content:
            application/json:
              schema:
                type: object
                properties:
                  response:
                    type: object
                  status:
                    $ref: ./models/SuccessStatus.yaml
              examples:
                Loan POST 200 Response Example:
                  value:
                    response:
                      id: 1863358
                    status:
                      code: 200
        '400':
          description: Error
          content:
            application/json:
              schema:
                required:
                  - status
                properties:
                  status:
                    $ref: ./models/ErrorStatus.yaml
              examples:
                Loans POST 400 Response Example:
                  value:
                    status:
                      code: 400
                      message: 'Input Parsing Error: unexpected character'
  '/loans/{id}':
    get:
      tags:
        - Loans
      summary: Find a Loan Record by ID
      description: Returns a Loan Record
      operationId: loanRead
      parameters:
        - name: id
          in: path
          description: Id of Loan Record to return
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: Successfully retrieved a Loan Record
          content:
            application/json:
              schema:
                type: object
                properties:
                  response:
                    $ref: ./models/LoanResponse.yaml
                  status:
                    $ref: ./models/SuccessStatus.yaml
              examples:
                Loan GET 200 Response Example:
                  value:
                    response:
                      object: loan
                      loan_id: '1868335'
                      acctID: 3863
                      tp_id: 0
                      created_at: '2021-11-22 05:02:09'
                      created_by: 4950368
                      modified_at: '2021-12-12 05:02:09'
                      modified_by: 0
                      client_id: 382760691
                      advance_type: ACH
                      advance_date: '2021-12-25'
                      paid_in_full_date: '2022-05-25'
                      type_id: 1
                      program_id: 0
                      loan_class: 1
                      loan_amount: 4550.72
                      payback_amount: 0
                      rate: 0.02
                      payment: 0
                      holdback_percent: 0.02
                      payback_period: 0
                      frequency: D
                      freq_int: ''
                      period_amount: 0
                      fees: 0
                      conf_num: '12345'
                      underwriter_notes: ''
                      contract_date: '2021-12-25'
                      contract_number: ''
                      funded: true
                      status: 1
                      lien_pos: 1
                      ach_start_date: '2021-12-25'
                      ach_on: true
                      pricing_lock: true
                      offer_set: 1048066
                    status:
                      code: 200
        '400':
          description: Error
          content:
            application/json:
              schema:
                required:
                  - status
                properties:
                  status:
                    $ref: ./models/ErrorStatus.yaml
              examples:
                Loan GET 400 Response Example:
                  value:
                    status:
                      code: 400
                      message: 'Input Parsing Error: unexpected character'
    put:
      tags:
        - Loans
      summary: Update a Loan Record by ID
      description: Updates a Loan Record
      operationId: loanUpdate
      parameters:
        - name: id
          in: path
          description: Id of Loan Record to Update
          required: true
          schema:
            type: integer
      requestBody:
        content:
          application/json:
            schema:
              $ref: ./models/LoanResponse.yaml
      responses:
        '200':
          description: Successfully updated a Loan Record
          content:
            application/json:
              schema:
                type: object
                properties:
                  response:
                    $ref: ./models/LoanResponse.yaml
                  status:
                    $ref: ./models/SuccessStatus.yaml
              examples:
                Loan PUT 200 Response Example:
                  value:
                    response:
                      object: loan
                      loan_id: '1868335'
                      acctID: 3863
                      tp_id: null
                      created_at: '2021-11-22 05:02:09'
                      created_by: '4950368'
                      modified_at: null
                      modified_by: null
                      client_id: '382760691'
                      advance_type: ACH
                      advance_date: null
                      paid_in_full_date: null
                      defaulted_date: null
                      type_id: '1'
                      program_id: '0'
                      loan_class: '1'
                      loan_amount: '4550.72'
                      payback_amount: '0.00'
                      rate: '0'
                      payment: '0.00'
                      holdback_percent: '0.02'
                      payback_period: '0.00'
                      frequency: D
                      freq_int: ''
                      period_amount: '0'
                      fees: '0.00'
                      conf_num: '12345'
                      underwriter_notes: ''
                      contract_date: null
                      contract_number: ''
                      funded: '0'
                      status: '10'
                      lien_pos: '0'
                      ach_start_date: null
                      ach_on: '0'
                      pricing_lock: '0'
                      offer_set: '1048066'
                    status:
                      code: 200
        '400':
          description: Error
          content:
            application/json:
              schema:
                required:
                  - status
                properties:
                  status:
                    $ref: ./models/ErrorStatus.yaml
              examples:
                Loan PUT 400 Response Example:
                  value:
                    status:
                      code: 400
                      message: 'Input Parsing Error: unexpected character'
    delete:
      tags:
        - Loans
      summary: Delete a Loan Record by ID
      description: Deletes a Loan Record
      operationId: loanDelete
      parameters:
        - name: id
          in: path
          description: Id of Loan Record to Delete
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: Successfully deleted Loan Record
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    $ref: ./models/SuccessStatus.yaml
              examples:
                Loan DELETE 200 Response Example:
                  value:
                    status:
                      code: 200
                      message: Successfully deleted object
        '400':
          description: Error
          content:
            application/json:
              schema:
                required:
                  - status
                properties:
                  status:
                    $ref: ./models/ErrorStatus.yaml
              examples:
                Loan DELETE 400 Response Example:
                  value:
                    status:
                      code: 400
                      message: 'Input Parsing Error: unexpected character'
  /settlement_offers:
    post:
      tags:
        - Settlement_Offers
      summary: Create a Settlement Offer Record
      description: |-
        Creates a Settlement Offer

        <span><i class="fa fa-info-circle"></i><i style="font-size:12px"> Select the `'Examples'` option to change the content of the request's Body to ONLY contain the required POST Parameters.</i></span>
      operationId: settlementOfferCreate
      requestBody:
        content:
          application/json:
            schema:
              $ref: ./models/SettlementofferRequest.yaml
            examples:
              Request:
                value:
                  contact_id: 382760691
                  creditor: 0
                  debt_id: 124504794
                  offer_status: 0
                  offer_status_date: '2019-08-24'
                  offer_valid_date: '2019-08-24'
                  settlement_type: 2
                  debt_amount: 8500.55
                  settlement_amount: 0
                  settlement_fee: 0
                  notes: Lorem Ipsum
                  cred_cont_id: 0
                  json: {}
              Required Parameters Only:
                value:
                  contact_id: 382760691
                  debt_id: 124504794
                  offer_valid_date: '2019-08-24'
                  settlement_type: 1
                  debt_amount: 8500.55
                  settlement_amount: 1
                  creditor: 540
        required: true
        description: ''
      responses:
        '200':
          description: Successfully created a Settlement Offer
          content:
            application/json:
              schema:
                type: object
                properties:
                  response:
                    type: object
                  status:
                    $ref: ./models/SuccessStatus.yaml
              examples:
                Settlement Offer POST 200 Response Example:
                  value:
                    response:
                      id: 4114375
                    status:
                      code: 200
        '400':
          description: Error
          content:
            application/json:
              schema:
                required:
                  - status
                properties:
                  status:
                    $ref: ./models/ErrorStatus.yaml
              examples:
                Settlement Offer 400 Response Example:
                  value:
                    status:
                      code: 400
                      message: 'Input Parsing Error: unexpected character'
  '/settlement_offers/{id}':
    get:
      tags:
        - Settlement_Offers
      summary: Find a Settlement Offer Record by ID
      description: Returns a Settlement Offer
      operationId: settlementOfferRead
      parameters:
        - name: id
          in: path
          description: Id of settlement offer to be returned
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: Successfully retrieved a Settlement Offer Record
          content:
            application/json:
              schema:
                type: object
                properties:
                  response:
                    $ref: ./models/SettlementofferResponse.yaml
                  status:
                    $ref: ./models/SuccessStatus.yaml
              examples:
                Settlement Offer GET 200 Response Example:
                  value:
                    response:
                      object: settlement_offer
                      id: 4114375
                      acctID: 3863
                      contact_id: 485599270
                      creditor: 540
                      debt_id: 12345
                      created_at: '2021-11-18 21:51:21'
                      created_by:
                        object: user
                        user_id: 4950368
                        company_id: 42128
                        parent_id: 0
                        created: '2019-10-02 02:41:18'
                        user_name: JDoe
                        firstname: John
                        lastname: Doe
                        company: ''
                        email: test@test.com
                        active: true
                        role: 29399
                        attorney: false
                        payee_id: 0
                        del: false
                        delTime: null
                      modified_at: null
                      modified_by: null
                      neg_id:
                        object: user
                        user_id: '4950368'
                        company_id: '42128'
                        parent_id: '0'
                        created: '2019-10-02 02:41:18'
                        user_name: BobS
                        firstname: Bob
                        lastname: Smith
                        company: ''
                        email: bsmith@test.com
                        active: '1'
                        role: '29399'
                        attorney: '0'
                        payee_id: '0'
                        del: '0'
                        delTime: null
                      madeby: Negotiator
                      offer_status: null
                      offer_status_date: '2022-03-07'
                      offer_valid_date: '2021-10-24'
                      settlement_type: '0'
                      debt_amount: '0.00'
                      settlement_amount: '0.00'
                      settlement_fee: '0.00'
                      notes: Lorem Ipsum
                      cred_cont_id: '0'
                      json: []
                    status:
                      code: 200
        '400':
          description: Error
          content:
            application/json:
              schema:
                required:
                  - status
                properties:
                  status:
                    $ref: ./models/ErrorStatus.yaml
              examples:
                Settlement Offer GET 400 Response Example:
                  value:
                    status:
                      code: 400
                      message: 'Input Parsing Error: unexpected character'
    put:
      tags:
        - Settlement_Offers
      summary: Update a Settlement Offer Record by ID
      description: Updates a Settlement Offer Record
      operationId: settlementOfferUpdate
      parameters:
        - name: id
          in: path
          description: Id of settlement offer to be updated
          required: true
          schema:
            type: integer
      requestBody:
        content:
          application/json:
            schema:
              $ref: ./models/SettlementofferResponse.yaml
        description: Settlement offer object that will be updated
        required: true
      responses:
        '200':
          description: Successfully Updated Settlement Offer
          content:
            application/json:
              schema:
                type: object
                properties:
                  response:
                    $ref: ./models/SettlementofferResponse.yaml
                  status:
                    $ref: ./models/SuccessStatus.yaml
              examples:
                SettlementOffer PUT 200 Response Example:
                  value:
                    response:
                      object: settlement_offer
                      id: 4114375
                      acctID: 3863
                      contact_id: 485599270
                      creditor: 540
                      debt_id: 12345
                      created_at: '2021-11-18 21:51:21'
                      created_by:
                        object: user
                        user_id: 4950368
                        company_id: 42128
                        parent_id: 0
                        created: '2019-10-02 02:41:18'
                        user_name: JDoe
                        firstname: John
                        lastname: Doe
                        company: ''
                        email: test@test.com
                        active: true
                        role: 29399
                        attorney: false
                        payee_id: 0
                        del: false
                        delTime: null
                      modified_at: null
                      modified_by: null
                      neg_id:
                        object: user
                        user_id: '4950368'
                        company_id: '42128'
                        parent_id: '0'
                        created: '2019-10-02 02:41:18'
                        user_name: BobS
                        firstname: Bob
                        lastname: Smith
                        company: ''
                        email: bsmith@test.com
                        active: '1'
                        role: '29399'
                        attorney: '0'
                        payee_id: '0'
                        del: '0'
                        delTime: null
                      madeby: Negotiator
                      offer_status: null
                      offer_status_date: '2022-03-07'
                      offer_valid_date: '2021-10-24'
                      settlement_type: '0'
                      debt_amount: '0.00'
                      settlement_amount: '0.00'
                      settlement_fee: '0.00'
                      notes: Lorem Ipsum
                      cred_cont_id: '0'
                      json: []
                    status:
                      code: 200
        '400':
          description: Error
          content:
            application/json:
              schema:
                required:
                  - status
                properties:
                  status:
                    $ref: ./models/ErrorStatus.yaml
              examples:
                SettlementOffer PUT 400 Response Example:
                  value:
                    status:
                      code: 400
                      message: 'Input Parsing Error: unexpected character'
    delete:
      tags:
        - Settlement_Offers
      summary: Delete a Settlement Offer Record by ID
      description: Deletes a Settlement Offer
      operationId: settlementOfferDelete
      parameters:
        - name: id
          in: path
          description: Id of settlement offer to be deleted
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: Successfully Deleted Settlement Offer
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    $ref: ./models/SuccessStatus.yaml
[...]
