openapi: 3.0.0
info:
  title: DebtPayPro API
  description: ' '
  version: 1.0.0
  contact:
    name: Support
    email: support@debtpaypro.com
servers:
  - url: 'https://api.debtpaypro.com/v1'
    description: Production
  - description: Staging1
    url: 'https://staging1-api.debtpaypro.com/v1'
  - url: 'https://staging5-api.debtpaypro.com/v1'
    description: Staging5
  - url: 'https://staging4-api.debtpaypro.com/v1'
    description: Staging4
tags:
  - name: Auth
  - name: Calls
  - name: Campaigns
  - name: Companies
  - name: Contacts
  - name: ContactDocuments
  - name: ContactForms
  - name: ContactNotes
  - name: Debts
  - name: DebtNotes
  - name: DebtTasks
  - name: Documents
  - name: DocumentTypes
  - name: Loans
  - name: Packages
  - name: Settlement_Offers
  - name: SMS
  - name: Tasks
  - name: Teams
  - name: Users
paths:
  /auth/token:
    post:
      tags:
        - Auth
      summary: Get API Authorization Token
      description: Receive an API Authorization Token. The Token that is returned can be entered for any API Request that requires an *Api-Key*.
      operationId: authGetToken
      requestBody:
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                client_secret:
                  type: string
                client_id:
                  type: string
              required:
                - client_secret
                - client_id
      security: []
      responses:
        '200':
          description: Successful Request
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    $ref: models/SuccessStatus.yaml
                  response:
                    type: array
                    description: Get API Authization Token
                    items:
                      type: object
                      properties:
                        api_key:
                          type: string
                          description: API Authorization Token
                        expires_in:
                          type: integer
                          description: Time Until Token Expires
        '400':
          $ref: '#/components/responses/ERROR_4XX'
  /calls:
    post:
      summary: Create Call Record
      description: |-
        Creates a Call Record and log the call to a client.

        <span><i class="fa fa-info-circle"></i><i style="font-size:12px"> Select the `'Examples'` option to change the content of the request's Body to ONLY contain the required POST Parameters.</i></span>
      operationId: callCreate
      tags:
        - Calls
      requestBody:
        description: ''
        required: true
        content:
          application/json:
            schema:
              $ref: ./models/CallRequest.yaml
            examples:
              Request:
                value:
                  contactID: 475956560
                  sdate: '2019-08-24'
                  call_type: Outgoing
                  call_result: Busy
                  notes: Lorem Ipsum
                  status_change: 274158
                  duration: '00:01:15'
                  event_id: 8179
                  dialer_id: 1
                  recording_url: 'https://stairwork.ru/test.mp3'
                  assigned_agent: 432156
              Required Parameters Only:
                value:
                  contactID: 475956560
                  call_type: Outgoing
                  call_result: Busy
      responses:
        '200':
          $ref: '#/components/responses/POST_200'
        '400':
          $ref: '#/components/responses/ERROR_4XX'
  '/calls/{id}':
    get:
      tags:
        - Calls
      summary: Get Call Record by ID
      description: Returns a Call Record
      operationId: callRead
      parameters:
        - name: id
          in: path
          description: Id of Call Record to return
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: Successfully retrieved a Call Record
          content:
            application/json:
              schema:
                type: object
                properties:
                  response:
                    $ref: ./models/CallResponse.yaml
                  status:
                    $ref: ./models/SuccessStatus.yaml
              examples:
                CallExample:
                  $ref: '#/components/examples/Call.json'
        '400':
          $ref: '#/components/responses/ERROR_4XX'
    put:
      tags:
        - Calls
      summary: Update Call Record by ID
      description: Updates a Call Record
      operationId: callUpdate
      requestBody:
        description: ''
        required: true
        content:
          application/json:
            schema:
              $ref: ./models/CallResponse.yaml
            examples:
              Request:
                value:
                  contactID: 516553837
                  sdate: '2019-08-24'
                  call_type: Outgoing
                  call_result: Busy
                  notes: Lorem Ipsum
                  status_change: 274158
                  duration: '00:01:15'
                  event_id: 8179
                  dialer_id: 1
                  recording_url: 'https://www.testcallrecording.com'
      parameters:
        - name: id
          in: path
          description: Id of Call Record to update
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: Successfully Updated a Call Record
          content:
            application/json:
              schema:
                type: object
                properties:
                  response:
                    $ref: ./models/CallResponse.yaml
                  status:
                    $ref: ./models/SuccessStatus.yaml
              examples:
                CallExample:
                  $ref: '#/components/examples/Call.json'
        '400':
          $ref: '#/components/responses/ERROR_4XX'
    delete:
      tags:
        - Calls
      summary: Delete Call Record by ID
      description: Deletes a Call Record
      operationId: callDelete
      parameters:
        - name: id
          in: path
          description: Id of Call Record to be deleted
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: Successfully Deleted a Call Record
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    $ref: ./models/SuccessStatus.yaml
              examples:
                Calls DELETE 200 Response Example:
                  value:
                    status:
                      code: 200
                      message: Successfully deleted object
        '400':
          $ref: '#/components/responses/ERROR_4XX'
  /campaigns/e-mail:
    post:
      tags:
        - Campaigns
      summary: Create Campaign Record
      description: |-
        Creates a Campaign Record

        <span><i class="fa fa-info-circle"></i><i style="font-size:12px"> Select the `'Examples'` option to change the content of the request's Body to ONLY contain the required POST Parameters.</i></span>
      operationId: campaignCreate
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: ./models/CampaignRequest.yaml
            examples:
              Request:
                value:
                  active: true
                  title: Campaign Title
                  start_date: '2019-08-24'
                  end_date: '2019-08-24'
                  source_id: 3184
                  cost: 1984.25
                  cost_type: 1
                  priority: 4
                  media_type: 1
                  purchase_amount: 42
              Required Parameters Only:
                value:
                  title: Campaign Title
                  start_date: '2019-08-24'
                  end_date: '2019-08-24'
                  cost: 1984.25
                  media_type: 1
      responses:
        '200':
          $ref: '#/components/responses/POST_200'
        '400':
          $ref: '#/components/responses/ERROR_4XX'
  '/campaigns/e-mail/{id}':
    get:
      tags:
        - Campaigns
      summary: Get Campaign Record by ID
      description: Returns a Campaign Record
      operationId: campaignRead
      parameters:
        - name: id
          in: path
          description: Id of Campaign Record to return
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: Successfully retrieved a Campaign Record
          content:
            application/json:
              schema:
                type: object
                properties:
                  response:
                    $ref: ./models/CampaignResponse.yaml
                  status:
                    $ref: ./models/SuccessStatus.yaml
              examples:
                CampaignExample:
                  $ref: '#/components/examples/Campaign.json'
        '400':
          $ref: '#/components/responses/ERROR_4XX'
    put:
      tags:
        - Campaigns
      summary: Update Campaign Record by ID
      description: Updates a Campaign Record
      operationId: campaignUpdate
      parameters:
        - name: id
          in: path
          description: Id of Campaign Record to update
          required: true
          schema:
            type: integer
      requestBody:
        content:
          application/json:
            schema:
              $ref: ./models/CampaignResponse.yaml
      responses:
        '200':
          description: Successfully updated a Campaign Record
          content:
            application/json:
              schema:
                type: object
                properties:
                  response:
                    $ref: ./models/CampaignResponse.yaml
                  status:
                    $ref: ./models/SuccessStatus.yaml
              examples:
                CampaignExample:
                  $ref: '#/components/examples/Campaign.json'
        '400':
          $ref: '#/components/responses/ERROR_4XX'
    delete:
      tags:
        - Campaigns
      summary: Delete Campaign Record by ID
      description: Deletes a Campaign Record
      operationId: campaignDelete
      parameters:
        - name: id
          in: path
          description: Id of Campaign Record to delete
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: Successfully deleted Campaign Record
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    $ref: ./models/SuccessStatus.yaml
              examples:
                Campaign DELETE 200 Response Example:
                  value:
                    status:
                      code: 200
                      message: Successfully deleted object
        '400':
          $ref: '#/components/responses/ERROR_4XX'
  /contacts:
    post:
      tags:
        - Contacts
      summary: Create Contact Record
      description: |-
        Creates a Contact Record

        <span><i class="fa fa-info-circle"></i><i style="font-size:12px"> Select the `'Examples'` option to change the content of the request's Body to ONLY contain the required POST Parameters.</i></span>
      operationId: contactCreate
      requestBody:
        description: ''
        required: true
        content:
          application/json:
            schema:
              $ref: ./models/ContactRequest.yaml
            examples:
              Request:
                value:
                  file_type: 1
                  form_id: 18626
                  assigned_to: 6045085
                  campaign_id: 128312
                  attorney: false
                  attorney_id: 0
                  attorney_id2: 0
                  first_name: John
                  middle_name: E.
                  last_name: Doe
                  salutation: Salutation
                  title: Mr.
                  phone_number: '12242525887'
                  phone_extension: 123
                  cell_phone: '12242525887'
                  cell_extension: 123
                  work_phone: '13123839986'
                  work_extension: 123
                  address:
                    address1: 123 Main St.
                    address2: Apt. 4008
                    address3: string
                    city: Chicago
                    state: IL
                    zip: '60612'
                  email: test@debtpaypro.com
                  social_security_number: '551192922'
                  date_of_birth: '1941-03-12'
                  language: 1
                  submitted: false
                  submitted_by: 4637734
                  submitted_at: '2020-02-21 16:23:29'
                  approved_by2: 0
                  approved_date2: '2020-02-21'
                  rejected_by: 0
                  rejected_notes: n/a
                  paused_notes: n/a
                  dropped_reason: 0
                  grad_date: '2020-05-27'
                  total_debt: 0
                  welcome_sent: '2020-02-21 16:23:29'
                  paper_statements: true
                  paper_welcome: true
                  gateway_id: 1
                  gateway_approved_by: 0
                  gateway_hold: false
                  gateway_hold_reason: 0
                  gateway_hold_notes: n/a
                  gateway_auth_received: true
                  gateway_auth_file: 66c29015-debtpaypro_QA_Test_Template_-_Chase_(xxxx4444).pdf
                  iscoapp: false
                  customs:
                    - field_id: 0
                      value: string
                      label: string
              Required Parameters Only:
                value:
                  first_name: John
                  last_name: Doe
                  phone_number: '12242525887'
                  address:
                    address1: 123 Main St.
                    address2: Apt. 4008
                    address3: string
                    city: Chicago
                    state: IL
                    zip: '60612'
                  email: test@debtpaypro.com
                  date_of_birth: '1941-03-12'
      responses:
        '200':
          $ref: '#/components/responses/POST_200'
        '400':
          $ref: '#/components/responses/ERROR_4XX'
  '/contacts/{id}':
    get:
      tags:
        - Contacts
      summary: Get Contact by ID
      description: Returns a Contact Record
      operationId: contactRead
      parameters:
        - name: id
          in: path
          description: Id of Client to return
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: Successfully retrieved a Contact Record
          content:
            application/json:
              schema:
                type: object
                properties:
                  response:
                    $ref: ./models/ContactResponse.yaml
                  status:
                    $ref: ./models/SuccessStatus.yaml
              examples:
                ContactExample:
                  $ref: '#/components/examples/Contact.json'
        '400':
          $ref: '#/components/responses/ERROR_4XX'
    put:
      tags:
        - Contacts
      summary: Update Contact by ID
      description: Updates a Contact Record
      operationId: contactUpdate
      requestBody:
        content:
          application/json:
            schema:
              $ref: ./models/ContactResponse.yaml
      parameters:
        - name: id
          in: path
          description: Id of Contact Record to update
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: Successfully Updated a Contact Record
          content:
            application/json:
              schema:
                type: object
                properties:
                  response:
                    $ref: ./models/ContactResponse.yaml
                  status:
                    $ref: ./models/SuccessStatus.yaml
              examples:
                ContactExample:
                  $ref: '#/components/examples/Contact.json'
        '400':
          $ref: '#/components/responses/ERROR_4XX'
    delete:
      tags:
        - Contacts
      summary: Delete Contact by ID
      description: Deletes a Contact Record
      operationId: contactDelete
      parameters:
        - name: id
          in: path
          description: Id of Contact Record to delete
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: Successfully deleted a Contact Record
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    $ref: ./models/SuccessStatus.yaml
              examples:
                Contact DELETE 200 Response Example:
                  value:
                    status:
                      code: 200
                      message: Successfully deleted object
        '400':
          $ref: '#/components/responses/ERROR_4XX'
  '/contacts/{contact_id}/notes':
    post:
      tags:
        - Contacts
        - ContactNotes
      summary: Create Contact Note
      description: Creates a Note for a Contact using the Contact's ID
      operationId: contactNoteCreate
      parameters:
        - name: contact_id
          in: path
          description: Id of Contact
          required: true
          schema:
            type: integer
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                content:
                  type: string
              required:
                - content
      responses:
        '200':
          description: Successfully returned Contact Notes
          content:
            application/json:
              schema:
                type: object
                properties:
                  response:
                    type: object
                  status:
                    $ref: ./models/SuccessStatus.yaml
        '400':
          $ref: '#/components/responses/ERROR_4XX'
    get:
      tags:
        - Contacts
        - ContactNotes
      summary: Get All Contact Notes
      description: Returns all Notes for a Contact by the Contact's ID
      operationId: contactNoteGet
      parameters:
        - name: contact_id
          in: path
          description: Id of Contact
          required: true
          schema:
            type: integer
        - in: query
          name: _offset
          description: (Optional) This value dictates which Note to start the Request at.
          schema:
            type: integer
          allowEmptyValue: true
        - in: query
          name: _limit
          description: (Optional) This value represents the maximum number of Notes your Request to contain.
          schema:
            type: integer
          allowEmptyValue: true
      responses:
        '200':
          description: Successfully retrieved a Contact Notes
          content:
            application/json:
              schema:
                type: object
                properties:
                  response:
                    $ref: ./models/ContactNote.yaml
                  status:
                    $ref: ./models/SuccessStatus.yaml
              examples:
                ContactNotesExample:
                  $ref: '#/components/examples/ContactNote.json'
        '400':
          $ref: '#/components/responses/ERROR_4XX'
  '/contacts/{contact_id}/notes/{note_id}':
    put:
      tags:
        - Contacts
        - ContactNotes
      summary: Update Contact Note
      description: Update a specific Contact Note by the Contact's Id and the Id of the Contact Note.
      operationId: contactNoteUpdate
      parameters:
        - name: contact_id
          in: path
          description: Id of Contact
          required: true
          schema:
            type: integer
        - name: note_id
          in: path
          description: Id of Contact Note
          required: true
          schema:
            type: integer
      requestBody:
        content:
          application/json:
            schema:
              description: ''
              type: object
              x-examples:
                example-1:
                  content: string
                  note_type: 3
                  public: 1
              properties:
                content:
                  type: string
                  minLength: 1
                  example: Lorem Ipsum
                note_type:
                  type: integer
                public:
                  type: boolean
      responses:
        '200':
          description: Successfully Updated Contact Note
          content:
            application/json:
              schema:
                type: object
                properties:
                  response:
                    $ref: ./models/ContactNote.yaml
                  status:
                    $ref: ./models/SuccessStatus.yaml
              examples:
                ContactNotesExample:
                  $ref: '#/components/examples/ContactNote.json'
        '400':
          $ref: '#/components/responses/ERROR_4XX'
    delete:
      tags:
        - Contacts
        - ContactNotes
      summary: Delete Contact Note
      description: Delete a specific Contact Note by the Contact's Id and the Id of the Contact Note.
      operationId: contactNoteDelete
      parameters:
        - name: contact_id
          in: path
          description: Id of Contact
          required: true
          schema:
            type: integer
        - name: note_id
          in: path
          description: Id of Contact Note
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: Successfully Deleted Contact Note
          content:
            application/json:
              schema:
                type: object
                properties:
                  response:
                    type: object
                  status:
                    $ref: ./models/SuccessStatus.yaml
        '400':
          $ref: '#/components/responses/ERROR_4XX'
  '/contacts/search_by_phone/{phone}':
    get:
      tags:
        - Contacts
      summary: Get Contact by Phone Number
      operationId: searchByPhone
      parameters:
        - name: phone
          in: path
          description: Phone number of the Contact to be returned
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Successfully located and returned Contact Record
          content:
            application/json:
              schema:
                type: object
                properties:
                  response:
                    $ref: ./models/ContactResponse.yaml
                  status:
                    $ref: ./models/SuccessStatus.yaml
              examples:
                ContactExample:
                  $ref: '#/components/examples/Contact.json'
        '400':
          $ref: '#/components/responses/ERROR_4XX'
  '/contacts/{id}/documents':
    get:
      tags:
        - Contacts
        - ContactDocuments
      summary: Get Documents for Contact by ID
      description: Returns every Document for a Contact by ID
      operationId: contactDocuments
      parameters:
        - name: id
          in: path
          description: Id of Contact to retrieve Documents for
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: Successfully returned Contact's Documents
          content:
            application/json:
              schema:
                type: object
                properties:
                  response:
                    $ref: models/Docs.yaml
                  status:
                    $ref: ./models/SuccessStatus.yaml
              examples:
                Docs Example:
                  $ref: '#/components/examples/Docs.json'
        '400':
          $ref: '#/components/responses/ERROR_4XX'
  '/contacts/{id}/documents/{doc_id}':
    get:
      tags:
        - Contacts
        - ContactDocuments
      summary: Get Document by ID
      description: Retrieves a Specific Document for a Contact by Doc. ID.
      operationId: contactDocsRead
      parameters:
        - name: id
          in: path
          description: Id of Contact
          required: true
          schema:
            type: integer
        - name: doc_id
          in: path
          description: Id of Document to retrieve
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: Successfully retrieved document
          content:
            application/json:
              schema:
                type: object
                properties:
                  response:
                    $ref: ./models/ContactFile.yaml
                  status:
                    $ref: ./models/SuccessStatus.yaml
              examples:
                ContactFileExample:
                  $ref: '#/components/examples/ContactFile.json'
        '400':
          $ref: '#/components/responses/ERROR_4XX'
    put:
      tags:
        - Contacts
        - ContactDocuments
      summary: Update Document by ID
      description: Updates a Specific Document for a Contact by Doc. ID.
      operationId: contactDocsUpdate
      parameters:
        - name: id
          in: path
          description: Id of Contact
          required: true
          schema:
            type: integer
        - name: doc_id
          in: path
          description: Id of Document to retrieve
          required: true
          schema:
            type: integer
      requestBody:
        content:
          application/json:
            schema:
              $ref: ./models/ContactFileUpdate.yaml
      responses:
        '200':
          description: Successfully retrieved document
          content:
            application/json:
              schema:
                type: object
                properties:
                  response:
                    $ref: ./models/ContactFile.yaml
                  status:
                    $ref: ./models/SuccessStatus.yaml
              examples:
                ContactFileExample:
                  $ref: '#/components/examples/ContactFile.json'
        '400':
          $ref: '#/components/responses/ERROR_4XX'
    delete:
      tags:
        - Contacts
        - ContactDocuments
      summary: Delete Document by ID
      description: Delete a Specific Document for a Contact by Doc. ID.
      operationId: contactDocsDelete
      parameters:
        - name: id
          in: path
          description: Id of Contact
          required: true
          schema:
            type: integer
        - name: doc_id
          in: path
          description: Id of Document to delete
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: Successfully deleted document
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    $ref: ./models/SuccessStatus.yaml
                required:
                  - status
        '400':
          $ref: '#/components/responses/ERROR_4XX'
  '/contacts/{id}/documents/upload':
    post:
      tags:
        - Contacts
      summary: Upload Document to Contact Dashboard
      description: '<a href="https://drive.google.com/file/d/1dbvXQjI5uf1-8h-AKPBJuczNVxlGFdby/view?usp=sharing" type="video/mp4">Guide To Setting the <i>file_content</i> Property</a>'
      operationId: contactDocsUpload
      parameters:
        - name: id
          in: path
          description: Id of Contact to Upload Documents to
          required: true
          schema:
            type: integer
      requestBody:
        content:
          application/json:
            schema:
              $ref: ./models/Document.yaml
      responses:
        '200':
          $ref: '#/components/responses/POST_200'
        '400':
          $ref: '#/components/responses/ERROR_4XX'
  '/contacts/{id}/form_request':
    post:
      tags:
        - Contacts
        - ContactForms
      summary: Email Form to Contact by ID
      description: Sends a Form to a Contact via Email Address by ContactID
      operationId: sendForm
      parameters:
        - name: id
          in: path
          description: Id of Contact Record to send Form to
          required: true
          schema:
            type: integer
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                form_id:
                  type: integer
              required:
                - form_id
      responses:
        '200':
          description: Successfully sent Form to Client
          content:
            application/json:
              schema:
                type: object
                properties:
                  response:
                    type: object
                  status:
                    $ref: ./models/SuccessStatus.yaml
              examples:
                Form Request POST 200 Response Example:
                  value:
                    response:
                      id: '247980032'
                      acctID: '2123'
                      company_id: '12758'
                      parent_acctID: null
                      tp_id: '88'
                      customerID: VIDEO-247980032
                      file_type: '1'
                      form_id: '0'
                      created: '2018-08-17 17:28:33'
                      created_by: '0'
                      modified: '2021-09-24 15:18:57'
                      modified_by: '0'
                      assigned_to: '2272121'
                      campaign_id: '155880'
                      attorney: '0'
                      attorney_id: '0'
                      attorney_id2: '0'
                      isAccount: null
                      account: null
                      parent_id: null
                      firstname: Test
                      middlename: null
                      lastname: Contact
                      company: null
                      salutation: null
                      department: null
                      title: ''
                      address: 36808 Mandrake Way
                      address2: Suite 200
                      address3: null
                      city: Springfield
                      state: VA
                      zip: '22156'
                      country: null
                      phone: ''
                      extension: null
                      phonetype: null
                      phone2: ''
                      extension2: null
                      phone2type: null
                      phone3: 666-908-8908
                      extension3: null
                      phone3type: null
                      phone4: null
                      extension4: null
                      phone4type: null
                      fax: null
                      fax2: null
                      email: g.johnson@debtpaypro.com
                      email2: ''
                      messenger: null
                      mess_type: null
                      url: null
                      url2: null
                      c_status: null
                      leadstatus: '95663'
                      c_type: '14582'
                      c_source: '31745'
                      unsubscribe: '0'
                      comments: null
                      public: '0'
                      userID: '3471395'
                      session: null
                      siteID: null
                      last_activity: null
                      activity_type: null
                      ssn: '333333333'
                      dob: '0000-00-00'
                      language: '0'
                      submitted: '1'
                      submitted_by: '2272121'
                      submitted_at: '2018-08-21 17:37:23'
                      returned: '0'
                      returned_at: '0000-00-00 00:00:00'
                      enrolled: '1'
                      enrolled_date: '2018-08-21'
                      enrolled_by: '2272121'
                      approved: '1'
                      approved_by: '2272121'
                      approved_date: '2018-08-21'
                      approved2: '0'
                      approved_by2: '0'
                      approved_date2: '0000-00-00'
                      rejected: '0'
                      reject_reason: null
                      rejected_at: '0000-00-00 00:00:00'
                      rejected_by: '0'
                      rejected_notes: ''
                      archived: null
                      paused: '0'
                      paused_notes: ''
                      dropped: '0'
                      dropped_date: null
                      dropped_reason: '0'
                      graduated: '0'
                      grad_reason: null
                      grad_date: '0000-00-00'
                      total_debt: '30000.00'
                      welcome_sent: '2018-08-21 17:39:24'
                      paper_statements: '0'
                      paper_welcome: '0'
                      gateway_id: '1'
                      gateway_hold: '1'
                      gateway_approved_by: '0'
                      gateway_approved_at: '0000-00-00 00:00:00'
                      gateway_hold_reason: '15'
                      gateway_hold_notes: ''
                      gateway_hold_time: '2018-08-22 11:12:02'
                      gateway_auth_received: '0'
                      gateway_auth_file: ''
                      gateway_auth_time: '0000-00-00 00:00:00'
                      iscoapp: '0'
                      del: '0'
                      del_time: null
                      del_who: null
                    status:
                      code: 200
                      message: Form Request Sent
        '400':
          $ref: '#/components/responses/ERROR_4XX'
  '/contacts/{id}/clixsign':
    post:
      tags:
        - Contacts
      summary: Send ClixSign Document
      description: Sends a ClixSign Document
      operationId: sendClixSignDoc
      parameters:
        - name: id
          in: path
          description: ID of Contact to send Document to
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: models/ClixSignDocument.yaml
      responses:
        '200':
          description: Successfully sent Clixsign Document
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    $ref: models/SuccessStatus.yaml
                required:
                  - status
        '400':
          $ref: '#/components/responses/ERROR_4XX'
  '/contacts/{id}/smslog':
    get:
      tags:
        - Contacts
        - SMS
      summary: Get SMS Log Records for Contact by ID
      description: |-
        Returns all existing SMS Messages logged for a Contact.

        <span><i class="fa fa-info-circle"></i><i style="font-size:12px"> By default the SMS Messages are returned in order of Newest to Oldest.</i></span>
      operationId: getContactSMSlog
      parameters:
        - name: id
          in: path
          description: Id of Client whose SMS Messages to return
          required: true
          schema:
            type: integer
        - in: query
          name: _offset
          description: (Optional) This value dictates which SMS Message in the ordered SMS Log to start the Request at.
          schema:
            type: integer
            default: 1
          allowEmptyValue: true
        - in: query
          name: _limit
          description: (Optional) This value represents the maximum number of SMS Messages your Request to contain.
          schema:
            type: integer
            default: 1
          allowEmptyValue: true
      responses:
        '200':
          description: Successfully retrieved SMS Log
          content:
            application/json:
              schema:
                type: object
                properties:
                  response:
                    type: object
                  status:
                    $ref: ./models/SuccessStatus.yaml
              examples:
                SMS Log Example:
                  $ref: '#/components/examples/SMSlog.json'
        '400':
          $ref: '#/components/responses/ERROR_4XX'
  '/contacts/{id}/history':
    get:
      tags:
        - Contacts
      summary: Get Contact History Feed
      description: Returns a specific quantity of items from a Contact's History Feed.
      operationId: getContactHistory
      parameters:
        - name: id
          in: path
          description: Id of Client whose History Feed to return
          required: true
          schema:
            type: integer
        - in: query
          name: _offset
          description: (Optional) This value dictates which History Feed item to start the Request at.
          schema:
            type: integer
            default: 1
          allowEmptyValue: true
        - in: query
          name: _limit
          description: (Optional) This value represents the maximum number of History Feed Items your Request can contain.
          schema:
            type: integer
            default: 1
          allowEmptyValue: true
      responses:
        '200':
          description: Successfully retrieved History Feed
          content:
            application/json:
              schema:
                type: object
                properties:
                  response:
                    type: object
                  status:
                    $ref: ./models/SuccessStatus.yaml
              examples:
                History Feed Example:
                  $ref: '#/components/examples/ContactHistoryFeed.json'
        '400':
          $ref: '#/components/responses/ERROR_4XX'
  /debts:
    post:
      tags:
        - Debts
      summary: Create Debt Record
      description: |-
        Creates a Debt Record

        <span><i class="fa fa-info-circle"></i><i style="font-size:12px"> Select the `'Examples'` option to change the content of the request's Body to ONLY contain the required POST Parameters.</i></span>
      operationId: debtCreate
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: ./models/DebtRequest.yaml
            examples:
              Request:
                value:
                  original_debt_amount: 10500
                  current_debt_amount: 9499.5
                  current_payment: 153
                  current_rate: 0
                  verified_debt_amount: 0
                  creditor: 540
                  debt_buyer: 17576331
                  poa_sent_date: '2019-08-24'
                  legal_account: 'No'
                  last_payment_date: '2019-08-24'
                  last_payment_amount: 0
                  opened_date: '2019-08-24'
                  available_balance: 0
                  enrolled: false
                  enrolled_date: '2019-08-24'
                  debt_type: 0
                  debt_status: ''
                  locked: false
                  og_account_num: '12345674445'
                  creditor_account_num: ''
                  settled: false
                  settlement_id: 0
                  client_id: 382760691
                  settlement_offers:
                    - string
              Required Parameters Only:
                value:
                  original_debt_amount: 10500
                  current_debt_amount: 9499.5
                  creditor: 540
                  client_id: 382760691
      responses:
        '200':
          $ref: '#/components/responses/POST_200'
        '400':
          $ref: '#/components/responses/ERROR_4XX'
  '/debts/{id}':
    get:
      tags:
        - Debts
      summary: Get Debt Record by ID
      description: Returns a Debt Record
      operationId: debtRead
      parameters:
        - name: id
          in: path
          description: Id of Debt Record to return
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: Successfully retrieved a Debt Record
          content:
            application/json:
              schema:
                type: object
                properties:
                  response:
                    $ref: ./models/DebtResponse.yaml
                  status:
                    $ref: ./models/SuccessStatus.yaml
              examples:
                Debt Example:
                  $ref: '#/components/examples/Debt.json'
        '400':
          $ref: '#/components/responses/ERROR_4XX'
    put:
      tags:
        - Debts
      summary: Update Debt Record by ID
      description: Updates a Debt Record
      operationId: debtUpdate
      requestBody:
        content:
          application/json:
            schema:
              $ref: ./models/DebtResponse.yaml
      parameters:
        - name: id
          in: path
          description: Id of Debt Record to update
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: Successfully Updated a Debt Record
          content:
            application/json:
              schema:
                type: object
                properties:
                  response:
                    $ref: ./models/DebtResponse.yaml
                  status:
                    $ref: ./models/SuccessStatus.yaml
              examples:
                Debt Example:
                  $ref: '#/components/examples/Debt.json'
        '400':
          $ref: '#/components/responses/ERROR_4XX'
    delete:
      tags:
        - Debts
      summary: Delete Debt Record by ID
      description: Deletes a Debt Record
      operationId: debtDelete
      parameters:
        - name: id
          in: path
          description: Id of Debt Record to delete
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: Successfully Deleted Debt Record
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    $ref: ./models/SuccessStatus.yaml
              examples:
                Debt DELETE 200 Response Example:
                  value:
                    status:
                      code: 200
                      message: Successfully deleted object
        '400':
          $ref: '#/components/responses/ERROR_4XX'
  '/debts/{id}/task':
    post:
      tags:
        - Debts
        - DebtTasks
      summary: Create Task for Debt by ID
      description: Creates a Debt Task for a Debt Record
      operationId: debtTaskCreate
      parameters:
        - in: path
          name: id
          description: Id of Debt Record which the Debt Task will be assigned
          required: true
          schema: {}
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                assigned_to:
                  type: object
                  properties:
                    id:
                      type: integer
                    type:
                      type: string
                defined_task:
                  type: integer
                task_name:
                  type: string
      responses:
        '200':
          description: Successfully created a Debt Task
          content:
            application/json:
              schema:
                type: object
                properties:
                  response:
                    $ref: models/DebtTask.yaml
                  status:
                    $ref: models/SuccessStatus.yaml
        '400':
          $ref: '#/components/responses/ERROR_4XX'
      x-internal: false
  '/debts/{id}/task/{task_id}':
    put:
      tags:
        - Debts
        - DebtTasks
      summary: Update Debt Task
      description: Update a Debt Task
      operationId: debtTaskUpdate
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                assigned_to:
                  description: 'The ID of the person(s) the Debt Task wil be assigned to. The Debt Task can be assigned to a User, Team, or Contact.'
                  type: integer
                defined_task:
                  description: ''
                  type: integer
                task_name:
                  description: Name for Debt Task
                  type: string
      parameters:
        - name: id
          in: path
          description: Id of a unique Debt Record
          required: true
          schema:
            type: integer
        - name: task_id
          in: path
          description: Id of Debt Task
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: Successfully Updated Debt Task
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    $ref: ./models/SuccessStatus.yaml
        '400':
          $ref: '#/components/responses/ERROR_4XX'
    delete:
      tags:
        - Debts
        - DebtTasks
      summary: Delete Debt Task
      description: Delete a Debt Task
      operationId: debtTaskDelete
      parameters:
        - name: id
          in: path
          description: Id of a unique Debt Record
          required: true
          schema:
            type: integer
        - name: task_id
          in: path
          description: Id of Debt Task
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: Successfully Deleted Debt Task
          content:
            application/json:
              schema:
                type: object
                properties:
                  response:
                    type: object
                  status:
                    $ref: ./models/SuccessStatus.yaml
        '400':
          $ref: '#/components/responses/ERROR_4XX'
  '/debts/{id}/tasks':
    get:
      tags:
        - Debts
        - DebtTasks
      summary: Get Tasks for Debt by ID
      description: |-
        Returns all existing Tasks associated with a Debt Record.

        <span><i class="fa fa-info-circle"></i><i style="font-size:12px"> By default the Tasks are returned in order of Newest to Oldest.</i></span>
      operationId: getDebtTasks
      parameters:
        - name: id
          in: path
          description: Id of a unique Debt Record
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: Successfully retrieved Tasks for Debt Record
          content:
            application/json:
              schema:
                type: object
                properties:
                  response:
                    type: object
                  status:
                    $ref: ./models/SuccessStatus.yaml
        '400':
          $ref: '#/components/responses/ERROR_4XX'
  '/debts/{id}/notes':
    post:
      tags:
        - Debts
        - DebtNotes
      summary: Create Debt Note by ID
      description: Creates a new Debt Note associated with an existing Debt Record
      operationId: debtNoteCreate
      parameters:
        - in: path
          name: id
          description: Id of Debt Record
          required: true
          schema:
            type: integer
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: ./models/DebtNote.yaml
      responses:
        '200':
          description: Successfully created a Debt Note
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    $ref: ./models/SuccessStatus.yaml
              examples:
                DebtNote Example:
                  $ref: '#/components/examples/DebtNote.json'
        '400':
          $ref: '#/components/responses/ERROR_4XX'
    get:
      tags:
        - Debts
        - DebtNotes
      summary: Find Debt Notes by ID
      description: Returns all Debt Notes associate with a specific Debt Record
      operationId: debtNoteGet
      parameters:
        - in: path
          name: id
          description: Id of Debt Record
          required: true
          schema:
            type: integer
        - in: query
          name: _offset
          description: (Optional) This value dictates which Note to start the Request at.
          schema:
            type: integer
          allowEmptyValue: true
        - in: query
          name: _limit
          description: (Optional) This value represents the maximum number of Notes your Request to contain.
          schema:
            type: integer
          allowEmptyValue: true
      responses:
        '200':
          description: Successfully returned Debt Notes
          content:
            application/json:
              schema:
                type: object
                properties:
                  response:
                    $ref: ./models/DebtNote.yaml
                  status:
                    $ref: ./models/SuccessStatus.yaml
              examples:
                DebtNote Example:
                  $ref: '#/components/examples/DebtNote.json'
        '400':
          $ref: '#/components/responses/ERROR_4XX'
  '/debts/{debt_id}/notes/{note_id}':
    put:
      tags:
        - Debts
        - DebtNotes
      summary: Update Debt Note by ID
      description: Updates a Debt Note by ID of associated Debt Record and Note ID
      operationId: debtNoteUpdate
      parameters:
        - name: debt_id
          in: path
          description: Id of Debt Record
          required: true
          schema:
            type: integer
        - name: note_id
          in: path
          description: Id of Debt Note
          required: true
          schema:
            type: integer
      requestBody:
        content:
          application/json:
            schema:
              properties:
                title:
                  description: Name of DebtNote
                  type: string
                content:
                  description: Content of DebtNote
                  type: string
              type: object
        required: true
      responses:
        '200':
          description: Successfully created a Debt Note
          content:
            application/json:
              schema:
                type: object
                properties:
                  response:
                    $ref: ./models/DebtNoteResponse.yaml
                  status:
                    $ref: ./models/SuccessStatus.yaml
              examples:
                DebtNote Example:
                  $ref: '#/components/examples/DebtNote.json'
        '400':
          $ref: '#/components/responses/ERROR_4XX'
    delete:
      tags:
        - Debts
        - DebtNotes
      summary: Delete Debt Note by ID
      description: Deletes a Debt Note by ID of associated Debt Record and Note ID
      operationId: debtNoteDelete
      parameters:
        - name: debt_id
          in: path
          description: Id of Debt Record
          required: true
          schema:
            type: integer
        - name: note_id
          in: path
          description: Id of Debt Note
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: Successfully deleted Debt Note
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    $ref: ./models/SuccessStatus.yaml
        '400':
          $ref: '#/components/responses/ERROR_4XX'
  '/documents/{id}':
    post:
      tags:
        - Documents
      summary: Generate a Document
      description: |-
        Uses a Doc. Template ID to create a Document Record object 

        <span><i class="fa fa-info-circle"></i><i style="font-size:12px"> Select the `'Examples'` option to change the content of the request's Body to ONLY contain the required POST Parameters.</i></span>
      operationId: documentCreate
      parameters:
        - name: id
          in: path
          description: Id of Document Template
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: models/DocumentGenerate.yaml
        required: true
      responses:
        '200':
          description: Successfully created a Document
          content:
            application/json:
              schema:
                type: object
                properties:
                  response:
                    type: object
                  status:
                    $ref: models/SuccessStatus.yaml
              examples:
                Generated Document Example:
                  $ref: '#/components/examples/GeneratedDoc.json'
        '400':
          $ref: '#/components/responses/ERROR_4XX'
      x-internal: false
  /documents/types:
    get:
      tags:
        - Documents
        - DocumentTypes
      summary: Get All Document Types
      description: |-
        Returns all existing Document Types.

        <span><i class="fa fa-info-circle"></i><i style="font-size:12px"> By default the Document Types are returned in order from Oldest to Newest.</i></span>      
      operationId: documentTypesGet
      responses:
        '200':
          description: Successfully retrieved list of document types
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    $ref: models/SuccessStatus.yaml
                  response:
                    type: array
                    description: Get All Document Types
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          description: Unique id for Document Type
                        title:
                          type: string
                          description: Title of Document Type
              examples:
                DocumentTypes Example:
                  $ref: '#/components/examples/DocumentTypes.json'
        '400':
          $ref: '#/components/responses/ERROR_4XX'
    post:
      tags:
        - Documents
        - DocumentTypes
      summary: Create Document Type
      description: 'Create a Document Type     '
      operationId: documentTypesCreate
      requestBody:
        content:
          application/json:
            schema:
              properties:
                title:
                  description: Name of Document Type
                  type: string
              type: object
        required: true
      responses:
        '200':
          description: Successfully created a Document Type
          content:
            application/json:
              schema:
                type: object
                properties:
                  response:
                    type: object
                  status:
                    $ref: models/SuccessStatus.yaml
              examples:
                DocumentType Example 200 POST Response:
                  value:
                    response:
                      id: '1234'
                      title: Test Document Type
                    status:
                      code: 200
        '400':
          $ref: '#/components/responses/ERROR_4XX'
  '/documents/types/{id}':
    put:
      tags:
        - Documents
        - DocumentTypes
      summary: Update Document Type by ID
      description: 'Update a Document Type by ID     '
      operationId: documentTypesUpdate
      parameters:
        - name: id
          in: path
          description: Id of Document Template
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              properties:
                title:
                  description: Name of Document Type
                  type: string
              type: object
      responses:
        '200':
          description: Successfully Updated a Document Type
          content:
            application/json:
              schema:
                type: object
                properties:
                  response:
                    $ref: models/DocumentType.yaml
                  status:
                    $ref: models/SuccessStatus.yaml
              examples:
                DocumentType Example:
                  $ref: '#/components/examples/DocumentType.json'
        '400':
          $ref: '#/components/responses/ERROR_4XX'
    delete:
      tags:
        - Documents
        - DocumentTypes
      summary: Delete Document Type by ID
      description: 'Delete a Document Type by ID    '
      operationId: documentTypesDelete
      parameters:
        - name: id
          in: path
          description: Id of Document Template
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Successfully Deleted Document Type
          content:
            application/json:
              schema:
                type: object
                properties:
                  response:
                    type: object
                  status:
                    $ref: models/SuccessStatus.yaml
              examples:
                DocumentType Example 200 DELETE Response:
                  value:
                    status:
                      code: 200
        '400':
          $ref: '#/components/responses/ERROR_4XX'
  /loans:
    post:
      tags:
        - Loans
      summary: Create Loan Record
      description: |-
        Creates a Loan Record

        <span><i class="fa fa-info-circle"></i><i style="font-size:12px"> Select the `'Examples'` option to change the content of the request's Body to ONLY contain the required POST Parameters.</i></span>
      operationId: loanCreate
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: ./models/LoanRequest.yaml
            examples:
              Request:
                value:
                  client_id: 382760691
                  advance_type: ACH
                  type_id: 1
                  program_id: 0
                  loan_class: 1
                  loan_amount: 4550.72
                  payback_amount: 0
                  rate: 0
                  payment: 0
                  holdback_percent: 0.02
                  payback_period: 0
                  frequency: D
                  freq_int: ''
                  period_amount: 0
                  fees: 0
                  conf_num: '12345'
                  underwrite_notes: Lorem Ipsum
                  funded: false
                  status: 10
                  lien_pos: 0
                  ach_on: false
                  pricing_lock: false
                  offer_set: 1043077
              Required Parameters Only:
                value:
                  client_id: 382760691
                  loan_amount: 4550.72
                  payback_amount: 0
      responses:
        '200':
          $ref: '#/components/responses/POST_200'
        '400':
          $ref: '#/components/responses/ERROR_4XX'
      x-internal: true
  '/loans/{id}':
    get:
      tags:
        - Loans
      summary: Get Loan Record by ID
      description: Returns a Loan Record
      operationId: loanRead
      parameters:
        - name: id
          in: path
          description: Id of Loan Record to return
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: Successfully retrieved a Loan Record
          content:
            application/json:
              schema:
                type: object
                properties:
                  response:
                    $ref: ./models/LoanResponse.yaml
                  status:
                    $ref: ./models/SuccessStatus.yaml
              examples:
                Loan Example:
                  $ref: '#/components/examples/Loan.json'
        '400':
          $ref: '#/components/responses/ERROR_4XX'
      x-internal: true
    put:
      tags:
        - Loans
      summary: Update Loan Record by ID
      description: Updates a Loan Record
      operationId: loanUpdate
      parameters:
        - name: id
          in: path
          description: Id of Loan Record to Update
          required: true
          schema:
            type: integer
      requestBody:
        content:
          application/json:
            schema:
              $ref: ./models/LoanResponse.yaml
      responses:
        '200':
          description: Successfully updated a Loan Record
          content:
            application/json:
              schema:
                type: object
                properties:
                  response:
                    $ref: ./models/LoanResponse.yaml
                  status:
                    $ref: ./models/SuccessStatus.yaml
              examples:
                Loan Example:
                  $ref: '#/components/examples/Loan.json'
        '400':
          $ref: '#/components/responses/ERROR_4XX'
      x-internal: true
    delete:
      tags:
        - Loans
      summary: Delete Loan Record by ID
      description: Deletes a Loan Record
      operationId: loanDelete
      parameters:
        - name: id
          in: path
          description: Id of Loan Record to Delete
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: Successfully deleted Loan Record
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    $ref: ./models/SuccessStatus.yaml
              examples:
                Loan DELETE 200 Response Example:
                  value:
                    status:
                      code: 200
                      message: Successfully deleted object
        '400':
          $ref: '#/components/responses/ERROR_4XX'
      x-internal: true
  /settlement_offers:
    post:
      tags:
        - Settlement_Offers
      summary: Create Settlement Offer
      description: |-
        Creates a Settlement Offer

        <span><i class="fa fa-info-circle"></i><i style="font-size:12px"> Select the `'Examples'` option to change the content of the request's Body to ONLY contain the required POST Parameters.</i></span>
      operationId: settlementOfferCreate
      requestBody:
        content:
          application/json:
            schema:
              $ref: ./models/SettlementofferRequest.yaml
            examples:
              Request:
                value:
                  contact_id: 382760691
                  creditor: 0
                  debt_id: 124504794
                  offer_status: 0
                  offer_status_date: '2019-08-24'
                  offer_valid_date: '2019-08-24'
                  settlement_type: 2
                  debt_amount: 8500
                  settlement_amount: 0
                  settlement_fee: 0
                  notes: Lorem Ipsum
                  cred_cont_id: 0
                  json: {}
              Required Parameters Only:
                value:
                  contact_id: 382760691
                  debt_id: 124504794
                  offer_valid_date: '2019-08-24'
                  settlement_type: 1
                  debt_amount: 8500
                  settlement_amount: 1
                  creditor: 540
        required: true
        description: ''
      responses:
        '200':
          $ref: '#/components/responses/POST_200'
        '400':
          $ref: '#/components/responses/ERROR_4XX'
  '/settlement_offers/{id}':
    get:
      tags:
        - Settlement_Offers
      summary: Get Settlement Offer by ID
      description: Returns a Settlement Offer
      operationId: settlementOfferRead
      parameters:
        - name: id
          in: path
          description: Id of settlement offer to be returned
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: Successfully retrieved a Settlement Offer Record
          content:
            application/json:
              schema:
                type: object
                properties:
                  response:
                    $ref: ./models/SettlementofferResponse.yaml
                  status:
                    $ref: ./models/SuccessStatus.yaml
              examples:
                Settlement Offer Example:
                  $ref: '#/components/examples/SettlementOffer.json'
        '400':
          $ref: '#/components/responses/ERROR_4XX'
    put:
      tags:
        - Settlement_Offers
      summary: Update Settlement Offer by ID
      description: Updates a Settlement Offer Record
      operationId: settlementOfferUpdate
      parameters:
        - name: id
          in: path
          description: Id of settlement offer to be updated
          required: true
          schema:
            type: integer
      requestBody:
        content:
          application/json:
            schema:
              $ref: ./models/SettlementofferResponse.yaml
        description: Settlement offer object that will be updated
        required: true
      responses:
        '200':
          description: Successfully Updated Settlement Offer
          content:
            application/json:
              schema:
                type: object
                properties:
                  response:
                    $ref: ./models/SettlementofferResponse.yaml
                  status:
                    $ref: ./models/SuccessStatus.yaml
              examples:
                Settlement Offer Example:
                  $ref: '#/components/examples/SettlementOffer.json'
        '400':
          $ref: '#/components/responses/ERROR_4XX'
    delete:
      tags:
        - Settlement_Offers
      summary: Delete Settlement Offer by ID
      description: Deletes a Settlement Offer
      operationId: settlementOfferDelete
      parameters:
        - name: id
          in: path
          description: Id of settlement offer to be deleted
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: Successfully Deleted Settlement Offer
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    $ref: ./models/SuccessStatus.yaml
              examples:
                SettlementOffer Delete 200 Response Example:
                  value:
                    status:
                      code: 200
                      message: Successfully deleted object
        '400':
          $ref: '#/components/responses/ERROR_4XX'
  /tasks:
    post:
      tags:
        - Tasks
      summary: Create Task Record
      description: |-
        Creates a Task Record

        <span><i class="fa fa-info-circle"></i><i style="font-size:12px"> Select the `'Examples'` option to change the content of the request's Body to ONLY contain the required POST Parameters.</i></span>
      operationId: taskCreate
      requestBody:
        content:
          application/json:
            schema:
              $ref: ./models/TaskRequest.yaml
            examples:
              Request:
                value:
                  contact_id: 516553837
                  task_name: Task Name
                  defined_task: 0
                  task_due_date: '2019-08-24'
                  task_note: Task Note
                  list_id: 123
                  team_id: 123
                  task_completion_percentage: 0
                  task_status: 0
                  title: Title
                  task_type: 0
                  assigned_to:
                    object: User
                    id: 51494
              Required Parameters Only:
                value:
                  contact_id: 516553837
                  task_name: Task Name
                  defined_task: 25907
                  task_due_date: '2019-08-24'
                  task_note: Task Note
                  title: Title
                  assigned_to:
                    object: User
                    id: 51494
        description: Task object to be created
        required: true
      responses:
        '200':
          $ref: '#/components/responses/POST_200'
        '400':
          $ref: '#/components/responses/ERROR_4XX'
  '/tasks/{id}':
    get:
      tags:
        - Tasks
      summary: Get Task Record by ID
      description: Returns a Task Record
      operationId: taskRead
      parameters:
        - name: id
          in: path
          description: Id of task to be returned
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: Successfully retrieved a Task Record
          content:
            application/json:
              schema:
                type: object
                properties:
                  response:
                    $ref: ./models/TaskResponse.yaml
                  status:
                    $ref: ./models/SuccessStatus.yaml
              examples:
                Tasks Example:
                  $ref: '#/components/examples/Task.json'
        '400':
          $ref: '#/components/responses/ERROR_4XX'
    put:
      tags:
        - Tasks
      summary: Update Task Record by ID
      description: Updates a Task Record
      operationId: taskUpdate
      parameters:
        - name: id
          in: path
          description: Id of task to be updated
          required: true
          schema:
            type: integer
      requestBody:
        content:
          application/json:
            schema:
              $ref: ./models/TaskResponse.yaml
        description: Task object that needs to be updated
      responses:
        '200':
          description: Successfully updated a Task Record
          content:
            application/json:
              schema:
                type: object
                properties:
                  response:
                    $ref: ./models/TaskResponse.yaml
                  status:
                    $ref: ./models/SuccessStatus.yaml
              examples:
                Task Example:
                  $ref: '#/components/examples/Task.json'
        '400':
          $ref: '#/components/responses/ERROR_4XX'
    delete:
      tags:
        - Tasks
      summary: Delete Task Record by ID
      description: Deletes a Task Record
      operationId: taskDelete
      parameters:
        - name: id
          in: path
          description: Id of task object to be deleted
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: Successfully deleted Task Record
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    $ref: ./models/SuccessStatus.yaml
              examples:
                Task Delete 200 Response Example:
                  value:
                    status:
                      code: 200
                      message: Successfully deleted object
        '400':
          $ref: '#/components/responses/ERROR_4XX'
  /teams:
    get:
      tags:
        - Teams
      summary: Get All Teams
      description: Returns a List all Existing Team Records
      operationId: teamsGet
      responses:
        '200':
          description: Successfully retrieved list of Teams
          content:
            application/json:
              schema:
                type: object
                properties:
                  response:
                    type: object
                  status:
                    $ref: ./models/SuccessStatus.yaml
              examples:
                Teams Example:
                  $ref: '#/components/examples/AllTeams.json'
        '400':
          $ref: '#/components/responses/ERROR_4XX'
    post:
      tags:
        - Teams
      summary: Create Team
      description: Creates a Team Record
      operationId: teamCreate
      responses:
        '200':
          $ref: '#/components/responses/POST_200'
        '400':
          $ref: '#/components/responses/ERROR_4XX'
      requestBody:
        content:
          application/json:
            schema:
              $ref: ./models/TeamRequest.yaml
            examples:
              Request:
                value:
                  name: Test
  '/teams/{id}':
    get:
      tags:
        - Teams
      summary: Get Team by ID
      description: Returns a Team Record
      operationId: teamRead
      parameters:
        - name: id
          in: path
          description: Id of team to be returned
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: Successfully retrieved team record
          content:
            application/json:
              schema:
                type: object
                properties:
                  response:
                    $ref: ./models/TeamResponse.yaml
                  status:
                    $ref: ./models/SuccessStatus.yaml
              examples:
                Team Example:
                  $ref: '#/components/examples/Team.json'
        '400':
          $ref: '#/components/responses/ERROR_4XX'
    put:
      tags:
        - Teams
      summary: Update Team by ID
      description: Updates a Team Record
      operationId: teamUpdate
      parameters:
        - name: id
          in: path
          description: Id of team to be updated
          required: true
          schema:
            type: integer
      requestBody:
        content:
          application/json:
            schema:
              $ref: ./models/TeamResponse.yaml
      responses:
        '200':
          description: Successfully updated Team Record
          content:
            application/json:
              schema:
                type: object
                properties:
                  response:
                    $ref: ./models/TeamResponse.yaml
                  status:
                    $ref: ./models/SuccessStatus.yaml
              examples:
                Team Example:
                  $ref: '#/components/examples/Team.json'
        '400':
          $ref: '#/components/responses/ERROR_4XX'
    delete:
      tags:
        - Teams
      summary: Delete Team by ID
      description: Deletes a Team Record
      operationId: teamDelete
      parameters:
        - name: id
          in: path
          description: Id of team
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: Successfully deleted Team Record
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    $ref: ./models/SuccessStatus.yaml
              examples:
                Teams Delete 200 Response Example:
                  value:
                    status:
                      code: 200
                      message: Successfully deleted object
        '400':
          $ref: '#/components/responses/ERROR_4XX'
  /users:
    post:
      tags:
        - Users
      summary: Create User
      description: |-
        Creates a User Record object

        <span><i class="fa fa-info-circle"></i><i style="font-size:12px"> Select the `'Examples'` option to change the content of the request's Body to ONLY contain the required POST Parameters.</i></span>
      operationId: userCreate
      requestBody:
        content:
          application/json:
            schema:
              $ref: ./models/UserRequest.yaml
            examples:
              Request:
                value:
                  parent_id: 4950368
                  user_type: 1
                  user_name: API_User123
                  firstname: John
                  lastname: Doe
                  company: API Test Company
                  email: mail@debtpaypro.com
                  active: true
                  role: 29399
                  attorney: true
                  payee_id: 23006
              Required Parameters Only:
                value:
                  user_type: 1
                  user_name: API_User123
                  firstname: John
                  lastname: Doe
                  email: mail@debtpaypro.com
                  active: true
                  role: 29399
        description: User Object
      responses:
        '200':
          $ref: '#/components/responses/POST_200'
        '400':
          $ref: '#/components/responses/ERROR_4XX'
  '/users/{id}':
    get:
      tags:
        - Users
      summary: Get User by ID
      description: Returns a User Record
      operationId: userRead
      parameters:
        - name: id
          in: path
          description: Id of User Record to Return
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: Successfully retrieved a User Record
          content:
            application/json:
              schema:
                type: object
                properties:
                  response:
                    $ref: ./models/UserResponse.yaml
                  status:
                    $ref: ./models/SuccessStatus.yaml
              examples:
                User Example:
                  $ref: '#/components/examples/User.json'
        '400':
          $ref: '#/components/responses/ERROR_4XX'
    put:
      tags:
        - Users
      summary: Update User by ID
      description: Updates a User Record
      operationId: userUpdate
      parameters:
        - name: id
          in: path
          description: Id of User Record to Update
          required: true
          schema:
            type: integer
      requestBody:
        content:
          application/json:
            schema:
              $ref: ./models/UserResponse.yaml
        required: true
      responses:
        '200':
          description: Successfully Updated User Record
          content:
            application/json:
              schema:
                type: object
                properties:
                  response:
                    $ref: ./models/UserResponse.yaml
                  status:
                    $ref: ./models/SuccessStatus.yaml
              examples:
                User Example:
                  $ref: '#/components/examples/User.json'
        '400':
          $ref: '#/components/responses/ERROR_4XX'
    delete:
      tags:
        - Users
      summary: Delete User by ID
      description: Deletes a User Record
      operationId: userDelete
      parameters:
        - name: id
          in: path
          description: Id of User Record to delete
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: Successfully deleted User Record
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    $ref: ./models/SuccessStatus.yaml
        '400':
          $ref: '#/components/responses/ERROR_4XX'
  '/users/{user_id}/prefs':
    get:
      tags:
        - Users
      summary: Get User Settings
      description: Get User Settings
      operationId: userPrefGet
      parameters:
        - name: user_id
          in: path
          description: Id of User
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: Successfully retrieved User Settings
          content:
            application/json:
              schema:
                type: object
                properties:
                  response:
                    $ref: ./models/UserSettings.yaml
                  status:
                    $ref: ./models/SuccessStatus.yaml
              examples:
                User Settings Example:
                  $ref: '#/components/examples/UserSettings.json'
        '400':
          $ref: '#/components/responses/ERROR_4XX'
    put:
      tags:
        - Users
      summary: Update User Settings
      description: Update User Settings
      operationId: userPrefPut
      parameters:
        - name: user_id
          in: path
          description: Id of User
          required: true
          schema:
            type: integer
      requestBody:
        content:
          application/json:
            schema:
              $ref: ./models/UserSettings.yaml
        required: true
      responses:
        '200':
          description: Successfully Updated User Settings
          content:
            application/json:
              schema:
                type: object
                properties:
                  response:
                    $ref: ./models/UserSettings.yaml
                  status:
                    $ref: ./models/SuccessStatus.yaml
              examples:
                User Settings Example:
                  $ref: '#/components/examples/UserSettings.json'
        '400':
          $ref: '#/components/responses/ERROR_4XX'
  /users/current:
    get:
      tags:
        - Users
      summary: Get Current User
      description: Returns the User Record of the Current Active User
      operationId: userCurrent
      responses:
        '200':
          description: default
          content:
            application/json:
              schema:
                type: object
                properties:
                  response:
                    $ref: ./models/UserResponse.yaml
                  status:
                    $ref: ./models/SuccessStatus.yaml
              examples:
                User Example:
                  $ref: '#/components/examples/User.json'
        '400':
          $ref: '#/components/responses/ERROR_4XX'
  '/users/{id}/tasks':
    post:
      tags:
        - Users
      summary: Get Tasks for User by ID
      description: Returns All Existing Task Records for a single User
      operationId: userTasks
      parameters:
        - name: id
          in: path
          description: Id of user whose tasks to be returned
          required: true
          schema:
            type: integer
      requestBody:
        content:
          application/json:
            schema:
              properties:
                completed:
                  description: Get task records for user
                  type: integer
                start:
                  description: Get task records for user
                  type: integer
                limit:
                  description: Get task records for user
                  type: integer
              type: object
      responses:
        '200':
          description: default
          content:
            application/json:
              schema:
                type: object
                properties:
                  response:
                    description: Get task records for user
                    type: array
                    items:
                      $ref: ./models/TaskResponse.yaml
                  status:
                    $ref: ./models/SuccessStatus.yaml
        '400':
          $ref: '#/components/responses/ERROR_4XX'
  '/users/{id}/events':
    post:
      tags:
        - Users
      summary: Get Events for User by ID
      description: Returns All Existing Event Records for a single User
      operationId: userEvents
      parameters:
        - name: id
          in: path
          description: Id of user whose events to be returned
          required: true
          schema:
            type: integer
      requestBody:
        content:
          application/json:
            schema:
              properties:
                public:
                  description: Get event records for user
                  type: integer
                dismissed:
                  description: Get event records for user
                  type: integer
                start:
                  description: Get event records for user
                  type: integer
                limit:
                  description: Get event records for user
                  type: integer
              type: object
      responses:
        '200':
          description: default
          content:
            application/json:
              schema:
                type: object
                properties:
                  response:
                    description: Get event records for user
                    type: array
                    items:
                      $ref: ./models/CalEvent.yaml
                  status:
                    $ref: ./models/SuccessStatus.yaml
        '400':
          $ref: '#/components/responses/ERROR_4XX'
  '/lenders/monevo/{contact_id}/offers':
    post:
      tags:
        - Lenders
      summary: Add Monevo Loan Offers On Contact
      description: 'Pushes Loan Offers onto a Client. '
      operationId: pushLendersMonevo
      parameters:
        - name: contact_id
          in: path
          description: Id of CRM Contact
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Successfully Sent POST Request
          content:
            application/json:
              schema:
                type: object
                properties:
                  response:
                    type: object
                  status:
                    $ref: ./models/SuccessStatus.yaml
        '400':
          $ref: '#/components/responses/ERROR_4XX'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              x-examples:
                example-1:
                  requested_amount: '12312'
                  monevo_response: {}
              properties:
                Example Request Body:
                  type: object
                  description: "The following codeblock is an example Request Body:\n```json\n{\n  \"requested_amount\": \"10000\",\n  \"monevo_response\": {\n    \"result\": \"20\",\n    \"results_expired\": \"false\",\n    \"offer_results\": {\n      \"accepted\": \"24\",\n      \"rejected\": \"0\",\n      \"awaiting_response\": \"0\"\n    },\n    \"reference\": \"105311681\",\n    \"message\": \"Accepted\",\n    \"offers\": {\n      \"offer\": [\n        {\n          \"id\": \"19934377\",\n          \"offer_number\": \"2\",\n          \"redirect_url\": \"https://usa.monevo.com/redirect?p=NTY4NzhjMTFkNmQ1YmRiOGYxYmUwNzAwNmJhZWJkMGNiOTQ0MDVkZTkxMmY0YTgyYWQwYTg5Nzc1MjVjYmE2YTNhOWNmOWZmOWQzMzhmZTRmYTc5ZDExMmI5NTdhNmE1YzIyM2E2Yjc5OWJiMmYyMGJhZmFmZWMzYTU1YmViNTBkYjUwMGFkYzlkYTZmNGYxNGNkYzIzMTI3NzgyNmMwNA\",\n          \"loan\": {\n            \"loan_amount\": \"25000\",\n            \"apr\": \"10.44\",\n            \"term\": \"36\",\n            \"fees\": \"0\",\n            \"monthly_repayment\": \"811.85\",\n            \"total_repayment\": \"29226.00\",\n            \"cost_of_credit\": \"4226.60\",\n            \"type\": \"PERSONAL_LOAN\",\n            \"rapr\": \"Our view \\\"Prosper has facilitated more than $18 billion in loans.\\\"\",\n            \"features\": {\n              \"feature\": [\n                \"$18+ billion loans funded\",\n                \"funds available as soon as 1 business day after approval*\"\n              ]\n            },\n            \"terms\": \"For example, a three-year $10,000 personal loan would have an interest rate of 11.74% and a 5.00% origination fee for an annual percentage rate (APR) of 15.34% APR. You would receive $9,500 and make 36 scheduled monthly payments of $330.90. A five-year $10,000 personal loan would have an interest rate of 11.99% and a 5.00% origination fee with a 14.27% APR. You would receive $9,500 and make 60 scheduled monthly payments of $222.39. Origination fees vary between 2.41%-5%. Personal loan APRs through Prosper range from 7.95% to 35.99%, with the lowest rates for the most creditworthy borrowers.\\n\\nEligibility for personal loans up to $40,000 depends on the information provided by the applicant in the application form. Eligibility for personal loans is not guaranteed, and requires that a sufficient number of investors commit funds to your account and that you meet credit and other conditions. Refer to Borrower Registration Agreement for details and all terms and conditions. All personal loans made by WebBank, Member FDIC.\\n\\n*You may receive your funds one business day following your acceptance of the loan offer, completion of all necessary verification steps and final approval. One business day funding is also dependent on your bank’s ability to quickly process the transaction.\",\n            \"prequalified\": \"true\",\n            \"preapproved\": \"false\",\n            \"secured\": \"false\"\n          },\n          \"lender\": {\n            \"id\": \"81\",\n            \"name\": \"Prosper\",\n            \"description\": \"Prosper’s mission is to advance your financial well-being. We provide access to affordable fixed-rate, fixed-term personal loans to help you out with things like consolidating debt, financing a home improvement project or even paying off medical expenses.\_Get your money as soon as 1 business day* plus your monthly payment stays the same. All loans made by WebBank, Member FDIC. Please click continue to proceed with your loan offer through Prosper.\",\n            \"url\": \"www.prosper.com\",\n            \"phone_number\": \"8666156319\",\n            \"logo_url\": \"https://images.monevo.com/ptusa/lender/pr_prosper.png\",\n            \"review\": {\n              \"service\": \"TRUSTPILOT\",\n              \"id\": {}\n            }\n          }\n        }\n      ]\n    },\n    \"disclaimer\": \"<p>The offers above that have been produced by the loan eligibility service are based on the information you provided when completing the form on the introducing site and the information in your credit file. The operator of this service is not a lender or party to any loan or other transaction, does not broker loans to lenders, and does not make loans or credit decisions.</p>\\n\\n\\n<p>The offers are conditional and are subject to change at the point of proceeding with the lender, after verification of the information you provided, as well as other conditions as determined by the lender you proceed with and your state’s laws.\\nPlease remember that your credit was not affected by checking your rates while using the loan eligibility service. You are under no obligation to proceed with any of the offers you have received. At the point of application with the lender, you may be subject to a full credit check.</p>\\n\\n\\n<p>You may receive a ‘Notice of Adverse Action’ from lenders who declined your loan request explaining why you didn’t get an offer.\\nYou may receive email, paper mail, and phone (including SMS) communications from the lenders you have received offers from. To opt out at any time please contact supportusa@monevo.com</p>\",\n    \"error\": {\n      \"code\": {},\n      \"desc\": {}\n    }\n  }\n}\n```"
            examples:
              POST Request Example Body:
                value:
                  requested_amount: '12312'
                  monevo_response: {}
        description: ''
    get:
      tags:
        - Lenders
      summary: Get All Monevo Lenders
      description: Returns a List of all Loan Offers associated with a Contact
      operationId: getLendersMonevo
      parameters:
        - name: contact_id
          in: path
          description: Id of CRM Contact
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: Successfully retrieved Lenders
          content:
            application/json:
              schema:
                description: ''
                type: object
                x-examples:
                  example-1:
                    id: '37939'
                    acctID: '2715'
                    loan_id: null
                    created_at: '2021-11-10 13:59:39'
                    created_by: '3028014'
                    status_id: '2'
                    loan_amount: '$18,000.00'
                    rate: 0
                    apr: 14.8
                    term: '36'
                    payment_amt: $622.21
                    payback_amt: null
                    frequency: null
                    active: null
                    type: null
                    label: null
                    term_unit: months
                    amortization: null
                    amortization_unit: null
                    amortization_method: null
                    compounding: null
                    initial_date: null
                    first_payment_date: null
                    last_payment_date: null
                    increment_type: null
                    increment_value: null
                    sequence_order: null
                    meta_data:
                      id: '17629247'
                      offer_number: '2'
                      redirect_url: 'https://usa.monevo.com/redirect?p=YTE4YWJkMjhhMzlhY2ExZDZiN2MxZjcxMzc3OThkNWZiMGI1MDkzNDRlNGJmZGY1ZGE0M2JjN2NkYTdiNGEzYzgyMjUyYzJjZjIyZTU3OGFkYjExN2MwOTcyMjg4YmM1YjBiOTU1MWY1MWUwZjE1NTI2YjVmOTg2ZjM0YmY1MWRiYzVmODNiZjRmMWZmOTk1NmNiOTMwN2YxOTA3OGY3Mw'
                      loan:
                        loan_amount: '18000'
                        apr: '14.80'
                        term: '36'
                        fees: '0'
                        monthly_repayment: '622.21'
                        total_repayment: '$22,399.00'
                        cost_of_credit: '4399.56'
                        type: PERSONAL_LOAN
                        rapr: 'Our view "With no origination fees, late fees or overdraft fees, as well as very competitive rates, SoFi is a great option."'
                        features:
                          feature:
                            - No origination fees
                            - ' No pre-payment penalties'
                            - A+ Better Business Bureau rating
                            - $30 Billion in funded loans
                        terms: 'Fixed rates from 5.99% APR to 19.63% APR (with AutoPay). SoFi rate ranges are current as of July 30, 2021 and are subject to change without notice. Not all rates and amounts available in all states. See Personal Loan eligibility details. Not all applicants qualify for the lowest rate. Lowest rates reserved for the most creditworthy borrowers. Your actual rate will be within the range of rates listed above and will depend on a variety of factors, including evaluation of your credit worthiness, income, and other factors. See APR examples and terms. The SoFi 0.25% AutoPay interest rate reduction requires you to agree to make monthly principal and interest payments by an automatic monthly deduction from a savings or checking account. The benefit will discontinue and be lost for periods in which you do not pay by automatic deduction from a savings or checking account.'
                        prequalified: 'true'
                        preapproved: 'false'
                        secured: 'false'
                      lender:
                        id: '85'
                        name: SoFi
                        description: 'SoFi is a new kind of finance company taking a radical approach to lending and wealth management. From unprecedented products and tools to faster service and open conversations, we’re all about helping our members get ahead and find success. Whether they’re looking to buy a home, save money on student loans, ascend in their careers, or invest in the future, the SoFi community works to empower our members to accomplish the goals they set and achieve financial greatness as a result.'
                        url: www.sofi.com
                        phone_number: {}
                        logo_url: 'https://images.monevo.com/ptusa/lender/pr_sofi-logo1.png'
                        review:
                          service: TRUSTPILOT
                          id: {}
                properties:
                  id:
                    type: string
                    minLength: 1
                  acctID:
                    type: string
                    minLength: 1
                  loan_id: {}
                  created_at:
                    type: string
                    minLength: 1
                  created_by:
                    type: string
                    minLength: 1
                  status_id:
                    type: string
                    minLength: 1
                  loan_amount:
                    type: string
                    minLength: 1
                  rate:
                    type: number
                  apr:
                    type: number
                  term:
                    type: string
                    minLength: 1
                  payment_amt:
                    type: string
                    minLength: 1
                  payback_amt: {}
                  frequency: {}
                  active: {}
                  type: {}
                  label: {}
                  term_unit:
                    type: string
                    minLength: 1
                  amortization: {}
                  amortization_unit: {}
                  amortization_method: {}
                  compounding: {}
                  initial_date: {}
                  first_payment_date: {}
                  last_payment_date: {}
                  increment_type: {}
                  increment_value: {}
                  sequence_order: {}
                  meta_data:
                    type: object
                    properties:
                      id:
                        type: string
                        minLength: 1
[...]
