{
    "swagger": "2.0",
    "info": {
        "title": "DebtPayPro API",
        "contact": {
            "email": "apisupport@debtpaypro.com"
        },
        "version": "1.0.0"
    },
    "host": "api.debtpaypro.com",
    "basePath": "/v1",
    "schemes": [
        "https"
    ],
    "produces": [
        "application/json"
    ],
    "paths": {
        "/accounts": {
            "post": {
                "tags": [
                    "Accounts"
                ],
                "summary": "Create account record",
                "operationId": "accountCreate",
                "consumes": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "body",
                        "in": "body",
                        "description": "accountData",
                        "required": true,
                        "type": "object"
                    }
                ],
                "responses": {
                    "success": {
                        "description": "after creation",
                        "schema": {
                            "properties": {
                                "status": {
                                    "type": "object",
                                    "$ref": "#/definitions/Status"
                                },
                                "response": {
                                    "properties": {
                                        "id": {
                                            "type": "integer",
                                            "example": "123"
                                        }
                                    },
                                    "type": "object"
                                }
                            },
                            "type": "object"
                        }
                    }
                }
            }
        },
        "/accounts/{id}": {
            "get": {
                "tags": [
                    "Accounts"
                ],
                "summary": "Get account record by id",
                "operationId": "accountRead",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "Id of account to be returned",
                        "required": true,
                        "type": "integer"
                    }
                ],
                "responses": {
                    "default": {
                        "description": "default",
                        "schema": {
                            "properties": {
                                "status": {
                                    "type": "object",
                                    "$ref": "#/definitions/Status"
                                },
                                "response": {
                                    "description": "Get account record by id",
                                    "$ref": "#/definitions/Account"
                                }
                            },
                            "type": "object"
                        }
                    }
                }
            },
            "put": {
                "tags": [
                    "Accounts"
                ],
                "summary": "Update account record by id",
                "operationId": "accountUpdate",
                "consumes": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "Id of account to be updated",
                        "required": true,
                        "type": "integer"
                    }
                ],
                "responses": {
                    "default": {
                        "description": "default",
                        "schema": {
                            "properties": {
                                "status": {
                                    "type": "object",
                                    "$ref": "#/definitions/Status"
                                },
                                "response": {
                                    "type": "object"
                                }
                            },
                            "type": "object"
                        }
                    }
                }
            },
            "delete": {
                "tags": [
                    "Accounts"
                ],
                "summary": "Delete account record by id",
                "operationId": "accountDelete",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "Id of account to be returned",
                        "required": true,
                        "type": "integer"
                    }
                ],
                "responses": {
                    "default": {
                        "description": "default",
                        "schema": {
                            "properties": {
                                "status": {
                                    "type": "object",
                                    "$ref": "#/definitions/Status"
                                },
                                "response": {
                                    "type": "object"
                                }
                            },
                            "type": "object"
                        }
                    }
                }
            }
        },
        "/calls": {
            "post": {
                "tags": [
                    "Calls"
                ],
                "summary": "Create a new call record",
                "operationId": "callCreate",
                "consumes": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "body",
                        "in": "body",
                        "description": "Call object to be create",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/Call"
                        }
                    }
                ],
                "responses": {
                    "success": {
                        "description": "after creation",
                        "schema": {
                            "properties": {
                                "status": {
                                    "type": "object",
                                    "$ref": "#/definitions/Status"
                                },
                                "response": {
                                    "properties": {
                                        "id": {
                                            "type": "integer",
                                            "example": "123"
                                        }
                                    },
                                    "type": "object"
                                }
                            },
                            "type": "object"
                        }
                    },
                    "error": {
                        "description": "some error",
                        "schema": {
                            "properties": {
                                "status": {
                                    "properties": {
                                        "code": {
                                            "type": "integer",
                                            "example": "404"
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "not found"
                                        }
                                    },
                                    "type": "object"
                                }
                            },
                            "type": "object"
                        }
                    }
                }
            }
        },
        "/calls/{call_id}": {
            "get": {
                "tags": [
                    "Calls"
                ],
                "summary": "Get call record by id",
                "operationId": "callRead",
                "parameters": [
                    {
                        "name": "call_id",
                        "in": "path",
                        "description": "Id of call to be returned",
                        "required": true,
                        "type": "integer"
                    }
                ],
                "responses": {
                    "default": {
                        "description": "default",
                        "schema": {
                            "properties": {
                                "status": {
                                    "type": "object",
                                    "$ref": "#/definitions/Status"
                                },
                                "response": {
                                    "description": "Get call record by id",
                                    "$ref": "#/definitions/Call"
                                }
                            },
                            "type": "object"
                        }
                    },
                    "error": {
                        "description": "some error",
                        "schema": {
                            "properties": {
                                "status": {
                                    "properties": {
                                        "code": {
                                            "type": "integer",
                                            "example": "404"
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "not found"
                                        }
                                    },
                                    "type": "object"
                                }
                            },
                            "type": "object"
                        }
                    }
                }
            },
            "put": {
                "tags": [
                    "Calls"
                ],
                "summary": "Update call record by id",
                "operationId": "callUpdate",
                "consumes": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "call_id",
                        "in": "path",
                        "description": "Id of call to be updated",
                        "required": true,
                        "type": "integer"
                    },
                    {
                        "name": "body",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/Call"
                        }
                    }
                ],
                "responses": {
                    "default": {
                        "description": "default",
                        "schema": {
                            "properties": {
                                "status": {
                                    "type": "object",
                                    "$ref": "#/definitions/Status"
                                },
                                "response": {
                                    "type": "object"
                                }
                            },
                            "type": "object"
                        }
                    },
                    "error": {
                        "description": "some error",
                        "schema": {
                            "properties": {
                                "status": {
                                    "properties": {
                                        "code": {
                                            "type": "integer",
                                            "example": "404"
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "not found"
                                        }
                                    },
                                    "type": "object"
                                }
                            },
                            "type": "object"
                        }
                    }
                }
            },
            "delete": {
                "tags": [
                    "Calls"
                ],
                "summary": "Delete call record by id",
                "operationId": "callDelete",
                "parameters": [
                    {
                        "name": "call_id",
                        "in": "path",
                        "description": "Id of call to be deleted",
                        "required": true,
                        "type": "integer"
                    }
                ],
                "responses": {
                    "default": {
                        "description": "default",
                        "schema": {
                            "properties": {
                                "status": {
                                    "type": "object",
                                    "$ref": "#/definitions/Status"
                                },
                                "response": {
                                    "type": "object"
                                }
                            },
                            "type": "object"
                        }
                    },
                    "error": {
                        "description": "some error",
                        "schema": {
                            "properties": {
                                "status": {
                                    "properties": {
                                        "code": {
                                            "type": "integer",
                                            "example": "404"
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "not found"
                                        }
                                    },
                                    "type": "object"
                                }
                            },
                            "type": "object"
                        }
                    }
                }
            }
        },
        "/campaigns/e-mail": {
            "post": {
                "tags": [
                    "Campaigns"
                ],
                "summary": "Create a new campaign record",
                "operationId": "campaignCreate",
                "consumes": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "body",
                        "in": "body",
                        "description": "Campaign object to be created",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/Campaign"
                        }
                    }
                ],
                "responses": {
                    "success": {
                        "description": "after creation",
                        "schema": {
                            "properties": {
                                "status": {
                                    "type": "object",
                                    "$ref": "#/definitions/Status"
                                },
                                "response": {
                                    "properties": {
                                        "id": {
                                            "type": "integer",
                                            "example": "123"
                                        }
                                    },
                                    "type": "object"
                                }
                            },
                            "type": "object"
                        }
                    },
                    "error": {
                        "description": "some error",
                        "schema": {
                            "properties": {
                                "status": {
                                    "properties": {
                                        "code": {
                                            "type": "integer",
                                            "example": "404"
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "not found"
                                        }
                                    },
                                    "type": "object"
                                }
                            },
                            "type": "object"
                        }
                    }
                }
            }
        },
        "/campaigns/e-mail/{campaign_id}": {
            "get": {
                "tags": [
                    "Campaigns"
                ],
                "summary": "Get campaign record by id",
                "operationId": "campaignRead",
                "parameters": [
                    {
                        "name": "campaign_id",
                        "in": "path",
                        "description": "Id of campaign to be returned",
                        "required": true,
                        "type": "integer"
                    }
                ],
                "responses": {
                    "default": {
                        "description": "default",
                        "schema": {
                            "properties": {
                                "status": {
                                    "type": "object",
                                    "$ref": "#/definitions/Status"
                                },
                                "response": {
                                    "description": "Get campaign record by id",
                                    "$ref": "#/definitions/Campaign"
                                }
                            },
                            "type": "object"
                        }
                    },
                    "error": {
                        "description": "some error",
                        "schema": {
                            "properties": {
                                "status": {
                                    "properties": {
                                        "code": {
                                            "type": "integer",
                                            "example": "404"
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "not found"
                                        }
                                    },
                                    "type": "object"
                                }
                            },
                            "type": "object"
                        }
                    }
                }
            },
            "put": {
                "tags": [
                    "Campaigns"
                ],
                "summary": "Update campaign record by id",
                "operationId": "campaignUpdate",
                "consumes": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "campaign_id",
                        "in": "path",
                        "description": "Id of campaign to be updated",
                        "required": true,
                        "type": "integer"
                    },
                    {
                        "name": "body",
                        "in": "body",
                        "description": "Campaign object that will be update",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/Campaign"
                        }
                    }
                ],
                "responses": {
                    "default": {
                        "description": "default",
                        "schema": {
                            "properties": {
                                "status": {
                                    "type": "object",
                                    "$ref": "#/definitions/Status"
                                },
                                "response": {
                                    "type": "object"
                                }
                            },
                            "type": "object"
                        }
                    },
                    "error": {
                        "description": "some error",
                        "schema": {
                            "properties": {
                                "status": {
                                    "properties": {
                                        "code": {
                                            "type": "integer",
                                            "example": "404"
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "not found"
                                        }
                                    },
                                    "type": "object"
                                }
                            },
                            "type": "object"
                        }
                    }
                }
            },
            "delete": {
                "tags": [
                    "Campaigns"
                ],
                "summary": "Delete campaign record by id",
                "operationId": "campaignDelete",
                "parameters": [
                    {
                        "name": "campaign_id",
                        "in": "path",
                        "description": "Id of campaign object to be deleted",
                        "required": true,
                        "type": "integer"
                    }
                ],
                "responses": {
                    "default": {
                        "description": "default",
                        "schema": {
                            "properties": {
                                "status": {
                                    "type": "object",
                                    "$ref": "#/definitions/Status"
                                },
                                "response": {
                                    "type": "object"
                                }
                            },
                            "type": "object"
                        }
                    },
                    "error": {
                        "description": "some error",
                        "schema": {
                            "properties": {
                                "status": {
                                    "properties": {
                                        "code": {
                                            "type": "integer",
                                            "example": "404"
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "not found"
                                        }
                                    },
                                    "type": "object"
                                }
                            },
                            "type": "object"
                        }
                    }
                }
            }
        },
        "/companies/{company_id}": {
            "get": {
                "tags": [
                    "Companies"
                ],
                "summary": "Get company record by id",
                "operationId": "companyRead",
                "parameters": [
                    {
                        "name": "company_id",
                        "in": "path",
                        "description": "Id of company to be returned",
                        "required": true,
                        "type": "integer"
                    }
                ],
                "responses": {
                    "default": {
                        "description": "default",
                        "schema": {
                            "properties": {
                                "status": {
                                    "type": "object",
                                    "$ref": "#/definitions/Status"
                                },
                                "response": {
                                    "description": "Get company record by id",
                                    "$ref": "#/definitions/Company"
                                }
                            },
                            "type": "object"
                        }
                    },
                    "error": {
                        "description": "some error",
                        "schema": {
                            "properties": {
                                "status": {
                                    "properties": {
                                        "code": {
                                            "type": "integer",
                                            "example": "404"
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "not found"
                                        }
                                    },
                                    "type": "object"
                                }
                            },
                            "type": "object"
                        }
                    }
                }
            },
            "put": {
                "tags": [
                    "Companies"
                ],
                "summary": "Update company record by id",
                "operationId": "companyUpdate",
                "consumes": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "company_id",
                        "in": "path",
                        "description": "Id of company to be updated",
                        "required": true,
                        "type": "integer"
                    },
                    {
                        "name": "body",
                        "in": "body",
                        "description": "Company object that needs to be updated",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/Company"
                        }
                    }
                ],
                "responses": {
                    "default": {
                        "description": "default",
                        "schema": {
                            "properties": {
                                "status": {
                                    "type": "object",
                                    "$ref": "#/definitions/Status"
                                },
                                "response": {
                                    "type": "object"
                                }
                            },
                            "type": "object"
                        }
                    },
                    "error": {
                        "description": "some error",
                        "schema": {
                            "properties": {
                                "status": {
                                    "properties": {
                                        "code": {
                                            "type": "integer",
                                            "example": "404"
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "not found"
                                        }
                                    },
                                    "type": "object"
                                }
                            },
                            "type": "object"
                        }
                    }
                }
            },
            "delete": {
                "tags": [
                    "Companies"
                ],
                "summary": "Delete company record by id",
                "operationId": "companyDelete",
                "parameters": [
                    {
                        "name": "company_id",
                        "in": "path",
                        "description": "Id of company object to be deleted",
                        "required": true,
                        "type": "integer"
                    }
                ],
                "responses": {
                    "default": {
                        "description": "default",
                        "schema": {
                            "properties": {
                                "status": {
                                    "type": "object",
                                    "$ref": "#/definitions/Status"
                                },
                                "response": {
                                    "type": "object"
                                }
                            },
                            "type": "object"
                        }
                    },
                    "error": {
                        "description": "some error",
                        "schema": {
                            "properties": {
                                "status": {
                                    "properties": {
                                        "code": {
                                            "type": "integer",
                                            "example": "404"
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "not found"
                                        }
                                    },
                                    "type": "object"
                                }
                            },
                            "type": "object"
                        }
                    }
                }
            }
        },
        "/contacts": {
            "post": {
                "tags": [
                    "Contacts"
                ],
                "summary": "Create a new contact record",
                "operationId": "contactCreate",
                "consumes": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "body",
                        "in": "body",
                        "description": "Contact object to be created",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/Contact"
                        }
                    }
                ],
                "responses": {
                    "success": {
                        "description": "after creation",
                        "schema": {
                            "properties": {
                                "status": {
                                    "type": "object",
                                    "$ref": "#/definitions/Status"
                                },
                                "response": {
                                    "properties": {
                                        "id": {
                                            "type": "integer",
                                            "example": "123"
                                        }
                                    },
                                    "type": "object"
                                }
                            },
                            "type": "object"
                        }
                    },
                    "error": {
                        "description": "some error",
                        "schema": {
                            "properties": {
                                "status": {
                                    "properties": {
                                        "code": {
                                            "type": "integer",
                                            "example": "404"
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "not found"
                                        }
                                    },
                                    "type": "object"
                                }
                            },
                            "type": "object"
                        }
                    }
                }
            }
        },
        "/contacts/{client_id}": {
            "get": {
                "tags": [
                    "Contacts"
                ],
                "summary": "Get contact record by id",
                "operationId": "contactRead",
                "parameters": [
                    {
                        "name": "client_id",
                        "in": "path",
                        "description": "Id of client to be returned",
                        "required": true,
                        "type": "integer"
                    }
                ],
                "responses": {
                    "default": {
                        "description": "default",
                        "schema": {
                            "properties": {
                                "status": {
                                    "type": "object",
                                    "$ref": "#/definitions/Status"
                                },
                                "response": {
                                    "description": "contact details",
                                    "$ref": "#/definitions/Contact"
                                }
                            },
                            "type": "object"
                        }
                    },
                    "error": {
                        "description": "some error",
                        "schema": {
                            "properties": {
                                "status": {
                                    "properties": {
                                        "code": {
                                            "type": "integer",
                                            "example": "404"
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "not found"
                                        }
                                    },
                                    "type": "object"
                                }
                            },
                            "type": "object"
                        }
                    }
                }
            },
            "put": {
                "tags": [
                    "Contacts"
                ],
                "summary": "Update contact record by id",
                "operationId": "contactUpdate",
                "consumes": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "client_id",
                        "in": "path",
                        "description": "Id of client to be updated",
                        "required": true,
                        "type": "integer"
                    },
                    {
                        "name": "body",
                        "in": "body",
                        "description": "Contact object that will be updated",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/Contact"
                        }
                    }
                ],
                "responses": {
                    "default": {
                        "description": "default",
                        "schema": {
                            "properties": {
                                "status": {
                                    "type": "object",
                                    "$ref": "#/definitions/Status"
                                },
                                "response": {
                                    "type": "object"
                                }
                            },
                            "type": "object"
                        }
                    },
                    "error": {
                        "description": "some error",
                        "schema": {
                            "properties": {
                                "status": {
                                    "properties": {
                                        "code": {
                                            "type": "integer",
                                            "example": "404"
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "not found"
                                        }
                                    },
                                    "type": "object"
                                }
                            },
                            "type": "object"
                        }
                    }
                }
            },
            "delete": {
                "tags": [
                    "Contacts"
                ],
                "summary": "Delete contact record by id",
                "operationId": "contactDelete",
                "parameters": [
                    {
                        "name": "client_id",
                        "in": "path",
                        "description": "Id of contact object to be delete",
                        "required": true,
                        "type": "integer"
                    }
                ],
                "responses": {
                    "default": {
                        "description": "default",
                        "schema": {
                            "properties": {
                                "status": {
                                    "type": "object",
                                    "$ref": "#/definitions/Status"
                                },
                                "response": {
                                    "type": "object"
                                }
                            },
                            "type": "object"
                        }
                    },
                    "error": {
                        "description": "some error",
                        "schema": {
                            "properties": {
                                "status": {
                                    "properties": {
                                        "code": {
                                            "type": "integer",
                                            "example": "404"
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "not found"
                                        }
                                    },
                                    "type": "object"
                                }
                            },
                            "type": "object"
                        }
                    }
                }
            }
        },
        "/contacts/search_by_phone/{phone}": {
            "get": {
                "tags": [
                    "Contacts"
                ],
                "summary": "Searches for contacts based on a phone number",
                "operationId": "searchByPhone",
                "parameters": [
                    {
                        "name": "phone",
                        "in": "path",
                        "description": "Phone number of the contacts to be returned",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "default": {
                        "description": "default",
                        "schema": {
                            "properties": {
                                "status": {
                                    "type": "object",
                                    "$ref": "#/definitions/Status"
                                },
                                "response": {
                                    "description": "Searches for contacts based on a phone number",
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/definitions/Contact"
                                    }
                                }
                            },
                            "type": "object"
                        }
                    }
                }
            }
        },
        "/contacts/{contact_id}/debts": {
            "get": {
                "tags": [
                    "Contacts"
                ],
                "summary": "Get Contact Debt Accounts",
                "operationId": "contactDebts",
                "parameters": [
                    {
                        "name": "contact_id",
                        "in": "path",
                        "description": "Id of contact",
                        "required": true,
                        "type": "integer"
                    }
                ],
                "responses": {
                    "default": {
                        "description": "default",
                        "schema": {
                            "properties": {
                                "status": {
                                    "type": "object",
                                    "$ref": "#/definitions/Status"
                                },
                                "response": {
                                    "description": "Get Contact Debt Accounts",
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/definitions/Debt"
                                    }
                                }
                            },
                            "type": "object"
                        }
                    }
                }
            }
        },
        "/contacts/{id}/coapp": {
            "get": {
                "tags": [
                    "Contacts"
                ],
                "summary": "Gets the contact Co-Applicant",
                "operationId": "contactCoapp",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "Id of contact",
                        "required": true,
                        "type": "integer"
                    }
                ],
                "responses": {
                    "default": {
                        "description": "default",
                        "schema": {
                            "properties": {
                                "status": {
                                    "type": "object",
                                    "$ref": "#/definitions/Status"
                                },
                                "response": {
                                    "description": "Gets the contact Co-Applicant",
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/definitions/Contact"
                                    }
                                }
                            },
                            "type": "object"
                        }
                    }
                }
            }
        },
        "/contacts/{contact_id}/debts/enrolled": {
            "get": {
                "tags": [
                    "Contacts"
                ],
                "summary": "Get Enrolled Debts",
                "operationId": "contactDebtsEnrolled",
                "parameters": [
                    {
                        "name": "contact_id",
                        "in": "path",
                        "description": "Id of contact",
                        "required": true,
                        "type": "integer"
                    }
                ],
                "responses": {
                    "default": {
                        "description": "default",
                        "schema": {
                            "properties": {
                                "status": {
                                    "type": "object",
                                    "$ref": "#/definitions/Status"
                                },
                                "response": {
                                    "description": "Get Enrolled Debts",
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/definitions/Debt"
                                    }
                                }
                            },
                            "type": "object"
                        }
                    }
                }
            }
        },
        "/contacts/{contact_id}/debts/notenrolled": {
            "get": {
                "tags": [
                    "Contacts"
                ],
                "summary": "Get Debts Not Enrolled",
                "operationId": "contactDebtsNotEnrolled",
                "parameters": [
                    {
                        "name": "contact_id",
                        "in": "path",
                        "description": "Id of contact",
                        "required": true,
                        "type": "integer"
                    }
                ],
                "responses": {
                    "default": {
                        "description": "default",
                        "schema": {
                            "properties": {
                                "status": {
                                    "type": "object",
                                    "$ref": "#/definitions/Status"
                                },
                                "response": {
                                    "description": "Get Debts Not Enrolled",
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/definitions/Debt"
                                    }
                                }
                            },
                            "type": "object"
                        }
                    }
                }
            }
        },
        "/contacts/{contact_id}/debts/settled": {
            "get": {
                "tags": [
                    "Contacts"
                ],
                "summary": "Get Settled Debts",
                "operationId": "contactDebtsSettled",
                "parameters": [
                    {
                        "name": "contact_id",
                        "in": "path",
                        "description": "Id of contact",
                        "required": true,
                        "type": "integer"
                    }
                ],
                "responses": {
                    "default": {
                        "description": "default",
                        "schema": {
                            "properties": {
                                "status": {
                                    "type": "object",
                                    "$ref": "#/definitions/Status"
                                },
                                "response": {
                                    "description": "Get Settled Debts",
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/definitions/Debt"
                                    }
                                }
                            },
                            "type": "object"
                        }
                    }
                }
            }
        },
        "/contacts/{contact_id}/debts/notsettled": {
            "get": {
                "tags": [
                    "Contacts"
                ],
                "summary": "Get Un-Settled Debts",
                "operationId": "contactDebtsNotSettled",
                "parameters": [
                    {
                        "name": "contact_id",
                        "in": "path",
                        "description": "Id of contact",
                        "required": true,
                        "type": "integer"
                    }
                ],
                "responses": {
                    "default": {
                        "description": "default",
                        "schema": {
                            "properties": {
                                "status": {
                                    "type": "object",
                                    "$ref": "#/definitions/Status"
                                },
                                "response": {
                                    "description": "Get Un-Settled Debts",
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/definitions/Debt"
                                    }
                                }
                            },
                            "type": "object"
                        }
                    }
                }
            }
        },
        "/contacts/{contact_id}/enrollment/stats": {
            "get": {
                "tags": [
                    "Contacts"
                ],
                "summary": "Get Enrollment Statistics",
                "operationId": "contactEnrollmentStats",
                "parameters": [
                    {
                        "name": "contact_id",
                        "in": "path",
                        "description": "Id of contact",
                        "required": true,
                        "type": "integer"
                    }
                ],
                "responses": {
                    "default": {
                        "description": "default",
                        "schema": {
                            "properties": {
                                "status": {
                                    "type": "object",
                                    "$ref": "#/definitions/Status"
                                },
                                "response": {
                                    "description": "Get Enrollment Statistics",
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/definitions/Stat"
                                    }
                                }
                            },
                            "type": "object"
                        }
                    }
                }
            }
        },
        "/contacts/{contact_id}/documents": {
            "get": {
                "tags": [
                    "Contacts"
                ],
                "summary": "Get Contact Documents",
                "operationId": "contactDocuments",
                "parameters": [
                    {
                        "name": "contact_id",
                        "in": "path",
                        "description": "Id of contact",
                        "required": true,
                        "type": "integer"
                    }
                ],
                "responses": {
                    "default": {
                        "description": "default",
                        "schema": {
                            "properties": {
                                "status": {
                                    "type": "object",
                                    "$ref": "#/definitions/Status"
                                },
                                "response": {
                                    "description": "Get Contact Documents",
                                    "type": "array",
                                    "$ref": "#/definitions/Docs"
                                }
                            },
                            "type": "object"
                        }
                    }
                }
            }
        },
        "/contacts/{contact_id}/notes": {
            "get": {
                "tags": [
                    "Contacts"
                ],
                "summary": "Get notes of a contact",
                "operationId": "contactNotes",
                "parameters": [
                    {
                        "name": "contact_id",
                        "in": "path",
                        "description": "Id of contact",
                        "required": true,
                        "type": "integer"
                    }
                ],
                "responses": {
                    "default": {
                        "description": "default",
                        "schema": {
                            "properties": {
                                "status": {
                                    "type": "object",
                                    "$ref": "#/definitions/Status"
                                },
                                "response": {
                                    "description": "Get notes of a contact",
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/definitions/Note"
                                    }
                                }
                            },
                            "type": "object"
                        }
                    }
                }
            }
        },
        "/contacts/{contact_id}/tasks": {
            "get": {
                "tags": [
                    "Contacts"
                ],
                "summary": "Get Tasks of a contact",
                "operationId": "contactTasks",
                "parameters": [
                    {
                        "name": "contact_id",
                        "in": "path",
                        "description": "Id of contact",
                        "required": true,
                        "type": "integer"
                    }
                ],
                "responses": {
                    "default": {
                        "description": "default",
                        "schema": {
                            "properties": {
                                "status": {
                                    "type": "object",
                                    "$ref": "#/definitions/Status"
                                },
                                "response": {
                                    "description": "Get Tasks of a contact",
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/definitions/Task"
                                    }
                                }
                            },
                            "type": "object"
                        }
                    }
                }
            }
        },
        "/contacts/{contact_id}/settlement_offers": {
            "get": {
                "tags": [
                    "Contacts"
                ],
                "summary": "Get contact settlement offers",
                "operationId": "contactSettlementOffers",
                "parameters": [
                    {
                        "name": "contact_id",
                        "in": "path",
                        "description": "Id of contact",
                        "required": true,
                        "type": "integer"
                    }
                ],
                "responses": {
                    "default": {
                        "description": "default",
                        "schema": {
                            "properties": {
                                "status": {
                                    "type": "object",
                                    "$ref": "#/definitions/Status"
                                },
                                "response": {
                                    "description": "Get contact settlement offers",
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/definitions/Settlementoffer"
                                    }
                                }
                            },
                            "type": "object"
                        }
                    }
                }
            }
        },
        "/contacts/getLists": {
            "post": {
                "tags": [
                    "Contacts"
                ],
                "summary": "Get lists",
                "operationId": "contactLists",
                "consumes": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "body",
                        "in": "body",
                        "schema": {
                            "properties": {
                                "contact_info": {
                                    "description": "contact_info",
                                    "type": "integer"
                                },
                                "contact_id": {
                                    "description": "contact_id",
                                    "type": "integer"
                                }
                            },
                            "type": "object"
                        }
                    }
                ],
                "responses": {
                    "default": {
                        "description": "default",
                        "schema": {
                            "properties": {
                                "status": {
                                    "type": "object",
                                    "$ref": "#/definitions/Status"
                                },
                                "response": {
                                    "type": "object"
                                }
                            },
                            "type": "object"
                        }
                    }
                }
            }
        },
        "/contacts/{contact_id}/pull_credit/{provider}": {
            "post": {
                "tags": [
                    "Contacts"
                ],
                "summary": "Pull Credit Report on a contact",
                "operationId": "contactPullCredit",
                "consumes": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "contact_id",
                        "in": "path",
                        "description": "contact_id",
                        "type": "integer"
                    },
                    {
                        "name": "provider",
                        "in": "path",
                        "description": "provider",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "default": {
                        "description": "default",
                        "schema": {
                            "properties": {
                                "status": {
                                    "type": "object",
                                    "$ref": "#/definitions/Status"
                                },
                                "response": {
                                    "description": "Pull Credit Report on a contact",
                                    "properties": {
                                        "report_id": {
                                            "description": "Pull Credit Report on a contact",
                                            "type": "integer"
                                        },
                                        "message": {
                                            "description": "Pull Credit Report on a contact",
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            },
                            "type": "object"
                        }
                    }
                }
            }
        },
        "/contacts/{contact_id}/get_credit_report": {
            "get": {
                "tags": [
                    "Contacts"
                ],
                "summary": "Get Last Credit Report",
                "operationId": "contactCreditReport",
                "parameters": [
                    {
                        "name": "contact_id",
                        "in": "path",
                        "description": "Id of contact",
                        "required": true,
                        "type": "integer"
                    }
                ],
                "responses": {
                    "default": {
                        "description": "default",
                        "schema": {
                            "properties": {
                                "status": {
                                    "type": "object",
                                    "$ref": "#/definitions/Status"
                                },
                                "response": {
                                    "description": "Get Last Credit Report",
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/definitions/Debt"
                                    }
                                }
                            },
                            "type": "object"
                        }
                    }
                }
            }
        },
        "/contacts/{contact_id}/submit_to_lender/{lender}": {
            "post": {
                "tags": [
                    "Contacts"
                ],
                "summary": "Submit contact to lender",
                "operationId": "contactSubmitLender",
                "parameters": [
                    {
                        "name": "contact_id",
                        "in": "path",
                        "description": "Id of contact to be submited",
                        "required": true,
                        "type": "integer"
                    },
                    {
                        "name": "lender",
                        "in": "path",
                        "description": "Id of lender",
                        "type": "integer"
                    }
                ],
                "responses": {
                    "default": {
                        "description": "default",
                        "schema": {
                            "properties": {
                                "status": {
                                    "type": "object",
                                    "$ref": "#/definitions/Status"
                                },
                                "response": {
                                    "type": "object"
                                }
                            },
                            "type": "object"
                        }
                    },
                    "error": {
                        "description": "some error",
                        "schema": {
                            "properties": {
                                "status": {
                                    "properties": {
                                        "code": {
                                            "type": "integer",
                                            "example": "404"
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "not found"
                                        }
                                    },
                                    "type": "object"
                                }
                            },
                            "type": "object"
                        }
                    }
                }
            }
        },
        "/contacts/{id}/ref": {
            "post": {
                "tags": [
                    "Contacts"
                ],
                "summary": "change or update Account Contacts Ref",
                "operationId": "contactRefUpdate",
                "consumes": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "body",
                        "in": "body",
                        "schema": {
                            "properties": {
                                "id": {
                                    "description": "Id of contact to be updated",
                                    "required": true,
                                    "type": "integer",
                                    "in": "path"
                                },
                                "type": {
                                    "description": "type of contact",
                                    "type": "integer"
                                },
                                "authorized": {
                                    "description": "contact authorized (1/0)",
                                    "type": "integer"
                                },
                                "link": {
                                    "description": "link account contact",
                                    "type": "integer"
                                },
                                "unlink": {
                                    "description": "unlink account contact",
                                    "type": "integer"
                                }
                            },
                            "type": "object"
                        }
                    }
                ],
                "responses": {
                    "default": {
                        "description": "default",
                        "schema": {
                            "properties": {
                                "status": {
                                    "type": "object",
                                    "$ref": "#/definitions/Status"
                                },
                                "response": {
                                    "type": "object"
                                }
                            },
                            "type": "object"
                        }
                    },
                    "error": {
                        "description": "some error",
                        "schema": {
                            "properties": {
                                "status": {
                                    "properties": {
                                        "code": {
                                            "type": "integer",
                                            "example": "404"
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "not found"
                                        }
                                    },
                                    "type": "object"
                                }
                            },
                            "type": "object"
                        }
                    }
                }
            }
        },
        "/contacts/logcall": {
            "post": {
                "tags": [
                    "Contacts"
                ],
                "summary": "Logs a call",
                "consumes": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "body",
                        "in": "body",
                        "schema": {
                            "properties": {
                                "from": {
                                    "description": "from",
                                    "type": "integer"
                                },
                                "to": {
                                    "description": "to",
                                    "type": "integer"
                                },
                                "giid": {
                                    "description": "giid",
                                    "type": "string"
                                },
                                "iid": {
                                    "description": "iid",
                                    "type": "string"
                                },
                                "dialer_id": {
                                    "description": "dialer_id",
                                    "type": "integer"
                                },
                                "contact_phone": {
                                    "description": "contact_phone",
                                    "type": "string"
                                },
                                "disposition": {
                                    "description": "disposition",
                                    "type": "string"
                                },
                                "login_id": {
                                    "description": "login_id",
                                    "type": "integer"
                                }
                            },
                            "type": "object"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "schema": {
                            "properties": {
                                "response": {
                                    "description": "Logs a call",
                                    "type": "array",
                                    "items": {
                                        "properties": {
                                            "id": {
                                                "description": "Logs a call",
                                                "type": "integer"
                                            },
                                            "acctID": {
                                                "description": "Logs a call",
                                                "type": "integer"
                                            },
                                            "contactID": {
                                                "description": "Logs a call",
                                                "type": "integer"
                                            },
                                            "userID": {
                                                "description": "Logs a call",
                                                "type": "integer"
                                            },
                                            "activity_id": {
                                                "description": "Logs a call",
                                                "type": "integer"
                                            },
                                            "sdate": {
                                                "description": "Logs a call",
                                                "type": "string"
                                            },
                                            "created_at": {
                                                "description": "Logs a call",
                                                "type": "string"
                                            },
                                            "call_type": {
                                                "description": "Logs a call",
                                                "type": "string"
                                            },
                                            "call_result": {
                                                "description": "Logs a call",
                                                "type": "string"
                                            },
                                            "call_dis_id": {
                                                "description": "Logs a call",
                                                "type": "integer"
                                            },
                                            "notes": {
                                                "description": "Logs a call",
                                                "type": "string"
                                            },
                                            "status_change": {
                                                "description": "Logs a call",
                                                "type": "string"
                                            },
                                            "duration": {
                                                "description": "Logs a call",
                                                "type": "string"
                                            },
                                            "event_id": {
                                                "description": "Logs a call",
                                                "type": "integer"
                                            },
                                            "dialer_id": {
                                                "description": "Logs a call",
                                                "type": "integer"
                                            },
                                            "recording_id": {
                                                "description": "Logs a call",
                                                "type": "integer"
                                            },
                                            "data": {
                                                "description": "Logs a call",
                                                "type": "string"
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/contacts/list/download/{export_id}": {
            "get": {
                "tags": [
                    "Contacts"
                ],
                "summary": "get status of the CSV file",
                "parameters": [
                    {
                        "name": "export_id",
                        "in": "path",
                        "description": "export_id",
                        "required": true,
                        "type": "integer"
                    }
                ],
                "responses": {
                    "201": {
                        "schema": {
                            "properties": {
                                "response": {
                                    "description": "get status of the CSV file",
                                    "type": "array",
                                    "items": {
                                        "properties": {
                                            "file_url": {
                                                "description": "get status of the CSV file",
                                                "type": "string"
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "400": {
                        "schema": {
                            "properties": {
                                "response": {
                                    "description": "get status of the CSV file",
                                    "type": "array",
                                    "items": {
                                        "properties": {
                                            "timestamp": {
                                                "description": "get status of the CSV file",
                                                "type": "string",
                                                "example": "2016-01-01"
                                            },
                                            "message": {
                                                "description": "get status of the CSV file",
                                                "type": "string"
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "error": {
                        "description": "some error",
                        "schema": {
                            "properties": {
                                "status": {
                                    "properties": {
                                        "code": {
                                            "type": "integer",
                                            "example": "404"
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "not found"
                                        }
                                    },
                                    "type": "object"
                                }
                            },
                            "type": "object"
                        }
                    }
                }
            }
        },
        "/contacts/list": {
            "post": {
                "tags": [
                    "Contacts"
                ],
                "summary": "Create a job to make a CSV of the given list id.",
                "description": "create CSV from list id",
                "consumes": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "body",
                        "in": "body",
                        "schema": {
                            "properties": {
                                "list_id": {
                                    "description": "list_id",
                                    "type": "integer"
                                },
                                "email_on_ready": {
                                    "description": "email_on_ready",
                                    "type": "string"
                                }
                            },
                            "type": "object"
                        }
                    }
                ],
                "responses": {
                    "202": {
                        "schema": {
                            "properties": {
                                "response": {
                                    "description": "Create a job to make a CSV of the given list id.",
                                    "type": "array",
                                    "items": {
                                        "properties": {
                                            "msg": {
                                                "description": "Create a job to make a CSV of the given list id.",
                                                "type": "string"
                                            },
                                            "url": {
                                                "description": "Create a job to make a CSV of the given list id.",
                                                "type": "string"
                                            },
                                            "file_name": {
                                                "description": "Create a job to make a CSV of the given list id.",
                                                "type": "string"
                                            },
                                            "file_id": {
                                                "description": "Create a job to make a CSV of the given list id.",
                                                "type": "integer"
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "400": {
                        "schema": {
                            "properties": {
                                "response": {
                                    "description": "Create a job to make a CSV of the given list id.",
                                    "type": "array",
                                    "items": {
                                        "properties": {
                                            "trace": {
                                                "description": "Create a job to make a CSV of the given list id.",
                                                "type": "string"
                                            },
                                            "message": {
                                                "description": "Create a job to make a CSV of the given list id.",
                                                "type": "string"
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/providers": {
            "get": {
                "tags": [
                    "Providers"
                ],
                "summary": "get available providers",
                "operationId": "providersAvailable",
                "responses": {
                    "default": {
                        "description": "default",
                        "schema": {
                            "properties": {
                                "status": {
                                    "type": "object",
                                    "$ref": "#/definitions/Status"
                                },
                                "response": {
                                    "description": "get available providers",
                                    "properties": {
                                        "providers": {
                                            "description": "get available providers",
                                            "type": "array"
                                        }
                                    }
                                }
                            },
                            "type": "object"
                        }
                    }
                }
            }
        },
        "/conditions/getDefinitions": {
            "post": {
                "tags": [
                    "Conditions"
                ],
                "summary": "get definitions",
                "operationId": "definitionsGet",
                "consumes": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "body",
                        "in": "body",
                        "schema": {
                            "properties": {
                                "objects": {
                                    "description": "objects",
                                    "type": "object",
                                    "in": "formData"
                                }
                            },
                            "type": "object"
                        }
                    }
                ],
                "responses": {
                    "default": {
                        "description": "default",
                        "schema": {
                            "properties": {
                                "status": {
                                    "type": "object",
                                    "$ref": "#/definitions/Status"
                                },
                                "response": {
                                    "description": "get definitions",
                                    "type": "array"
                                }
                            },
                            "type": "object"
                        }
                    }
                }
            }
        },
        "/debtqueues/{id}": {
            "get": {
                "tags": [
                    "DebtQueues"
                ],
                "summary": "get debt queues",
                "operationId": "debtqueuesGet",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "Id of debt queues",
                        "required": true,
                        "type": "integer"
                    }
                ],
                "responses": {
                    "default": {
                        "description": "default",
                        "schema": {
                            "properties": {
                                "status": {
                                    "type": "object",
                                    "$ref": "#/definitions/Status"
                                },
                                "response": {
                                    "description": "get debt queues",
                                    "$ref": "#/definitions/DebtQueue"
                                }
                            },
                            "type": "object"
                        }
                    },
                    "error": {
                        "description": "some error",
                        "schema": {
                            "properties": {
                                "status": {
                                    "properties": {
                                        "code": {
                                            "type": "integer",
                                            "example": "404"
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "not found"
                                        }
                                    },
                                    "type": "object"
                                }
                            },
                            "type": "object"
                        }
                    }
                }
            },
            "put": {
                "tags": [
                    "DebtQueues"
                ],
                "summary": "update debt queues",
                "operationId": "debtqueuesUpdate",
                "consumes": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "Id of debt queues. If empty then insert new",
                        "type": "integer",
                        "default": 0
                    },
                    {
                        "name": "body",
                        "in": "body",
                        "schema": {
                            "properties": {
                                "title": {
                                    "description": "title of debt queues",
                                    "type": "string"
                                },
                                "description": {
                                    "description": "description of debt queues",
                                    "type": "string"
                                }
                            },
                            "type": "object"
                        }
                    }
                ],
                "responses": {
                    "default": {
                        "description": "default",
                        "schema": {
                            "properties": {
                                "status": {
                                    "type": "object",
                                    "$ref": "#/definitions/Status"
                                },
                                "response": {
                                    "type": "object"
                                }
                            },
                            "type": "object"
                        }
                    },
                    "error": {
                        "description": "some error",
                        "schema": {
                            "properties": {
                                "status": {
                                    "properties": {
                                        "code": {
                                            "type": "integer",
                                            "example": "404"
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "not found"
                                        }
                                    },
                                    "type": "object"
                                }
                            },
                            "type": "object"
                        }
                    }
                }
            }
        },
        "/debtqueues/company": {
            "get": {
                "tags": [
                    "DebtQueues"
                ],
                "summary": "get debt queues by company",
                "operationId": "debtqueuesByCompany",
                "responses": {
                    "default": {
                        "description": "default",
                        "schema": {
                            "properties": {
                                "status": {
                                    "type": "object",
                                    "$ref": "#/definitions/Status"
                                },
                                "response": {
                                    "description": "get debt queues by company",
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/definitions/DebtQueue"
                                    }
                                }
                            },
                            "type": "object"
                        }
                    },
                    "error": {
                        "description": "some error",
                        "schema": {
                            "properties": {
                                "status": {
                                    "properties": {
                                        "code": {
                                            "type": "integer",
                                            "example": "404"
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "not found"
                                        }
                                    },
                                    "type": "object"
                                }
                            },
                            "type": "object"
                        }
                    }
                }
            }
        },
        "/debts": {
            "post": {
                "tags": [
                    "Debts"
                ],
                "summary": "Create a new debt record",
                "operationId": "debtCreate",
                "consumes": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "body",
                        "in": "body",
                        "description": "Debt object to be created",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/Debt"
                        }
                    }
                ],
                "responses": {
                    "success": {
                        "description": "after creation",
                        "schema": {
                            "properties": {
                                "status": {
                                    "type": "object",
                                    "$ref": "#/definitions/Status"
                                },
                                "response": {
                                    "properties": {
                                        "id": {
                                            "type": "integer",
                                            "example": "123"
                                        }
                                    },
                                    "type": "object"
                                }
                            },
                            "type": "object"
                        }
                    },
                    "error": {
                        "description": "some error",
                        "schema": {
                            "properties": {
                                "status": {
                                    "properties": {
                                        "code": {
                                            "type": "integer",
                                            "example": "404"
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "not found"
                                        }
                                    },
                                    "type": "object"
                                }
                            },
                            "type": "object"
                        }
                    }
                }
            }
        },
        "/debts/{debt_id}": {
            "get": {
                "tags": [
                    "Debts"
                ],
                "summary": "Get debt record by id",
                "operationId": "debtRead",
                "parameters": [
                    {
                        "name": "debt_id",
                        "in": "path",
                        "description": "Id of debt to be returned",
                        "required": true,
                        "type": "integer"
                    }
                ],
                "responses": {
                    "default": {
[...]
