{
    "swagger": "2.0",
    "info": {
        "title": "DebtPayPro API",
        "contact": {
            "email": "apisupport@debtpaypro.com"
        },
        "version": "1.0.0"
    },
    "host": "api.debtpaypro.com",
    "basePath": "/v1",
    "schemes": [
        "https"
    ],
    "produces": [
        "application/json"
    ],
    "paths": {
        "/portal/domains": {
            "get": {
                "tags": [
                    "Portal"
                ],
                "summary": "Get Portal Domains",
                "consumes": [],
                "responses": {
                    "default": {
                        "description": "Error",
                        "schema": {
                            "required": [
                                "status"
                            ],
                            "properties": {
                                "status": {
                                    "type": "object",
                                    "$ref": "#/definitions/Status"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/portal/domain/{domain_id}": {
            "put": {
                "tags": [
                    "Portal"
                ],
                "summary": "Update Portal Domain by Id",
                "consumes": [],
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "Id of portal domain to be updated",
                        "required": true,
                        "type": "integer"
                    }
                ],
                "responses": {
                    "default": {
                        "description": "Error",
                        "schema": {
                            "required": [
                                "status"
                            ],
                            "properties": {
                                "status": {
                                    "type": "object",
                                    "$ref": "#/definitions/Status"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/portal/company/{domain_id}": {
            "get": {
                "tags": [
                    "Portal"
                ],
                "summary": "Get Company by Portal Domain Id",
                "consumes": [],
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "Id of Portal Domain to be read",
                        "required": true,
                        "type": "integer"
                    }
                ],
                "responses": {
                    "default": {
                        "description": "Error",
                        "schema": {
                            "required": [
                                "status"
                            ],
                            "properties": {
                                "status": {
                                    "type": "object",
                                    "$ref": "#/definitions/Status"
                                }
                            }
                        }
                    }
                }
            },
            "post": {
                "tags": [
                    "Portal"
                ],
                "summary": "Create Company for the Portal Domain Id",
                "consumes": [],
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "Id of Portal Domain for the Company",
                        "required": true,
                        "type": "integer"
                    }
                ],
                "responses": {
                    "default": {
                        "description": "Error",
                        "schema": {
                            "required": [
                                "status"
                            ],
                            "properties": {
                                "status": {
                                    "type": "object",
                                    "$ref": "#/definitions/Status"
                                }
                            }
                        }
                    }
                }
            },
            "delete": {
                "tags": [
                    "Portal"
                ],
                "summary": "Delete Company for the Portal Domain Id",
                "consumes": [],
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "Id of Portal Domain for the Company",
                        "required": true,
                        "type": "integer"
                    }
                ],
                "responses": {
                    "default": {
                        "description": "Error",
                        "schema": {
                            "required": [
                                "status"
                            ],
                            "properties": {
                                "status": {
                                    "type": "object",
                                    "$ref": "#/definitions/Status"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/portal/company/module/{domain_id}": {
            "get": {
                "tags": [
                    "Portal"
                ],
                "summary": "Get Company Module by Portal Domain Id",
                "consumes": [],
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "Id of Portal Domain to be read",
                        "required": true,
                        "type": "integer"
                    }
                ],
                "responses": {
                    "default": {
                        "description": "Error",
                        "schema": {
                            "required": [
                                "status"
                            ],
                            "properties": {
                                "status": {
                                    "type": "object",
                                    "$ref": "#/definitions/Status"
                                }
                            }
                        }
                    }
                }
            },
            "put": {
                "tags": [
                    "Portal"
                ],
                "summary": "Update Company Module by Portal Domain Id",
                "consumes": [],
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "Id of Portal Domain to be updated",
                        "required": true,
                        "type": "integer"
                    }
                ],
                "responses": {
                    "default": {
                        "description": "Error",
                        "schema": {
                            "required": [
                                "status"
                            ],
                            "properties": {
                                "status": {
                                    "type": "object",
                                    "$ref": "#/definitions/Status"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/portal/company/email/{domain_id}": {
            "get": {
                "tags": [
                    "Portal"
                ],
                "summary": "Get Company Email by Portal Domain Id",
                "consumes": [],
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "Id of Portal Domain to be read",
                        "required": true,
                        "type": "integer"
                    }
                ],
                "responses": {
                    "default": {
                        "description": "Error",
                        "schema": {
                            "required": [
                                "status"
                            ],
                            "properties": {
                                "status": {
                                    "type": "object",
                                    "$ref": "#/definitions/Status"
                                }
                            }
                        }
                    }
                }
            },
            "put": {
                "tags": [
                    "Portal"
                ],
                "summary": "Update Company Email by Portal Domain Id",
                "consumes": [],
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "Id of Portal Domain to be updated",
                        "required": true,
                        "type": "integer"
                    }
                ],
                "responses": {
                    "default": {
                        "description": "Error",
                        "schema": {
                            "required": [
                                "status"
                            ],
                            "properties": {
                                "status": {
                                    "type": "object",
                                    "$ref": "#/definitions/Status"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/portal/company/permission/{domain_id}": {
            "put": {
                "tags": [
                    "Portal"
                ],
                "summary": "Update Company Permission by Portal Domain Id",
                "consumes": [],
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "Id of Portal Domain to be updated",
                        "required": true,
                        "type": "integer"
                    }
                ],
                "responses": {
                    "default": {
                        "description": "Error",
                        "schema": {
                            "required": [
                                "status"
                            ],
                            "properties": {
                                "status": {
                                    "type": "object",
                                    "$ref": "#/definitions/Status"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/portal/company/support/{domain_id}": {
            "put": {
                "tags": [
                    "Portal"
                ],
                "summary": "Update Company Support by Portal Domain Id",
                "consumes": [],
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "Id of Portal Domain to be updated",
                        "required": true,
                        "type": "integer"
                    }
                ],
                "responses": {
                    "default": {
                        "description": "Error",
                        "schema": {
                            "required": [
                                "status"
                            ],
                            "properties": {
                                "status": {
                                    "type": "object",
                                    "$ref": "#/definitions/Status"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/portal/company/terminology/{domain_id}": {
            "put": {
                "tags": [
                    "Portal"
                ],
                "summary": "Update Company Terminology by Portal Domain Id",
                "consumes": [],
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "Id of Portal Domain to be updated",
                        "required": true,
                        "type": "integer"
                    }
                ],
                "responses": {
                    "default": {
                        "description": "Error",
                        "schema": {
                            "required": [
                                "status"
                            ],
                            "properties": {
                                "status": {
                                    "type": "object",
                                    "$ref": "#/definitions/Status"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/accounts": {
            "post": {
                "tags": [
                    "Accounts"
                ],
                "summary": "Create account record",
                "operationId": "accountCreate",
                "consumes": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "body",
                        "in": "body",
                        "description": "accountData",
                        "required": true,
                        "type": "object"
                    }
                ],
                "responses": {
                    "success": {
                        "description": "after creation",
                        "schema": {
                            "properties": {
                                "status": {
                                    "type": "object",
                                    "$ref": "#/definitions/Status"
                                },
                                "response": {
                                    "properties": {
                                        "id": {
                                            "type": "integer",
                                            "example": "123"
                                        }
                                    },
                                    "type": "object"
                                }
                            },
                            "type": "object"
                        }
                    }
                }
            }
        },
        "/accounts/{id}": {
            "get": {
                "tags": [
                    "Accounts"
                ],
                "summary": "Get account record by id",
                "operationId": "accountRead",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "Id of account to be returned",
                        "required": true,
                        "type": "integer"
                    }
                ],
                "responses": {
                    "default": {
                        "description": "default",
                        "schema": {
                            "properties": {
                                "status": {
                                    "type": "object",
                                    "$ref": "#/definitions/Status"
                                },
                                "response": {
                                    "description": "Get account record by id",
                                    "$ref": "#/definitions/Account"
                                }
                            },
                            "type": "object"
                        }
                    }
                }
            },
            "put": {
                "tags": [
                    "Accounts"
                ],
                "summary": "Update account record by id",
                "operationId": "accountUpdate",
                "consumes": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "Id of account to be updated",
                        "required": true,
                        "type": "integer"
                    }
                ],
                "responses": {
                    "default": {
                        "description": "default",
                        "schema": {
                            "properties": {
                                "status": {
                                    "type": "object",
                                    "$ref": "#/definitions/Status"
                                },
                                "response": {
                                    "type": "object"
                                }
                            },
                            "type": "object"
                        }
                    }
                }
            },
            "delete": {
                "tags": [
                    "Accounts"
                ],
                "summary": "Delete account record by id",
                "operationId": "accountDelete",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "Id of account to be returned",
                        "required": true,
                        "type": "integer"
                    }
                ],
                "responses": {
                    "default": {
                        "description": "default",
                        "schema": {
                            "properties": {
                                "status": {
                                    "type": "object",
                                    "$ref": "#/definitions/Status"
                                },
                                "response": {
                                    "type": "object"
                                }
                            },
                            "type": "object"
                        }
                    }
                }
            }
        },
        "/auth/token": {
            "post": {
                "tags": [
                    "Auth"
                ],
                "summary": "get auth token",
                "operationId": "authGetToken",
                "parameters": [
                    {
                        "name": "client_secret",
                        "in": "formData",
                        "type": "string"
                    },
                    {
                        "name": "client_id",
                        "in": "formData",
                        "type": "string"
                    }
                ],
                "responses": {
                    "default": {
                        "description": "default",
                        "schema": {
                            "properties": {
                                "status": {
                                    "type": "object",
                                    "$ref": "#/definitions/Status"
                                },
                                "response": {
                                    "description": "get auth token",
                                    "type": "array",
                                    "items": {
                                        "properties": {
                                            "api_key": {
                                                "description": "get auth token",
                                                "type": "string"
                                            },
                                            "expires_in": {
                                                "description": "get auth token",
                                                "type": "integer"
                                            }
                                        }
                                    }
                                }
                            },
                            "type": "object"
                        }
                    }
                }
            }
        },
        "/calls": {
            "post": {
                "tags": [
                    "Calls"
                ],
                "summary": "Create a new call record",
                "consumes": [],
                "parameters": [
                    {
                        "name": "body",
                        "in": "body",
                        "description": "Call object",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/Call"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "schema": {
                            "properties": {
                                "status": {
                                    "type": "object",
                                    "$ref": "#/definitions/Status"
                                },
                                "response": {
                                    "properties": {
                                        "id": {
                                            "type": "integer",
                                            "example": "123"
                                        }
                                    },
                                    "type": "object"
                                }
                            },
                            "type": "object"
                        }
                    },
                    "404": {
                        "description": "Error",
                        "schema": {
                            "properties": {
                                "status": {
                                    "properties": {
                                        "code": {
                                            "type": "integer",
                                            "example": "404"
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "not found"
                                        }
                                    },
                                    "type": "object"
                                }
                            },
                            "type": "object"
                        }
                    }
                }
            }
        },
        "/calls/{call_id}": {
            "get": {
                "tags": [
                    "Calls"
                ],
                "summary": "Get call record by id",
                "consumes": [],
                "parameters": [
                    {
                        "name": "call_id",
                        "in": "path",
                        "description": "Id of call to be returned",
                        "required": true,
                        "type": "integer"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "schema": {
                            "properties": {
                                "status": {
                                    "type": "object",
                                    "$ref": "#/definitions/Status"
                                },
                                "response": {
                                    "description": "Get call record by id",
                                    "$ref": "#/definitions/Call"
                                }
                            },
                            "type": "object"
                        }
                    },
                    "404": {
                        "description": "Error",
                        "schema": {
                            "properties": {
                                "status": {
                                    "properties": {
                                        "code": {
                                            "type": "integer",
                                            "example": "404"
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "not found"
                                        }
                                    },
                                    "type": "object"
                                }
                            },
                            "type": "object"
                        }
                    }
                }
            },
            "put": {
                "tags": [
                    "Calls"
                ],
                "summary": "Update call record by id",
                "consumes": [],
                "parameters": [
                    {
                        "name": "call_id",
                        "in": "path",
                        "description": "Id of call to be updated",
                        "required": true,
                        "type": "integer"
                    },
                    {
                        "name": "body",
                        "in": "body",
                        "description": "Call object",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/Call"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "schema": {
                            "properties": {
                                "status": {
                                    "type": "object",
                                    "$ref": "#/definitions/Status"
                                },
                                "response": {
                                    "type": "object"
                                }
                            },
                            "type": "object"
                        }
                    },
                    "404": {
                        "description": "Error",
                        "schema": {
                            "properties": {
                                "status": {
                                    "properties": {
                                        "code": {
                                            "type": "integer",
                                            "example": "404"
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "not found"
                                        }
                                    },
                                    "type": "object"
                                }
                            },
                            "type": "object"
                        }
                    }
                }
            },
            "delete": {
                "tags": [
                    "Calls"
                ],
                "summary": "Delete call record by id",
                "consumes": [],
                "parameters": [
                    {
                        "name": "call_id",
                        "in": "path",
                        "description": "Id of call to be deleted",
                        "required": true,
                        "type": "integer"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "schema": {
                            "properties": {
                                "status": {
                                    "type": "object",
                                    "$ref": "#/definitions/Status"
                                },
                                "response": {
                                    "type": "object"
                                }
                            },
                            "type": "object"
                        }
                    },
                    "404": {
                        "description": "Error",
                        "schema": {
                            "properties": {
                                "status": {
                                    "properties": {
                                        "code": {
                                            "type": "integer",
                                            "example": "404"
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "not found"
                                        }
                                    },
                                    "type": "object"
                                }
                            },
                            "type": "object"
                        }
                    }
                }
            }
        },
        "/campaigns/e-mail": {
            "post": {
                "tags": [
                    "Campaigns"
                ],
                "summary": "Create a new campaign email",
                "operationId": "campaignCreate",
                "consumes": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "body",
                        "in": "body",
                        "description": "Campaign object to be created",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/Campaign"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "schema": {
                            "properties": {
                                "status": {
                                    "type": "object",
                                    "$ref": "#/definitions/Status"
                                },
                                "response": {
                                    "properties": {
                                        "id": {
                                            "type": "integer",
                                            "example": "123"
                                        }
                                    },
                                    "type": "object"
                                }
                            },
                            "type": "object"
                        }
                    },
                    "4xx": {
                        "description": "Error",
                        "schema": {
                            "properties": {
                                "status": {
                                    "properties": {
                                        "code": {
                                            "type": "integer",
                                            "example": "404"
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "not found"
                                        }
                                    },
                                    "type": "object"
                                }
                            },
                            "type": "object"
                        }
                    }
                }
            }
        },
        "/campaigns/e-mail/{campaign_id}": {
            "get": {
                "tags": [
                    "Campaigns"
                ],
                "summary": "Get campaign record by id",
                "operationId": "campaignRead",
                "parameters": [
                    {
                        "name": "campaign_id",
                        "in": "path",
                        "description": "Id of campaign email to be returned",
                        "required": true,
                        "type": "integer"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "schema": {
                            "properties": {
                                "status": {
                                    "type": "object",
                                    "$ref": "#/definitions/Status"
                                },
                                "response": {
                                    "description": "Read Campaigns Email by Id",
                                    "$ref": "#/definitions/Campaign"
                                }
                            },
                            "type": "object"
                        }
                    },
                    "4xx": {
                        "description": "Error",
                        "schema": {
                            "properties": {
                                "status": {
                                    "properties": {
                                        "code": {
                                            "type": "integer",
                                            "example": "404"
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "not found"
                                        }
                                    },
                                    "type": "object"
                                }
                            },
                            "type": "object"
                        }
                    }
                }
            },
            "put": {
                "tags": [
                    "Campaigns"
                ],
                "summary": "Update campaign record by id",
                "operationId": "campaignUpdate",
                "consumes": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "campaign_id",
                        "in": "path",
                        "description": "Id of campaign email to be updated",
                        "required": true,
                        "type": "integer"
                    },
                    {
                        "name": "body",
                        "in": "body",
                        "description": "Campaign object that will be update",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/Campaign"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "schema": {
                            "properties": {
                                "status": {
                                    "type": "object",
                                    "$ref": "#/definitions/Status"
                                },
                                "response": {
                                    "type": "object"
                                }
                            },
                            "type": "object"
                        }
                    },
                    "4xx": {
                        "description": "Error",
                        "schema": {
                            "properties": {
                                "status": {
                                    "properties": {
                                        "code": {
                                            "type": "integer",
                                            "example": "404"
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "not found"
                                        }
                                    },
                                    "type": "object"
                                }
                            },
                            "type": "object"
                        }
                    }
                }
            },
            "delete": {
                "tags": [
                    "Campaigns"
                ],
                "summary": "Delete campaign record by id",
                "operationId": "campaignDelete",
                "parameters": [
                    {
                        "name": "campaign_id",
                        "in": "path",
                        "description": "Id of campaign email to be deleted",
                        "required": true,
                        "type": "integer"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "schema": {
                            "properties": {
                                "status": {
                                    "type": "object",
                                    "$ref": "#/definitions/Status"
                                },
                                "response": {
                                    "type": "object"
                                }
                            },
                            "type": "object"
                        }
                    },
                    "4xx": {
                        "description": "Error",
                        "schema": {
                            "properties": {
                                "status": {
                                    "properties": {
                                        "code": {
                                            "type": "integer",
                                            "example": "404"
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "not found"
                                        }
                                    },
                                    "type": "object"
                                }
                            },
                            "type": "object"
                        }
                    }
                }
            }
        },
        "/companies": {
            "post": {
                "tags": [
                    "Companies"
                ],
                "summary": "Create a new company record",
                "operationId": "companyCreate",
                "consumes": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "body",
                        "in": "body",
                        "description": "Company object to be created",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/Company"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "schema": {
                            "properties": {
                                "status": {
                                    "type": "object",
                                    "$ref": "#/definitions/Status"
                                },
                                "response": {
                                    "properties": {
                                        "id": {
                                            "type": "integer",
                                            "example": "123"
                                        }
                                    },
                                    "type": "object"
                                }
                            },
                            "type": "object"
                        }
                    },
                    "4xx": {
                        "description": "Error",
                        "schema": {
                            "properties": {
                                "status": {
                                    "properties": {
                                        "code": {
                                            "type": "integer",
                                            "example": "404"
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "not found"
                                        }
                                    },
                                    "type": "object"
                                }
                            },
                            "type": "object"
                        }
                    }
                }
            }
        },
        "/companies/{id}": {
            "get": {
                "tags": [
                    "Companies"
                ],
                "summary": "Get company record by id",
                "operationId": "companyRead",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "Id of company to be returned",
                        "required": true,
                        "type": "integer"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "schema": {
                            "properties": {
                                "status": {
                                    "type": "object",
                                    "$ref": "#/definitions/Status"
                                },
                                "response": {
                                    "description": "Get company record by id",
                                    "$ref": "#/definitions/Company"
                                }
                            },
                            "type": "object"
                        }
                    },
                    "4xx": {
                        "description": "Error",
                        "schema": {
                            "properties": {
                                "status": {
                                    "properties": {
                                        "code": {
                                            "type": "integer",
                                            "example": "404"
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "not found"
                                        }
                                    },
                                    "type": "object"
                                }
                            },
                            "type": "object"
                        }
                    }
                }
            },
            "put": {
                "tags": [
                    "Companies"
                ],
                "summary": "Update company record by id",
                "operationId": "companyUpdate",
                "consumes": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "Id of company to be updated",
                        "required": true,
                        "type": "integer"
                    },
                    {
                        "name": "body",
                        "in": "body",
                        "description": "Company object that needs to be updated",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/Company"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "schema": {
                            "properties": {
                                "status": {
                                    "type": "object",
                                    "$ref": "#/definitions/Status"
                                },
                                "response": {
                                    "type": "object"
                                }
                            },
                            "type": "object"
                        }
                    },
                    "4xx": {
                        "description": "Error",
                        "schema": {
                            "properties": {
                                "status": {
                                    "properties": {
                                        "code": {
                                            "type": "integer",
                                            "example": "404"
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "not found"
                                        }
                                    },
                                    "type": "object"
                                }
                            },
                            "type": "object"
                        }
                    }
                }
            },
            "delete": {
                "tags": [
                    "Companies"
                ],
                "summary": "Delete company record by id",
                "operationId": "companyDelete",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "Id of company object to be deleted",
                        "required": true,
                        "type": "integer"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "schema": {
                            "properties": {
                                "status": {
                                    "type": "object",
                                    "$ref": "#/definitions/Status"
                                },
                                "response": {
                                    "type": "object"
                                }
                            },
                            "type": "object"
                        }
                    },
                    "4xx": {
                        "description": "Error",
                        "schema": {
                            "properties": {
                                "status": {
                                    "properties": {
                                        "code": {
                                            "type": "integer",
                                            "example": "404"
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "not found"
                                        }
                                    },
                                    "type": "object"
                                }
                            },
                            "type": "object"
                        }
                    }
                }
            }
        },
        "/contacts/{client_id}": {
            "get": {
                "tags": [
                    "Contacts"
                ],
                "summary": "Get contact record by id",
                "operationId": "contactRead",
                "parameters": [
                    {
                        "name": "client_id",
                        "in": "path",
                        "description": "Id of client to be returned",
                        "required": true,
                        "type": "integer"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "schema": {
                            "properties": {
                                "status": {
                                    "type": "object",
                                    "$ref": "#/definitions/Status"
                                },
                                "response": {
                                    "description": "contact details",
                                    "$ref": "#/definitions/Contact"
                                }
                            },
                            "type": "object"
                        }
                    },
                    "4xx": {
                        "description": "Error",
                        "schema": {
                            "properties": {
                                "status": {
                                    "properties": {
                                        "code": {
                                            "type": "integer",
                                            "example": "404"
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "not found"
                                        }
                                    },
                                    "type": "object"
                                }
                            },
                            "type": "object"
                        }
                    }
                }
            },
            "put": {
                "tags": [
                    "Contacts"
                ],
                "summary": "Update contact record by id",
                "operationId": "contactUpdate",
                "consumes": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "client_id",
                        "in": "path",
                        "description": "Id of client to be updated",
                        "required": true,
                        "type": "integer"
                    },
                    {
                        "name": "body",
                        "in": "body",
                        "description": "Contact object that will be updated",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/Contact"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "schema": {
                            "properties": {
                                "status": {
                                    "type": "object",
                                    "$ref": "#/definitions/Status"
                                },
                                "response": {
                                    "type": "object"
                                }
                            },
                            "type": "object"
                        }
                    },
                    "4xx": {
                        "description": "Error",
                        "schema": {
                            "properties": {
                                "status": {
                                    "properties": {
                                        "code": {
                                            "type": "integer",
                                            "example": "404"
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "not found"
                                        }
                                    },
                                    "type": "object"
                                }
                            },
                            "type": "object"
                        }
                    }
                }
            },
            "delete": {
                "tags": [
                    "Contacts"
                ],
                "summary": "Delete contact record by id",
                "operationId": "contactDelete",
                "parameters": [
                    {
                        "name": "client_id",
                        "in": "path",
                        "description": "Id of contact object to be delete",
                        "required": true,
                        "type": "integer"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "schema": {
                            "properties": {
                                "status": {
                                    "type": "object",
                                    "$ref": "#/definitions/Status"
                                },
                                "response": {
                                    "type": "object"
                                }
                            },
                            "type": "object"
                        }
                    },
                    "4xx": {
                        "description": "Error",
                        "schema": {
                            "properties": {
                                "status": {
                                    "properties": {
                                        "code": {
                                            "type": "integer",
                                            "example": "404"
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "not found"
                                        }
                                    },
                                    "type": "object"
                                }
                            },
                            "type": "object"
                        }
                    }
                }
            }
        },
        "/contacts/{contact_id}/documents": {
            "get": {
                "tags": [
                    "Contacts"
                ],
                "summary": "Get Contact Documents",
                "description": "Get enrollment statistics by contact id",
                "operationId": "contactDocuments",
                "parameters": [
                    {
                        "name": "contact_id",
                        "in": "path",
                        "description": "Id of contact",
                        "required": true,
                        "type": "integer"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "schema": {
                            "properties": {
                                "status": {
                                    "type": "object",
                                    "$ref": "#/definitions/Status"
                                },
                                "response": {
                                    "description": "Get Contact Documents",
                                    "type": "array",
                                    "$ref": "#/definitions/Docs"
                                }
                            },
                            "type": "object"
                        }
                    },
                    "4xx": {
                        "description": "Error",
                        "schema": {
                            "properties": {
                                "status": {
                                    "properties": {
                                        "code": {
                                            "type": "integer",
                                            "example": "404"
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "not found"
                                        }
                                    },
                                    "type": "object"
                                }
                            },
                            "type": "object"
                        }
                    }
                }
            }
        },
        "/contacts/getLists": {
            "post": {
                "tags": [
                    "Contacts"
                ],
                "summary": "Get lists",
                "description": "Get lists",
                "operationId": "contactLists",
                "consumes": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "body",
                        "in": "body",
                        "schema": {
                            "properties": {
                                "contact_info": {
                                    "description": "contact_info",
                                    "type": "integer"
                                },
                                "contact_id": {
                                    "description": "contact_id",
                                    "type": "integer"
                                }
                            },
                            "type": "object"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "schema": {
                            "properties": {
                                "status": {
                                    "type": "object",
                                    "$ref": "#/definitions/Status"
                                },
                                "response": {
                                    "type": "object"
                                }
                            },
                            "type": "object"
                        }
                    },
                    "4xx": {
                        "description": "Error",
                        "schema": {
                            "properties": {
                                "status": {
                                    "properties": {
                                        "code": {
                                            "type": "integer",
                                            "example": "404"
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "not found"
                                        }
                                    },
                                    "type": "object"
                                }
                            },
                            "type": "object"
                        }
                    }
                }
            }
        },
        "/contacts/{contact_id}/pull_credit/{provider}": {
            "post": {
                "tags": [
                    "Contacts"
                ],
                "summary": "Pull Credit Report on a contact",
                "description": "Pull credit report by contact id",
                "operationId": "contactPullCredit",
                "consumes": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "contact_id",
                        "in": "path",
                        "description": "contact_id",
                        "type": "integer"
                    },
                    {
                        "name": "provider",
                        "in": "path",
                        "description": "provider",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "schema": {
                            "properties": {
                                "status": {
                                    "type": "object",
                                    "$ref": "#/definitions/Status"
                                },
                                "response": {
                                    "description": "Pull Credit Report on a contact",
                                    "properties": {
                                        "report_id": {
                                            "description": "Pull Credit Report on a contact",
                                            "type": "integer"
                                        },
                                        "message": {
                                            "description": "Pull Credit Report on a contact",
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            },
                            "type": "object"
                        }
                    },
                    "4xx": {
                        "description": "Error",
                        "schema": {
                            "properties": {
                                "status": {
                                    "properties": {
                                        "code": {
                                            "type": "integer",
                                            "example": "404"
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "not found"
                                        }
                                    },
                                    "type": "object"
                                }
                            },
                            "type": "object"
                        }
                    }
                }
            }
        },
        "/contacts/{contact_id}/submit_to_lender/{lender}": {
            "post": {
                "tags": [
                    "Contacts"
                ],
                "summary": "Submit contact to lender",
                "description": "Submit contact to lender by contact id",
                "operationId": "contactSubmitLender",
                "parameters": [
                    {
                        "name": "contact_id",
                        "in": "path",
                        "description": "Id of contact to be submited",
                        "required": true,
                        "type": "integer"
                    },
                    {
                        "name": "lender",
                        "in": "path",
                        "description": "Id of lender",
                        "type": "integer"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "schema": {
                            "properties": {
                                "status": {
                                    "type": "object",
                                    "$ref": "#/definitions/Status"
                                },
                                "response": {
                                    "type": "object"
                                }
                            },
                            "type": "object"
                        }
                    },
                    "4xx": {
                        "description": "Error",
                        "schema": {
                            "properties": {
                                "status": {
                                    "properties": {
                                        "code": {
                                            "type": "integer",
                                            "example": "404"
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "not found"
                                        }
                                    },
                                    "type": "object"
                                }
                            },
                            "type": "object"
                        }
                    }
                }
            }
        },
        "/contacts/{contact_id}/ref": {
            "post": {
                "tags": [
                    "Contacts"
                ],
                "summary": "change or update Account Contacts Ref",
                "description": "Update account contacts ref",
                "operationId": "contactRefUpdate",
                "consumes": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "body",
                        "in": "body",
                        "schema": {
                            "properties": {
                                "contact_id": {
                                    "description": "Id of contact to be updated",
                                    "required": true,
                                    "type": "integer",
                                    "in": "path"
                                },
                                "type": {
                                    "description": "type of contact",
                                    "type": "integer"
                                },
                                "authorized": {
                                    "description": "contact authorized (1/0)",
                                    "type": "integer"
                                },
                                "link": {
                                    "description": "link account contact",
                                    "type": "integer"
                                },
                                "unlink": {
                                    "description": "unlink account contact",
                                    "type": "integer"
                                }
                            },
                            "type": "object"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "schema": {
                            "properties": {
                                "status": {
                                    "type": "object",
                                    "$ref": "#/definitions/Status"
                                },
                                "response": {
                                    "type": "object"
                                }
                            },
                            "type": "object"
                        }
                    },
                    "4xx": {
                        "description": "Error",
                        "schema": {
                            "properties": {
                                "status": {
                                    "properties": {
                                        "code": {
                                            "type": "integer",
                                            "example": "404"
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "not found"
                                        }
                                    },
                                    "type": "object"
                                }
                            },
                            "type": "object"
                        }
                    }
                }
            }
        },
        "/contacts/list/download/{export_id}": {
            "get": {
                "tags": [
                    "Contacts"
                ],
                "summary": "get status of the CSV file",
                "description": "get status of csv file",
                "parameters": [
                    {
                        "name": "export_id",
                        "in": "path",
                        "description": "export_id",
                        "required": true,
                        "type": "integer"
                    }
                ],
                "responses": {
                    "201": {
                        "schema": {
                            "properties": {
                                "response": {
                                    "description": "get status of the CSV file",
                                    "type": "array",
                                    "items": {
                                        "properties": {
                                            "file_url": {
                                                "description": "get status of the CSV file",
                                                "type": "string"
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "400": {
                        "schema": {
                            "properties": {
                                "response": {
                                    "description": "get status of the CSV file",
                                    "type": "array",
                                    "items": {
                                        "properties": {
                                            "timestamp": {
                                                "description": "get status of the CSV file",
                                                "type": "string",
                                                "example": "2016-01-01"
                                            },
                                            "message": {
                                                "description": "get status of the CSV file",
                                                "type": "string"
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "4xx": {
                        "description": "Error",
                        "schema": {
                            "properties": {
                                "status": {
                                    "properties": {
                                        "code": {
                                            "type": "integer",
                                            "example": "404"
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "not found"
                                        }
                                    },
                                    "type": "object"
                                }
                            },
                            "type": "object"
                        }
                    }
                }
            }
        },
        "/contacts/list": {
            "post": {
                "tags": [
                    "Contacts"
                ],
                "summary": "Create a job to make a CSV of the given list id.",
                "description": "create CSV from list id",
                "consumes": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "body",
                        "in": "body",
                        "schema": {
                            "properties": {
                                "list_id": {
                                    "description": "list_id",
                                    "type": "integer"
                                },
                                "email_on_ready": {
                                    "description": "email_on_ready",
                                    "type": "string"
                                }
                            },
                            "type": "object"
                        }
                    }
                ],
                "responses": {
                    "202": {
                        "schema": {
                            "properties": {
                                "response": {
                                    "description": "Create a job to make a CSV of the given list id.",
                                    "type": "array",
                                    "items": {
                                        "properties": {
                                            "msg": {
                                                "description": "Create a job to make a CSV of the given list id.",
                                                "type": "string"
                                            },
                                            "url": {
                                                "description": "Create a job to make a CSV of the given list id.",
                                                "type": "string"
                                            },
                                            "file_name": {
                                                "description": "Create a job to make a CSV of the given list id.",
                                                "type": "string"
                                            },
                                            "file_id": {
                                                "description": "Create a job to make a CSV of the given list id.",
                                                "type": "integer"
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "400": {
                        "schema": {
                            "properties": {
                                "response": {
                                    "description": "Create a job to make a CSV of the given list id.",
                                    "type": "array",
                                    "items": {
                                        "properties": {
                                            "trace": {
                                                "description": "Create a job to make a CSV of the given list id.",
                                                "type": "string"
                                            },
                                            "message": {
                                                "description": "Create a job to make a CSV of the given list id.",
                                                "type": "string"
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/contacts/{contact_id}/form_request": {
            "post": {
                "tags": [
                    "Contacts"
                ],
                "summary": "Send Form to Contact Email by contact_id",
                "description": "Send form to contact email by contact id",
                "consumes": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "contact_id",
                        "in": "path",
                        "description": "Id of contact to be emailed",
                        "required": true,
                        "type": "integer"
                    },
                    {
                        "name": "body",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "properties": {
                                "form_id": {
                                    "description": "form_id",
                                    "type": "integer"
                                }
                            },
                            "type": "object"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "schema": {
                            "properties": {
                                "status": {
                                    "type": "object",
                                    "$ref": "#/definitions/Status"
                                },
                                "response": {
                                    "type": "object"
                                }
                            },
                            "type": "object"
                        }
                    },
                    "4xx": {
                        "description": "Error",
                        "schema": {
                            "properties": {
                                "status": {
                                    "properties": {
                                        "code": {
                                            "type": "integer",
                                            "example": "404"
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "not found"
                                        }
                                    },
                                    "type": "object"
                                }
                            },
                            "type": "object"
                        }
                    }
                }
            }
        },
        "/providers": {
            "get": {
                "tags": [
                    "Providers"
                ],
                "summary": "Get Credit Report Providers",
                "operationId": "providersAvailable",
                "responses": {
                    "default": {
                        "description": "default",
                        "schema": {
                            "properties": {
                                "status": {
                                    "type": "object",
                                    "$ref": "#/definitions/Status"
                                },
                                "response": {
                                    "description": "Get Credit Report Providers",
                                    "properties": {
                                        "providers": {
                                            "description": "Get Credit Report Providers",
                                            "type": "array"
                                        }
                                    }
                                }
                            },
                            "type": "object"
                        }
                    }
                }
            }
        },
        "/conditions/getDefinitions": {
            "post": {
                "tags": [
                    "Conditions"
                ],
                "summary": "get definitions",
                "operationId": "definitionsGet",
                "consumes": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "body",
                        "in": "body",
                        "schema": {
                            "properties": {
                                "objects": {
                                    "description": "objects",
                                    "type": "object",
                                    "in": "formData"
                                }
                            },
                            "type": "object"
                        }
                    }
                ],
                "responses": {
                    "default": {
                        "description": "default",
                        "schema": {
                            "properties": {
                                "status": {
                                    "type": "object",
                                    "$ref": "#/definitions/Status"
                                },
                                "response": {
                                    "description": "get definitions",
                                    "type": "array"
                                }
                            },
                            "type": "object"
                        }
                    }
                }
            }
        },
        "/debtqueues/{id}": {
            "get": {
                "tags": [
                    "DebtQueues"
                ],
                "summary": "Get Debt Queue by Id",
                "operationId": "debtqueuesGet",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "Id of debt queues",
                        "required": true,
                        "type": "integer"
                    }
                ],
                "responses": {
                    "default": {
                        "description": "default",
                        "schema": {
                            "properties": {
                                "status": {
                                    "type": "object",
                                    "$ref": "#/definitions/Status"
                                },
                                "response": {
                                    "description": "Get Debt Queue by Id",
                                    "$ref": "#/definitions/DebtQueue"
                                }
                            },
                            "type": "object"
                        }
                    },
                    "error": {
                        "description": "some error",
                        "schema": {
                            "properties": {
                                "status": {
                                    "properties": {
                                        "code": {
                                            "type": "integer",
                                            "example": "404"
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "not found"
                                        }
                                    },
                                    "type": "object"
                                }
                            },
                            "type": "object"
                        }
                    }
                }
            },
            "put": {
                "tags": [
                    "DebtQueues"
                ],
                "summary": "Update Debt Queue by Id",
                "operationId": "debtqueuesUpdate",
                "consumes": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "Id of debt queues. If empty then insert new",
                        "type": "integer",
                        "default": 0
                    },
                    {
                        "name": "body",
                        "in": "body",
                        "schema": {
                            "properties": {
                                "title": {
                                    "description": "title of debt queues",
                                    "type": "string"
                                },
                                "description": {
                                    "description": "description of debt queues",
                                    "type": "string"
                                }
                            },
                            "type": "object"
                        }
                    }
                ],
                "responses": {
                    "default": {
                        "description": "default",
                        "schema": {
                            "properties": {
                                "status": {
                                    "type": "object",
                                    "$ref": "#/definitions/Status"
                                },
                                "response": {
                                    "type": "object"
                                }
                            },
                            "type": "object"
                        }
                    },
                    "error": {
                        "description": "some error",
                        "schema": {
                            "properties": {
                                "status": {
                                    "properties": {
                                        "code": {
                                            "type": "integer",
                                            "example": "404"
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "not found"
                                        }
                                    },
                                    "type": "object"
                                }
                            },
                            "type": "object"
                        }
                    }
                }
            }
        },
        "/debtqueues/company": {
            "get": {
                "tags": [
                    "DebtQueues"
                ],
                "summary": "Get Debt Queues by Company",
                "operationId": "debtqueuesByCompany",
                "responses": {
                    "default": {
                        "description": "default",
                        "schema": {
                            "properties": {
                                "status": {
                                    "type": "object",
                                    "$ref": "#/definitions/Status"
                                },
                                "response": {
                                    "description": "Get Debt Queues by Company",
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/definitions/DebtQueue"
                                    }
                                }
                            },
                            "type": "object"
                        }
                    },
                    "error": {
                        "description": "some error",
                        "schema": {
                            "properties": {
                                "status": {
                                    "properties": {
                                        "code": {
                                            "type": "integer",
                                            "example": "404"
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "not found"
                                        }
                                    },
                                    "type": "object"
                                }
                            },
                            "type": "object"
                        }
                    }
                }
            }
        },
        "/debts": {
            "post": {
                "tags": [
                    "Debts"
                ],
                "summary": "Create a new debt record",
                "operationId": "debtCreate",
                "consumes": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "body",
                        "in": "body",
                        "description": "Debt object to be created",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/Debt"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "schema": {
                            "properties": {
                                "status": {
                                    "type": "object",
                                    "$ref": "#/definitions/Status"
                                },
                                "response": {
                                    "properties": {
                                        "id": {
                                            "type": "integer",
                                            "example": "123"
                                        }
                                    },
                                    "type": "object"
                                }
                            },
                            "type": "object"
                        }
                    },
                    "4xx": {
                        "description": "Error",
                        "schema": {
                            "properties": {
                                "status": {
                                    "properties": {
                                        "code": {
                                            "type": "integer",
                                            "example": "404"
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "not found"
                                        }
                                    },
                                    "type": "object"
                                }
                            },
                            "type": "object"
                        }
                    }
                }
            }
        },
        "/debts/{debt_id}": {
            "get": {
                "tags": [
                    "Debts"
                ],
                "summary": "Get debt record by id",
                "operationId": "debtRead",
                "parameters": [
                    {
                        "name": "debt_id",
                        "in": "path",
                        "description": "Id of debt to be returned",
                        "required": true,
                        "type": "integer"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "schema": {
                            "properties": {
                                "status": {
                                    "type": "object",
                                    "$ref": "#/definitions/Status"
                                },
                                "response": {
                                    "description": "Get debt record by id",
                                    "$ref": "#/definitions/Debt"
                                }
                            },
                            "type": "object"
                        }
                    },
                    "4xx": {
                        "description": "Error",
                        "schema": {
                            "properties": {
                                "status": {
                                    "properties": {
                                        "code": {
                                            "type": "integer",
                                            "example": "404"
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "not found"
                                        }
                                    },
                                    "type": "object"
                                }
                            },
                            "type": "object"
                        }
                    }
                }
            },
            "put": {
                "tags": [
                    "Debts"
                ],
                "summary": "Update debt record by id",
                "operationId": "debtUpdate",
                "consumes": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "debt_id",
                        "in": "path",
                        "description": "Id of debt to be updated",
                        "required": true,
                        "type": "integer"
                    },
                    {
                        "name": "body",
                        "in": "body",
                        "description": "Debt object to be updated",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/Debt"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "schema": {
                            "properties": {
                                "status": {
                                    "type": "object",
                                    "$ref": "#/definitions/Status"
                                },
                                "response": {
                                    "type": "object"
                                }
                            },
                            "type": "object"
                        }
                    },
                    "4xx": {
                        "description": "Error",
                        "schema": {
                            "properties": {
                                "status": {
                                    "properties": {
[...]
