{
  "swagger": "2.0",
  "info": {
    "title": "DebtPayPro API",
    "contact": {
      "email": "apisupport@debtpaypro.com"
    },
    "version": "1.0.0"
  },
  "host": "api.debtpaypro.com",
  "basePath": "/v1",
  "schemes": ["https"],
  "produces": ["application/json"],
  "paths": {
    "/accounts": {
      "post": {
        "tags": ["Accounts"],
        "summary": "Create Account",
        "consumes": [],
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "description": "Account object",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Account"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "Error",
            "schema": {
              "required": ["status"],
              "properties": {
                "status": {
                  "type": "object",
                  "$ref": "#/definitions/Status"
                }
              }
            }
          }
        }
      }
    },
    "/accounts/{id}": {
      "get": {
        "tags": ["Accounts"],
        "summary": "Read Account by Id",
        "consumes": [],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Id of account to be read",
            "required": true,
            "type": "integer"
          }
        ],
        "responses": {
          "default": {
            "description": "Error",
            "schema": {
              "required": ["status"],
              "properties": {
                "status": {
                  "type": "object",
                  "$ref": "#/definitions/Status"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": ["Accounts"],
        "summary": "Update Account by Id",
        "consumes": [],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Id of account to be updated",
            "required": true,
            "type": "integer"
          },
          {
            "name": "body",
            "in": "body",
            "description": "Account object",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Account"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "Error",
            "schema": {
              "required": ["status"],
              "properties": {
                "status": {
                  "type": "object",
                  "$ref": "#/definitions/Status"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": ["Accounts"],
        "summary": "Delete Account By Id",
        "consumes": [],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Id of account to be deleted",
            "required": true,
            "type": "integer"
          }
        ],
        "responses": {
          "default": {
            "description": "Error",
            "schema": {
              "required": ["status"],
              "properties": {
                "status": {
                  "type": "object",
                  "$ref": "#/definitions/Status"
                }
              }
            }
          }
        }
      }
    },
    "/calls": {
      "post": {
        "tags": ["Calls"],
        "summary": "Create Calls",
        "consumes": [],
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "description": "Calls object",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Call"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "Error",
            "schema": {
              "required": ["status"],
              "properties": {
                "status": {
                  "type": "object",
                  "$ref": "#/definitions/Status"
                }
              }
            }
          }
        }
      }
    },
    "/calls/{call_id}": {
      "get": {
        "tags": ["Calls"],
        "summary": "Read Calls by Id",
        "consumes": [],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Id of call to be read",
            "required": true,
            "type": "integer"
          }
        ],
        "responses": {
          "default": {
            "description": "Error",
            "schema": {
              "required": ["status"],
              "properties": {
                "status": {
                  "type": "object",
                  "$ref": "#/definitions/Status"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": ["Calls"],
        "summary": "Update Calls by Id",
        "consumes": [],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Id of call to be updated",
            "required": true,
            "type": "integer"
          },
          {
            "name": "body",
            "in": "body",
            "description": "Calls object",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Call"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "Error",
            "schema": {
              "required": ["status"],
              "properties": {
                "status": {
                  "type": "object",
                  "$ref": "#/definitions/Status"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": ["Calls"],
        "summary": "Delete Call By Id",
        "consumes": [],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Id of call to be deleted",
            "required": true,
            "type": "integer"
          }
        ],
        "responses": {
          "default": {
            "description": "Error",
            "schema": {
              "required": ["status"],
              "properties": {
                "status": {
                  "type": "object",
                  "$ref": "#/definitions/Status"
                }
              }
            }
          }
        }
      }
    },
    "/campaigns/e-mail": {
      "post": {
        "tags": ["Email"],
        "summary": "Create Campaigns Email",
        "consumes": [],
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "description": "Campaigns Email object",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Campaign"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "Error",
            "schema": {
              "required": ["status"],
              "properties": {
                "status": {
                  "type": "object",
                  "$ref": "#/definitions/Status"
                }
              }
            }
          }
        }
      }
    },
    "/campaigns/e-mail/{id}": {
      "get": {
        "tags": ["Email"],
        "summary": "Read Campaigns Email by Id",
        "consumes": [],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Id of Campaigns Email to be read",
            "required": true,
            "type": "integer"
          }
        ],
        "responses": {
          "default": {
            "description": "Error",
            "schema": {
              "required": ["status"],
              "properties": {
                "status": {
                  "type": "object",
                  "$ref": "#/definitions/Status"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": ["Email"],
        "summary": "Campaigns Email by Id",
        "consumes": [],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Id of Campaigns Email to be updated",
            "required": true,
            "type": "integer"
          },
          {
            "name": "body",
            "in": "body",
            "description": "Campaigns Email object",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Campaign"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "Error",
            "schema": {
              "required": ["status"],
              "properties": {
                "status": {
                  "type": "object",
                  "$ref": "#/definitions/Status"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": ["Email"],
        "summary": "Delete Campaigns Email By Id",
        "consumes": [],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Id of Campaigns Email to be deleted",
            "required": true,
            "type": "integer"
          }
        ],
        "responses": {
          "default": {
            "description": "Error",
            "schema": {
              "required": ["status"],
              "properties": {
                "status": {
                  "type": "object",
                  "$ref": "#/definitions/Status"
                }
              }
            }
          }
        }
      }
    },
    "/campaigns/sms": {
      "post": {
        "tags": ["Sms"],
        "summary": "Create Campaigns Sms",
        "consumes": [],
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "description": "Campaigns Sms object",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Campaign"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "Error",
            "schema": {
              "required": ["status"],
              "properties": {
                "status": {
                  "type": "object",
                  "$ref": "#/definitions/Status"
                }
              }
            }
          }
        }
      }
    },
    "/campaigns/sms/{id}": {
      "get": {
        "tags": ["Sms"],
        "summary": "Read Campaigns Sms by Id",
        "consumes": [],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Id of Campaigns Sms to be read",
            "required": true,
            "type": "integer"
          }
        ],
        "responses": {
          "default": {
            "description": "Error",
            "schema": {
              "required": ["status"],
              "properties": {
                "status": {
                  "type": "object",
                  "$ref": "#/definitions/Status"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": ["Sms"],
        "summary": "Campaigns Sms by Id",
        "consumes": [],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Id of Campaigns Sms to be updated",
            "required": true,
            "type": "integer"
          },
          {
            "name": "body",
            "in": "body",
            "description": "Campaigns Sms object",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Campaign"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "Error",
            "schema": {
              "required": ["status"],
              "properties": {
                "status": {
                  "type": "object",
                  "$ref": "#/definitions/Status"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": ["Sms"],
        "summary": "Delete Campaigns Sms By Id",
        "consumes": [],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Id of Campaigns sms to be deleted",
            "required": true,
            "type": "integer"
          }
        ],
        "responses": {
          "default": {
            "description": "Error",
            "schema": {
              "required": ["status"],
              "properties": {
                "status": {
                  "type": "object",
                  "$ref": "#/definitions/Status"
                }
              }
            }
          }
        }
      }
    },
    "/companies": {
      "post": {
        "tags": ["Companies"],
        "summary": "Create Conpanies",
        "consumes": [],
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "description": "Companies object",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Company"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "Error",
            "schema": {
              "required": ["status"],
              "properties": {
                "status": {
                  "type": "object",
                  "$ref": "#/definitions/Status"
                }
              }
            }
          }
        }
      }
    },
    "/companies/{company_id}": {
      "get": {
        "tags": ["Companies"],
        "summary": "Read Companies by Id",
        "consumes": [],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Id of Companies to be read",
            "required": true,
            "type": "integer"
          }
        ],
        "responses": {
          "default": {
            "description": "Error",
            "schema": {
              "required": ["status"],
              "properties": {
                "status": {
                  "type": "object",
                  "$ref": "#/definitions/Status"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": ["Companies"],
        "summary": "Update Companies by Id",
        "consumes": [],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Id of companies to be updated",
            "required": true,
            "type": "integer"
          },
          {
            "name": "body",
            "in": "body",
            "description": "Companies object",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Company"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "Error",
            "schema": {
              "required": ["status"],
              "properties": {
                "status": {
                  "type": "object",
                  "$ref": "#/definitions/Status"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": ["Companies"],
        "summary": "Delete Companies By Id",
        "consumes": [],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Id of companies to be deleted",
            "required": true,
            "type": "integer"
          }
        ],
        "responses": {
          "default": {
            "description": "Error",
            "schema": {
              "required": ["status"],
              "properties": {
                "status": {
                  "type": "object",
                  "$ref": "#/definitions/Status"
                }
              }
            }
          }
        }
      }
    },
    "/conditions/getDefinitions": {
      "post": {
        "tags": ["Conditions"],
        "summary": "Get Conditions Definitions",
        "consumes": [],
        "responses": {
          "default": {
            "description": "Error",
            "schema": {
              "required": ["status"],
              "properties": {
                "status": {
                  "type": "object",
                  "$ref": "#/definitions/Status"
                }
              }
            }
          }
        }
      }
    },
    "/contacts/search_by_phone/{phone}": {
      "get": {
        "tags": ["contacts"],
        "summary": "Search Contacts by Phone Number",
        "consumes": [],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Phone Number of Contact to be searched for",
            "required": true,
            "type": "integer"
          }
        ],
        "responses": {
          "default": {
            "description": "Error",
            "schema": {
              "required": ["status"],
              "properties": {
                "status": {
                  "type": "object",
                  "$ref": "#/definitions/Status"
                }
              }
            }
          }
        }
      }
    },
    "/contacts/search": {
      "get": {
        "tags": ["contacts"],
        "summary": "Search Contacts",
        "consumes": [],
        "responses": {
          "default": {
            "description": "Error",
            "schema": {
              "required": ["status"],
              "properties": {
                "status": {
                  "type": "object",
                  "$ref": "#/definitions/Status"
                }
              }
            }
          }
        }
      }
    },
    "/contacts": {
      "post": {
        "tags": ["Contacts"],
        "summary": "Create Contacts",
        "consumes": [],
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "description": "Contacts object",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Contact"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "Error",
            "schema": {
              "required": ["status"],
              "properties": {
                "status": {
                  "type": "object",
                  "$ref": "#/definitions/Status"
                }
              }
            }
          }
        }
      }
    },
    "/contacts/{contact_id}": {
      "get": {
        "tags": ["Contacts"],
        "summary": "Read Contacts by Id",
        "consumes": [],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Id of contact to be read",
            "required": true,
            "type": "integer"
          }
        ],
        "responses": {
          "default": {
            "description": "Error",
            "schema": {
              "required": ["status"],
              "properties": {
                "status": {
                  "type": "object",
                  "$ref": "#/definitions/Status"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": ["Contacts"],
        "summary": "Update Contacts by Id",
        "consumes": [],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Id of contact to be updated",
            "required": true,
            "type": "integer"
          },
          {
            "name": "body",
            "in": "body",
            "description": "Contacts object",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Contact"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "Error",
            "schema": {
              "required": ["status"],
              "properties": {
                "status": {
                  "type": "object",
                  "$ref": "#/definitions/Status"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": ["Contacts"],
        "summary": "Delete Contacts By Id",
        "consumes": [],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Id of contact to be deleted",
            "required": true,
            "type": "integer"
          }
        ],
        "responses": {
          "default": {
            "description": "Error",
            "schema": {
              "required": ["status"],
              "properties": {
                "status": {
                  "type": "object",
                  "$ref": "#/definitions/Status"
                }
              }
            }
          }
        }
      }
    },
    "/contacts/{contact_id}/coapp": {
      "get": {
        "tags": ["Contacts"],
        "summary": "Get Coapp by Contacts Id",
        "consumes": [],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Id of contact for the coapp",
            "required": true,
            "type": "integer"
          }
        ],
        "responses": {
          "default": {
            "description": "Error",
            "schema": {
              "required": ["status"],
              "properties": {
                "status": {
                  "type": "object",
                  "$ref": "#/definitions/Status"
                }
              }
            }
          }
        }
      }
    },
    "/contacts/logcall": {
      "post": {
        "tags": ["Contacts"],
        "summary": "Post to contacts log",
        "consumes": [],
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "description": "Contacts object",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Contact"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "Error",
            "schema": {
              "required": ["status"],
              "properties": {
                "status": {
                  "type": "object",
                  "$ref": "#/definitions/Status"
                }
              }
            }
          }
        }
      }
    },
    "/contacts/{contact_id}/debts": {
      "get": {
        "tags": ["Contacts"],
        "summary": "Get Debts by Contacts Id",
        "consumes": [],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Id of contact for the debt",
            "required": true,
            "type": "integer"
          }
        ],
        "responses": {
          "default": {
            "description": "Error",
            "schema": {
              "required": ["status"],
              "properties": {
                "status": {
                  "type": "object",
                  "$ref": "#/definitions/Status"
                }
              }
            }
          }
        }
      }
    },
    "/contacts/{contact_id}/debts/enrolled": {
      "get": {
        "tags": ["Contacts"],
        "summary": "Get Enrolled Debts by Contacts Id",
        "consumes": [],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Id of contact for the enrolled debt",
            "required": true,
            "type": "integer"
          }
        ],
        "responses": {
          "default": {
            "description": "Error",
            "schema": {
              "required": ["status"],
              "properties": {
                "status": {
                  "type": "object",
                  "$ref": "#/definitions/Status"
                }
              }
            }
          }
        }
      }
    },
    "/contacts/{contact_id}/debts/notenrolled": {
      "get": {
        "tags": ["Contacts"],
        "summary": "Get Not Enrolled Debts by Contacts Id",
        "consumes": [],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Id of contact for the not enrolled debt",
            "required": true,
            "type": "integer"
          }
        ],
        "responses": {
          "default": {
            "description": "Error",
            "schema": {
              "required": ["status"],
              "properties": {
                "status": {
                  "type": "object",
                  "$ref": "#/definitions/Status"
                }
              }
            }
          }
        }
      }
    },
    "/contacts/{contact_id}/debts/settled": {
      "get": {
        "tags": ["Contacts"],
        "summary": "Get Settled Debts by Contacts Id",
        "consumes": [],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Id of contact for the settled debt",
            "required": true,
            "type": "integer"
          }
        ],
        "responses": {
          "default": {
            "description": "Error",
            "schema": {
              "required": ["status"],
              "properties": {
                "status": {
                  "type": "object",
                  "$ref": "#/definitions/Status"
                }
              }
            }
          }
        }
      }
    },
    "/contacts/{contact_id}/debts/notsettled": {
      "get": {
        "tags": ["Contacts"],
        "summary": "Get Not Settled Debts by Contacts Id",
        "consumes": [],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Id of contact for the not settled debt",
            "required": true,
            "type": "integer"
          }
        ],
        "responses": {
          "default": {
            "description": "Error",
            "schema": {
              "required": ["status"],
              "properties": {
                "status": {
                  "type": "object",
                  "$ref": "#/definitions/Status"
                }
              }
            }
          }
        }
      }
    },
    "/contacts/list": {
      "post": {
        "tags": ["Contacts"],
        "summary": "Create CSV File from List",
        "consumes": [],
        "responses": {
          "default": {
            "description": "Error",
            "schema": {
              "required": ["status"],
              "properties": {
                "status": {
                  "type": "object",
                  "$ref": "#/definitions/Status"
                }
              }
            }
          }
        }
      }
    },
    "/contacts/list/download/{export_id}": {
      "get": {
        "tags": ["Contacts"],
        "summary": "Get Contact List file by Id",
        "consumes": [],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Id of list to be exported",
            "required": true,
            "type": "integer"
          }
        ],
        "responses": {
          "default": {
            "description": "Error",
            "schema": {
              "required": ["status"],
              "properties": {
                "status": {
                  "type": "object",
                  "$ref": "#/definitions/Status"
                }
              }
            }
          }
        }
      }
    },
    "/contacts/{contact_id}/enrollment/stats": {
      "get": {
        "tags": ["Contacts"],
        "summary": "Get Enrollment stats by Contacts Id",
        "consumes": [],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Id of contact for the enrollment stats",
            "required": true,
            "type": "integer"
          }
        ],
        "responses": {
          "default": {
            "description": "Error",
            "schema": {
              "required": ["status"],
              "properties": {
                "status": {
                  "type": "object",
                  "$ref": "#/definitions/Status"
                }
              }
            }
          }
        }
      }
    },
    "/contacts/{contact_id}/documents": {
      "get": {
        "tags": ["Contacts"],
        "summary": "Get Documents by Contacts Id",
        "consumes": [],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Id of contact for the documents",
            "required": true,
            "type": "integer"
          }
        ],
        "responses": {
          "default": {
            "description": "Error",
            "schema": {
              "required": ["status"],
              "properties": {
                "status": {
                  "type": "object",
                  "$ref": "#/definitions/Status"
                }
              }
            }
          }
        }
      }
    },
    "/contacts/{contact_id}/notes": {
      "get": {
        "tags": ["Contacts"],
        "summary": "Get Notes by Contacts Id",
        "consumes": [],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Id of contact for the notes",
            "required": true,
            "type": "integer"
          }
        ],
        "responses": {
          "default": {
            "description": "Error",
            "schema": {
              "required": ["status"],
              "properties": {
                "status": {
                  "type": "object",
                  "$ref": "#/definitions/Status"
                }
              }
            }
          }
        }
      }
    },
    "/contacts/{contact_id}/tasks": {
      "get": {
        "tags": ["Contacts"],
        "summary": "Get Tasks by Contacts Id",
        "consumes": [],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Id of contact for the Tasks",
            "required": true,
            "type": "integer"
          }
        ],
        "responses": {
          "default": {
            "description": "Error",
            "schema": {
              "required": ["status"],
              "properties": {
                "status": {
                  "type": "object",
                  "$ref": "#/definitions/Status"
                }
              }
            }
          }
        }
      }
    },
    "/contacts/{contact_id}/settlement_offers": {
      "get": {
        "tags": ["Contacts"],
        "summary": "Get Settlement Offers by Contacts Id",
        "consumes": [],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Id of contact for the Settlement Offers",
            "required": true,
            "type": "integer"
          }
        ],
        "responses": {
          "default": {
            "description": "Error",
            "schema": {
              "required": ["status"],
              "properties": {
                "status": {
                  "type": "object",
                  "$ref": "#/definitions/Status"
                }
              }
            }
          }
        }
      }
    },
    "/contacts/getLists": {
      "get": {
        "tags": ["Contacts"],
        "summary": "Get Lists Fileds Info",
        "consumes": [],
        "responses": {
          "default": {
            "description": "Error",
            "schema": {
              "required": ["status"],
              "properties": {
                "status": {
                  "type": "object",
                  "$ref": "#/definitions/Status"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": ["Contacts"],
        "summary": "Get lists",
        "operationId": "contactLists",
        "consumes": ["application/json"],
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "schema": {
              "properties": {
                "contact_info": {
                  "description": "contact_info",
                  "type": "integer"
                },
                "contact_id": {
                  "description": "contact_id",
                  "type": "integer"
                }
              },
              "type": "object"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "default",
            "schema": {
              "properties": {
                "status": {
                  "type": "object",
                  "$ref": "#/definitions/Status"
                },
                "response": {
                  "type": "object"
                }
              },
              "type": "object"
            }
          }
        }
      }
    },
    "/contacts/{contact_id}/pull_credit/{provider}": {
      "post": {
        "tags": ["Contacts"],
        "summary": "Pull Credit Information",
        "consumes": [],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Id of contact for the Credit Pull",
            "required": true,
            "type": "integer"
          },
          {
            "name": "id",
            "in": "path",
            "description": "Id of provider for the Credit Pull",
            "required": true,
            "type": "integer"
          }
        ],
        "responses": {
          "default": {
            "description": "Error",
            "schema": {
              "required": ["status"],
              "properties": {
                "status": {
                  "type": "object",
                  "$ref": "#/definitions/Status"
                }
              }
            }
          }
        }
      }
    },
    "/contacts/{contact_id}/get_credit_report": {
      "get": {
        "tags": ["Contacts"],
        "summary": "Get Last Credit Report by Contacts Id",
        "consumes": [],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Id of contact for the Credit Report",
            "required": true,
            "type": "integer"
          }
        ],
        "responses": {
          "default": {
            "description": "Error",
            "schema": {
              "required": ["status"],
              "properties": {
                "status": {
                  "type": "object",
                  "$ref": "#/definitions/Status"
                }
              }
            }
          }
        }
      }
    },
    "/contacts/{contact_id}/submit_to_lender/{lender}": {
      "post": {
        "tags": ["Contacts"],
        "summary": "Submit Contact Information to Lender",
        "consumes": [],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Id of contact to submit information",
            "required": true,
            "type": "integer"
          },
          {
            "name": "id",
            "in": "path",
            "description": "Id of lender to submit information",
            "required": true,
            "type": "integer"
          }
        ],
        "responses": {
          "default": {
            "description": "Error",
            "schema": {
              "required": ["status"],
              "properties": {
                "status": {
                  "type": "object",
                  "$ref": "#/definitions/Status"
                }
              }
            }
          }
        }
      }
    },
    "/contacts/{contact_id}/ref": {
      "post": {
        "tags": ["Contacts"],
        "summary": "Update Contact Reference Information",
        "consumes": [],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Id of contact to submit information",
            "required": true,
            "type": "integer"
          }
        ],
        "responses": {
          "default": {
            "description": "Error",
            "schema": {
              "required": ["status"],
              "properties": {
                "status": {
                  "type": "object",
                  "$ref": "#/definitions/Status"
                }
              }
            }
          }
        }
      }
    },
    "/providers": {
      "get": {
        "tags": ["Providers"],
        "summary": "Get Credit Report Providers",
        "consumes": [],
        "responses": {
          "default": {
            "description": "Error",
            "schema": {
              "required": ["status"],
              "properties": {
                "status": {
                  "type": "object",
                  "$ref": "#/definitions/Status"
                }
              }
            }
          }
        }
      }
    },
    "/debtqueues/{id}": {
      "get": {
        "tags": ["Debtqueues"],
        "summary": "Get Debt Queues by Id",
        "consumes": [],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Id of Debt Queue to be read",
            "required": true,
            "type": "integer"
          }
        ],
        "responses": {
          "default": {
            "description": "Error",
            "schema": {
              "required": ["status"],
              "properties": {
                "status": {
                  "type": "object",
                  "$ref": "#/definitions/Status"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": ["DebtQueues"],
        "summary": "update debt queues",
        "operationId": "debtqueuesUpdate",
        "consumes": ["application/json"],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Id of debt queues. If empty then insert new",
            "type": "integer",
            "default": 0
          },
          {
            "name": "body",
            "in": "body",
            "schema": {
              "properties": {
                "title": {
                  "description": "title of debt queues",
                  "type": "string"
                },
                "description": {
                  "description": "description of debt queues",
                  "type": "string"
                }
              },
              "type": "object"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "default",
            "schema": {
              "properties": {
                "status": {
                  "type": "object",
                  "$ref": "#/definitions/Status"
                },
                "response": {
                  "type": "object"
                }
              },
              "type": "object"
            }
          },
          "error": {
            "description": "some error",
            "schema": {
              "properties": {
                "status": {
                  "properties": {
                    "code": {
                      "type": "integer",
                      "example": "404"
                    },
                    "message": {
                      "type": "string",
                      "example": "not found"
                    }
                  },
                  "type": "object"
                }
              },
              "type": "object"
            }
          }
        }
      }
    },
    "/debtqueues/company": {
      "get": {
        "tags": ["Debtqueues"],
        "summary": "Get Debt Queue by Company",
        "consumes": [],
        "responses": {
          "default": {
            "description": "Error",
            "schema": {
              "required": ["status"],
              "properties": {
                "status": {
                  "type": "object",
                  "$ref": "#/definitions/Status"
                }
              }
            }
          }
        }
      }
    },
    "/debtqueues[/{id}]": {
      "put": {
        "tags": ["Debtqueues"],
        "summary": "Update Debt Queue by Id",
        "consumes": [],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Id of Debt Queue to be updated",
            "required": true,
            "type": "integer"
          },
          {
            "name": "body",
            "in": "body",
            "description": "Debt Queue object",
            "required": true,
            "schema": {
              "$ref": "#/definitions/DebtQueue"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "Error",
            "schema": {
              "required": ["status"],
              "properties": {
                "status": {
                  "type": "object",
                  "$ref": "#/definitions/Status"
                }
              }
            }
          }
        }
      }
    },
    "/debts": {
      "post": {
        "tags": ["Debts"],
        "summary": "Create Debts",
        "consumes": [],
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "description": "Debts object",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Debt"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "Error",
            "schema": {
              "required": ["status"],
              "properties": {
                "status": {
                  "type": "object",
                  "$ref": "#/definitions/Status"
                }
              }
            }
          }
        }
      }
    },
    "/debts/{id:[0-9]+}": {
      "get": {
        "tags": ["Debts"],
        "summary": "Read Debts by Id",
        "consumes": [],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Id of debt to be read",
            "required": true,
            "type": "integer"
          }
        ],
        "responses": {
          "default": {
            "description": "Error",
            "schema": {
              "required": ["status"],
              "properties": {
                "status": {
                  "type": "object",
                  "$ref": "#/definitions/Status"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": ["Debts"],
        "summary": "Update Debts by Id",
        "consumes": [],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Id of debt to be updated",
            "required": true,
            "type": "integer"
          },
          {
            "name": "body",
            "in": "body",
            "description": "Debts object",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Debt"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "Error",
            "schema": {
              "required": ["status"],
              "properties": {
                "status": {
                  "type": "object",
                  "$ref": "#/definitions/Status"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": ["Debts"],
        "summary": "Delete Debt By Id",
        "consumes": [],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Id of debt to be deleted",
            "required": true,
            "type": "integer"
          }
        ],
        "responses": {
          "default": {
            "description": "Error",
            "schema": {
              "required": ["status"],
              "properties": {
                "status": {
                  "type": "object",
                  "$ref": "#/definitions/Status"
                }
              }
            }
          }
        }
      }
    },
    "/debts/{id:[0-9]+}/notes": {
      "get": {
        "tags": ["Debts"],
        "summary": "Read Debt Notes by Id",
        "consumes": [],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Id of debt to be read",
            "required": true,
            "type": "integer"
          }
        ],
        "responses": {
          "default": {
            "description": "Error",
            "schema": {
              "required": ["status"],
              "properties": {
                "status": {
                  "type": "object",
                  "$ref": "#/definitions/Status"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": ["Debts"],
        "summary": "Update Debt Notes by Id",
        "consumes": [],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Id of debt to be updated",
            "required": true,
            "type": "integer"
          },
          {
            "name": "body",
            "in": "body",
            "description": "Debts object",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Debt"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "Error",
            "schema": {
              "required": ["status"],
              "properties": {
                "status": {
                  "type": "object",
                  "$ref": "#/definitions/Status"
                }
              }
            }
          }
        }
      }
    },
    "/debts/{id:[0-9]+}/tasks": {
      "get": {
        "tags": ["Debts"],
        "summary": "Read Debt Tasks by Id",
        "consumes": [],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Id of debt to be read",
            "required": true,
            "type": "integer"
          }
        ],
        "responses": {
          "default": {
            "description": "Error",
            "schema": {
              "required": ["status"],
              "properties": {
                "status": {
                  "type": "object",
                  "$ref": "#/definitions/Status"
                }
              }
            }
          }
        }
      }
    },
    "/debts/{id:[0-9]+}/settlement_offers": {
      "get": {
        "tags": ["Debts"],
        "summary": "Get Debt Settlement Offers by Id",
        "consumes": [],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Id of debt to be read",
            "required": true,
            "type": "integer"
          }
        ],
        "responses": {
          "default": {
            "description": "Error",
            "schema": {
              "required": ["status"],
              "properties": {
                "status": {
                  "type": "object",
                  "$ref": "#/definitions/Status"
                }
              }
            }
          }
        }
      }
    },
    "/debts/{id:[0-9]+}/task": {
      "get": {
        "tags": ["Debts"],
        "summary": "Read Debt Task by Id",
        "consumes": [],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Id of debt to be read",
            "required": true,
            "type": "integer"
          }
        ],
        "responses": {
          "default": {
            "description": "Error",
            "schema": {
              "required": ["status"],
              "properties": {
                "status": {
                  "type": "object",
                  "$ref": "#/definitions/Status"
                }
              }
            }
          }
        }
      }
    },
    "/debts/getLists": {
      "post": {
        "tags": ["Debts"],
        "summary": "Get Debts Lists",
        "consumes": [],
        "responses": {
          "default": {
            "description": "Error",
            "schema": {
              "required": ["status"],
              "properties": {
                "status": {
                  "type": "object",
                  "$ref": "#/definitions/Status"
                }
              }
            }
          }
        }
      }
    },
    "/debts/notes/{id:[0-9]+}": {
      "delete": {
        "tags": ["Debts"],
        "summary": "Delete Debt Note By Id",
        "consumes": [],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Id of debts note to be deleted",
            "required": true,
            "type": "integer"
          }
        ],
        "responses": {
          "default": {
            "description": "Error",
            "schema": {
              "required": ["status"],
              "properties": {
                "status": {
                  "type": "object",
                  "$ref": "#/definitions/Status"
                }
              }
            }
          }
        }
      }
    },
    "/documents/document-types": {
      "get": {
        "tags": ["Documents"],
        "summary": "Get all document types",
        "consumes": [],
        "responses": {
          "default": {
            "description": "Error",
            "schema": {
              "required": ["status"],
              "properties": {
                "status": {
                  "type": "object",
                  "$ref": "#/definitions/Status"
                }
              }
            }
          }
        }
      }
    },
    "/documents": {
      "get": {
        "tags": ["Documents"],
        "summary": "Get all documents",
        "consumes": [],
        "responses": {
          "default": {
            "description": "Error",
            "schema": {
              "required": ["status"],
              "properties": {
                "status": {
                  "type": "object",
                  "$ref": "#/definitions/Status"
                }
              }
            }
          }
        }
      }
    },
    "/documents/getfile": {
      "post": {
        "tags": ["Documents"],
        "summary": "Get Document File",
        "consumes": [],
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "description": "Document object",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Document"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "Error",
            "schema": {
              "required": ["status"],
              "properties": {
                "status": {
                  "type": "object",
                  "$ref": "#/definitions/Status"
                }
              }
            }
          }
        }
      }
    },
    "/documents/htmltopdf": {
      "post": {
        "tags": ["Documents"],
        "summary": "Convert HTML to PDF",
        "consumes": [],
        "parameters": [
          {
            "name": "document",
            "in": "query",
            "description": "HTML to be converted",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "default": {
            "description": "Error",
            "schema": {
              "required": ["status"],
              "properties": {
                "status": {
                  "type": "object",
                  "$ref": "#/definitions/Status"
                }
              }
            }
          }
        }
      }
    },
    "/documents/{template_id}": {
      "post": {
        "tags": ["Documents"],
        "summary": "Generate Document by Template Id",
        "consumes": [],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Id of template to be generated",
            "required": true,
            "type": "integer"
          }
        ],
        "responses": {
          "default": {
            "description": "Error",
            "schema": {
              "required": ["status"],
              "properties": {
                "status": {
                  "type": "object",
                  "$ref": "#/definitions/Status"
                }
              }
            }
          }
        }
      }
    },
    "/documents/packages/{package_id}": {
      "get": {
        "tags": ["Packages"],
        "summary": "Get Package record",
        "consumes": [],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Id of package to be returned",
            "required": true,
            "type": "integer"
          }
        ],
        "responses": {
          "default": {
            "description": "Error",
            "schema": {
              "required": ["status"],
              "properties": {
                "status": {
                  "type": "object",
                  "$ref": "#/definitions/Status"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": ["Packages"],
        "summary": "Update Document Package By Id",
        "consumes": [],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Id of package to be Updated",
            "required": true,
            "type": "integer"
          },
          {
            "name": "body",
            "in": "body",
            "description": "Package object",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Package"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "Error",
            "schema": {
              "required": ["status"],
              "properties": {
                "status": {
                  "type": "object",
                  "$ref": "#/definitions/Status"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": ["Packages"],
        "summary": "Generate Document Package By Id",
        "consumes": [],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Id of package to be generated",
            "required": true,
            "type": "integer"
          }
        ],
        "responses": {
          "default": {
            "description": "Error",
            "schema": {
              "required": ["status"],
              "properties": {
                "status": {
                  "type": "object",
                  "$ref": "#/definitions/Status"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": ["Packages"],
        "summary": "Delete Document Package By Id",
        "consumes": [],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Id of package to be deleted",
            "required": true,
            "type": "integer"
          }
        ],
        "responses": {
          "default": {
            "description": "Error",
            "schema": {
              "required": ["status"],
              "properties": {
                "status": {
                  "type": "object",
                  "$ref": "#/definitions/Status"
                }
              }
            }
          }
        }
      }
    },
    "/documents/packages": {
      "get": {
        "tags": ["Packages"],
        "summary": "Get All Packages",
        "consumes": [],
        "responses": {
          "default": {
            "description": "Error",
            "schema": {
              "required": ["status"],
              "properties": {
                "status": {
                  "type": "object",
                  "$ref": "#/definitions/Status"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": ["Packages"],
        "summary": "Create Document Package",
        "consumes": [],
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "description": "Package object",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Package"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "Error",
            "schema": {
              "required": ["status"],
              "properties": {
                "status": {
                  "type": "object",
                  "$ref": "#/definitions/Status"
                }
              }
            }
          }
        }
      }
    },
    "/importcsv": {
      "post": {
        "tags": ["Csv"],
        "summary": "Import CSV File",
        "consumes": [],
        "parameters": [
          {
            "name": "import_id",
            "in": "path",
            "description": "Import Id of CSV",
            "required": true,
            "type": "integer"
          }
        ],
        "responses": {
          "default": {
            "description": "Error",
            "schema": {
              "required": ["status"],
              "properties": {
                "status": {
                  "type": "object",
                  "$ref": "#/definitions/Status"
                }
              }
            }
          }
        }
      }
    },
    "/validatecsv": {
      "post": {
        "tags": ["Csv"],
        "summary": "Validate CSV File",
        "consumes": [],
        "parameters": [
          {
            "name": "import_id",
            "in": "path",
            "description": "Import Id of CSV",
            "required": true,
            "type": "integer"
          }
        ],
        "responses": {
          "default": {
            "description": "Error",
            "schema": {
              "required": ["status"],
              "properties": {
                "status": {
                  "type": "object",
                  "$ref": "#/definitions/Status"
                }
              }
            }
          }
        }
      }
    },
    "/import/{import_id}/status": {
      "get": {
        "tags": ["Csv"],
        "summary": "Get Status of CSV Import",
        "consumes": [],
        "parameters": [
          {
            "name": "import_id",
            "in": "path",
            "description": "Import Id of CSV",
            "required": true,
            "type": "integer"
          }
        ],
        "responses": {
          "default": {
            "description": "Error",
            "schema": {
              "required": ["status"],
              "properties": {
                "status": {
                  "type": "object",
                  "$ref": "#/definitions/Status"
                }
              }
            }
          }
        }
      }
    },
    "/lenders": {
      "get": {
        "tags": ["Lenders"],
        "summary": "Get Available Lenders",
        "consumes": [],
        "responses": {
          "default": {
            "description": "Error",
            "schema": {
              "required": ["status"],
              "properties": {
                "status": {
                  "type": "object",
                  "$ref": "#/definitions/Status"
                }
              }
            }
          }
        }
      }
    },
    "/lenders/offer/{id}": {
      "get": {
        "tags": ["Offers"],
        "summary": "Get Lender Offers by Id",
        "consumes": [],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Id of offer to be read",
            "required": true,
            "type": "integer"
          }
        ],
        "responses": {
          "default": {
            "description": "Error",
            "schema": {
              "required": ["status"],
              "properties": {
                "status": {
                  "type": "object",
                  "$ref": "#/definitions/Status"
                }
              }
            }
          }
        }
      }
    },
    "/loans": {
      "post": {
        "tags": ["Loans"],
        "summary": "Create Loan",
        "consumes": [],
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "description": "Loan object",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Loan"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "Error",
            "schema": {
              "required": ["status"],
              "properties": {
                "status": {
                  "type": "object",
                  "$ref": "#/definitions/Status"
                }
              }
            }
          }
        }
      }
    },
    "/loans/{loan_id}": {
      "get": {
        "tags": ["Loans"],
        "summary": "Read Loan by Id",
        "consumes": [],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Id of loan to be read",
            "required": true,
            "type": "integer"
          }
        ],
        "responses": {
          "default": {
            "description": "Error",
            "schema": {
              "required": ["status"],
              "properties": {
                "status": {
                  "type": "object",
                  "$ref": "#/definitions/Status"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": ["Loans"],
        "summary": "Update Loan by Id",
        "consumes": [],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Id of loan to be updated",
            "required": true,
            "type": "integer"
          },
          {
            "name": "body",
            "in": "body",
            "description": "Loan object",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Loan"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "Error",
            "schema": {
              "required": ["status"],
              "properties": {
                "status": {
                  "type": "object",
                  "$ref": "#/definitions/Status"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": ["Loans"],
        "summary": "Delete Loan By Id",
        "consumes": [],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Id of loan to be deleted",
            "required": true,
            "type": "integer"
          }
        ],
        "responses": {
          "default": {
            "description": "Error",
            "schema": {
              "required": ["status"],
              "properties": {
                "status": {
                  "type": "object",
                  "$ref": "#/definitions/Status"
                }
              }
            }
          }
        }
      }
    },
    "/note_templates": {
      "get": {
        "tags": ["Notes"],
        "summary": "Get all Note Templates",
        "consumes": [],
        "responses": {
          "default": {
            "description": "Error",
            "schema": {
              "required": ["status"],
              "properties": {
                "status": {
                  "type": "object",
                  "$ref": "#/definitions/Status"
                }
              }
            }
          }
        }
      }
    },
    "/notes": {
      "post": {
        "tags": ["Notes"],
        "summary": "Create Notes",
        "consumes": [],
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "description": "Notes object",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Note"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "Error",
            "schema": {
              "required": ["status"],
              "properties": {
                "status": {
                  "type": "object",
                  "$ref": "#/definitions/Status"
                }
              }
            }
          }
        }
      }
    },
    "/notes/{note_id}": {
      "get": {
        "tags": ["Notes"],
        "summary": "Read Note by Id",
        "consumes": [],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Id of note to be read",
            "required": true,
            "type": "integer"
          }
        ],
        "responses": {
          "default": {
            "description": "Error",
            "schema": {
              "required": ["status"],
              "properties": {
                "status": {
                  "type": "object",
                  "$ref": "#/definitions/Status"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": ["Notes"],
        "summary": "Update Note by Id",
        "consumes": [],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Id of note to be updated",
            "required": true,
            "type": "integer"
          },
          {
            "name": "body",
            "in": "body",
            "description": "Note object",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Note"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "Error",
            "schema": {
              "required": ["status"],
              "properties": {
                "status": {
                  "type": "object",
                  "$ref": "#/definitions/Status"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": ["Notes"],
        "summary": "Delete Note By Id",
        "consumes": [],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Id of note to be deleted",
            "required": true,
            "type": "integer"
          }
        ],
        "responses": {
          "default": {
            "description": "Error",
            "schema": {
              "required": ["status"],
              "properties": {
                "status": {
                  "type": "object",
                  "$ref": "#/definitions/Status"
                }
              }
            }
          }
        }
      }
    },
    "/portal/domains": {
      "get": {
        "tags": ["Portal"],
        "summary": "Get Portal Domains",
        "consumes": [],
        "responses": {
          "default": {
            "description": "Error",
            "schema": {
              "required": ["status"],
              "properties": {
                "status": {
                  "type": "object",
                  "$ref": "#/definitions/Status"
                }
              }
            }
          }
        }
      }
    },
    "/portal/domain/{domain_id}": {
      "put": {
        "tags": ["Portal"],
        "summary": "Update Portal Domain by Id",
        "consumes": [],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Id of portal domain to be updated",
            "required": true,
            "type": "integer"
          }
        ],
        "responses": {
          "default": {
            "description": "Error",
            "schema": {
              "required": ["status"],
              "properties": {
                "status": {
                  "type": "object",
                  "$ref": "#/definitions/Status"
                }
              }
            }
          }
        }
      }
    },
    "/portal/company/{domain_id}": {
      "get": {
        "tags": ["Portal"],
        "summary": "Get Company by Portal Domain Id",
        "consumes": [],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Id of Portal Domain to be read",
            "required": true,
            "type": "integer"
          }
        ],
        "responses": {
          "default": {
            "description": "Error",
            "schema": {
              "required": ["status"],
              "properties": {
                "status": {
                  "type": "object",
                  "$ref": "#/definitions/Status"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": ["Portal"],
        "summary": "Create Company for the Portal Domain Id",
        "consumes": [],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Id of Portal Domain for the Company",
            "required": true,
            "type": "integer"
          }
        ],
        "responses": {
          "default": {
            "description": "Error",
            "schema": {
              "required": ["status"],
              "properties": {
                "status": {
                  "type": "object",
                  "$ref": "#/definitions/Status"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": ["Portal"],
        "summary": "Delete Company for the Portal Domain Id",
        "consumes": [],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Id of Portal Domain for the Company",
            "required": true,
            "type": "integer"
          }
        ],
        "responses": {
          "default": {
            "description": "Error",
            "schema": {
              "required": ["status"],
              "properties": {
                "status": {
                  "type": "object",
                  "$ref": "#/definitions/Status"
                }
              }
            }
          }
        }
      }
    },
    "/portal/company/module/{domain_id}": {
      "get": {
        "tags": ["Portal"],
        "summary": "Get Company Module by Portal Domain Id",
        "consumes": [],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Id of Portal Domain to be read",
            "required": true,
            "type": "integer"
          }
        ],
        "responses": {
          "default": {
            "description": "Error",
            "schema": {
              "required": ["status"],
              "properties": {
                "status": {
                  "type": "object",
                  "$ref": "#/definitions/Status"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": ["Portal"],
        "summary": "Update Company Module by Portal Domain Id",
        "consumes": [],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Id of Portal Domain to be updated",
            "required": true,
            "type": "integer"
          }
        ],
        "responses": {
          "default": {
            "description": "Error",
            "schema": {
              "required": ["status"],
              "properties": {
                "status": {
                  "type": "object",
                  "$ref": "#/definitions/Status"
                }
              }
            }
          }
        }
      }
    },
    "/portal/company/email/{domain_id}": {
      "get": {
        "tags": ["Portal"],
        "summary": "Get Company Email by Portal Domain Id",
        "consumes": [],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Id of Portal Domain to be read",
            "required": true,
            "type": "integer"
          }
        ],
        "responses": {
          "default": {
            "description": "Error",
            "schema": {
              "required": ["status"],
              "properties": {
                "status": {
                  "type": "object",
                  "$ref": "#/definitions/Status"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": ["Portal"],
        "summary": "Update Company Email by Portal Domain Id",
        "consumes": [],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Id of Portal Domain to be updated",
            "required": true,
            "type": "integer"
          }
        ],
        "responses": {
          "default": {
            "description": "Error",
            "schema": {
              "required": ["status"],
              "properties": {
                "status": {
                  "type": "object",
                  "$ref": "#/definitions/Status"
                }
              }
            }
          }
        }
      }
    },
    "/portal/company/permission/{domain_id}": {
      "put": {
        "tags": ["Portal"],
        "summary": "Update Company Permission by Portal Domain Id",
        "consumes": [],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Id of Portal Domain to be updated",
            "required": true,
            "type": "integer"
          }
        ],
        "responses": {
          "default": {
            "description": "Error",
            "schema": {
              "required": ["status"],
              "properties": {
                "status": {
                  "type": "object",
                  "$ref": "#/definitions/Status"
                }
              }
            }
          }
        }
      }
    },
    "/portal/company/support/{domain_id}": {
      "put": {
        "tags": ["Portal"],
        "summary": "Update Company Support by Portal Domain Id",
        "consumes": [],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Id of Portal Domain to be updated",
            "required": true,
            "type": "integer"
          }
        ],
        "responses": {
          "default": {
            "description": "Error",
            "schema": {
              "required": ["status"],
              "properties": {
                "status": {
                  "type": "object",
                  "$ref": "#/definitions/Status"
                }
              }
            }
          }
        }
      }
    },
    "/portal/company/terminology/{domain_id}": {
      "put": {
        "tags": ["Portal"],
        "summary": "Update Company Terminology by Portal Domain Id",
        "consumes": [],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Id of Portal Domain to be updated",
            "required": true,
            "type": "integer"
          }
        ],
        "responses": {
          "default": {
            "description": "Error",
            "schema": {
              "required": ["status"],
              "properties": {
                "status": {
                  "type": "object",
                  "$ref": "#/definitions/Status"
                }
              }
            }
          }
        }
      }
    },
    "/roles": {
      "get": {
        "tags": ["Roles"],
        "summary": "Get Roles",
        "consumes": [],
        "responses": {
          "default": {
            "description": "Error",
            "schema": {
              "required": ["status"],
              "properties": {
                "status": {
                  "type": "object",
                  "$ref": "#/definitions/Status"
                }
              }
            }
          }
        }
      }
    },
    "/sendemail/getecontent": {
      "get": {
        "tags": ["Sendemail"],
        "summary": "Get Sendmail Content",
        "consumes": [],
        "responses": {
          "default": {
            "description": "Error",
            "schema": {
              "required": ["status"],
              "properties": {
                "status": {
                  "type": "object",
                  "$ref": "#/definitions/Status"
                }
              }
            }
          }
        }
      }
    },
    "/sendemail/gettemplates": {
      "get": {
        "tags": ["Sendemail"],
        "summary": "Get Sendmail Templates",
        "consumes": [],
        "responses": {
          "default": {
            "description": "Error",
            "schema": {
              "required": ["status"],
              "properties": {
                "status": {
                  "type": "object",
                  "$ref": "#/definitions/Status"
                }
              }
            }
          }
        }
      }
    },
    "/sendemail": {
      "post": {
        "tags": ["Sendemail"],
        "summary": "Send Email",
        "consumes": [],
        "responses": {
          "default": {
            "description": "Error",
            "schema": {
              "required": ["status"],
              "properties": {
                "status": {
                  "type": "object",
                  "$ref": "#/definitions/Status"
                }
              }
            }
          }
        }
      }
    },
    "/settings/group/{group}/values": {
      "get": {
        "tags": ["Settings"],
        "summary": "Get Settings Values by Group Id",
        "consumes": [],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Id of Group to be read",
            "required": true,
            "type": "integer"
          }
        ],
        "responses": {
          "default": {
            "description": "Error",
            "schema": {
              "required": ["status"],
              "properties": {
                "status": {
                  "type": "object",
                  "$ref": "#/definitions/Status"
                }
              }
            }
          }
        }
      }
    },
    "/settings/values[/{settings_key}]": {
      "get": {
        "tags": ["Settings"],
        "summary": "Get Settings Values by Settings Key",
        "consumes": [],
        "parameters": [
          {
            "name": "settings_key",
            "in": "path",
            "description": "Key of Setting to be read",
            "required": true,
            "type": "integer"
          }
        ],
        "responses": {
          "default": {
            "description": "Error",
            "schema": {
              "required": ["status"],
              "properties": {
                "status": {
                  "type": "object",
                  "$ref": "#/definitions/Status"
                }
              }
            }
          }
        }
      }
    },
    "/settings/group/{group}/definitions": {
      "get": {
        "tags": ["Settings"],
        "summary": "Get Group Definition by Group Id",
        "consumes": [],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Id of Group to be read",
            "required": true,
            "type": "integer"
          }
        ],
        "responses": {
          "default": {
            "description": "Error",
            "schema": {
              "required": ["status"],
              "properties": {
                "status": {
                  "type": "object",
                  "$ref": "#/definitions/Status"
                }
              }
            }
          }
        }
      }
    },
    "/settlement_offers": {
      "post": {
        "tags": ["SettlementOffers"],
        "summary": "Create Settlement Offers",
        "consumes": [],
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "description": "Settlement Offers object",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Settlementoffer"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "Error",
            "schema": {
              "required": ["status"],
              "properties": {
                "status": {
                  "type": "object",
                  "$ref": "#/definitions/Status"
                }
              }
            }
          }
        }
      }
    },
    "/settlement_offers/{id}": {
      "get": {
        "tags": ["SettlementOffers"],
        "summary": "Read Settlement Offers by Id",
        "consumes": [],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Settlement Offer",
            "required": true,
            "type": "integer"
          }
        ],
        "responses": {
          "default": {
            "description": "Error",
            "schema": {
              "required": ["status"],
              "properties": {
                "status": {
                  "type": "object",
                  "$ref": "#/definitions/Status"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": ["SettlementOffers"],
        "summary": "Update Settlement Offers by Id",
        "consumes": [],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Id of Settlement Offer to be updated",
            "required": true,
            "type": "integer"
          },
          {
            "name": "body",
            "in": "body",
            "description": "Settlement Offers",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Settlementoffer"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "Error",
            "schema": {
              "required": ["status"],
              "properties": {
                "status": {
                  "type": "object",
                  "$ref": "#/definitions/Status"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": ["SettlementOffers"],
        "summary": "Delete Settlement Offers By Id",
        "consumes": [],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Id of Settlement Offers to be deleted",
            "required": true,
            "type": "integer"
          }
        ],
        "responses": {
          "default": {
            "description": "Error",
            "schema": {
              "required": ["status"],
              "properties": {
                "status": {
                  "type": "object",
                  "$ref": "#/definitions/Status"
                }
              }
            }
          }
        }
      }
    },
    "/settlements/{id}/contact": {
      "get": {
        "tags": ["Settlements"],
        "summary": "Get Contact by Settlements Id",
        "consumes": [],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Id of settlement for contact",
            "required": true,
            "type": "integer"
          }
        ],
        "responses": {
          "default": {
            "description": "Error",
            "schema": {
              "required": ["status"],
              "properties": {
                "status": {
                  "type": "object",
                  "$ref": "#/definitions/Status"
                }
              }
            }
          }
        }
      }
    },
    "/settlements/{id}/contacts": {
      "get": {
        "tags": ["Settlements"],
        "summary": "Get All Contacts by Settlements Id",
        "consumes": [],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Id of settlement for contacts",
            "required": true,
            "type": "integer"
          }
        ],
        "responses": {
          "default": {
            "description": "Error",
            "schema": {
              "required": ["status"],
              "properties": {
                "status": {
                  "type": "object",
                  "$ref": "#/definitions/Status"
                }
              }
            }
          }
        }
      }
    },
    "/settlements/{id}/extended": {
      "get": {
        "tags": ["Settlements"],
        "summary": "Get Extended Information by Settlements Id",
        "consumes": [],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Id of settlement for extended information",
            "required": true,
            "type": "integer"
          }
        ],
        "responses": {
          "default": {
            "description": "Error",
            "schema": {
              "required": ["status"],
              "properties": {
                "status": {
                  "type": "object",
                  "$ref": "#/definitions/Status"
                }
              }
            }
          }
        }
      }
    },
    "/settlements/{id}/debt": {
      "get": {
        "tags": ["Settlements"],
        "summary": "Get Debt by Settlements Id",
        "consumes": [],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Id of settlement for debt",
            "required": true,
            "type": "integer"
          }
        ],
        "responses": {
          "default": {
            "description": "Error",
            "schema": {
              "required": ["status"],
              "properties": {
                "status": {
                  "type": "object",
                  "$ref": "#/definitions/Status"
                }
              }
            }
          }
        }
      }
    },
    "/settlements/{id}/snapshot": {
      "get": {
        "tags": ["Settlements"],
        "summary": "Get Snapshot by Settlements Id",
        "consumes": [],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Id of settlement for snapshot",
            "required": true,
            "type": "integer"
          }
        ],
        "responses": {
          "default": {
            "description": "Error",
            "schema": {
              "required": ["status"],
              "properties": {
                "status": {
                  "type": "object",
                  "$ref": "#/definitions/Status"
                }
              }
            }
          }
        }
      }
    },
    "/settlements/{id}/assignments": {
      "get": {
        "tags": ["Settlements"],
        "summary": "Get assignments by Settlements Id",
        "consumes": [],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Id of settlement for assignments",
            "required": true,
            "type": "integer"
          }
        ],
        "responses": {
          "default": {
            "description": "Error",
            "schema": {
              "required": ["status"],
              "properties": {
                "status": {
                  "type": "object",
                  "$ref": "#/definitions/Status"
                }
              }
            }
          }
        }
      }
    },
    "/settlements/{id}/documents": {
      "get": {
        "tags": ["Settlements"],
        "summary": "Get documents by Settlements Id",
        "consumes": [],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Id of settlement for documents",
            "required": true,
            "type": "integer"
          }
        ],
        "responses": {
          "default": {
            "description": "Error",
            "schema": {
              "required": ["status"],
              "properties": {
                "status": {
                  "type": "object",
                  "$ref": "#/definitions/Status"
                }
              }
            }
          }
        }
      }
    },
    "/settlements/{id}": {
      "get": {
        "tags": ["Settlements"],
        "summary": "Get Settlements by Settlements Id",
        "consumes": [],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Id of settlement",
            "required": true,
            "type": "integer"
          }
        ],
        "responses": {
          "default": {
            "description": "Error",
            "schema": {
              "required": ["status"],
              "properties": {
                "status": {
                  "type": "object",
                  "$ref": "#/definitions/Status"
                }
              }
            }
          }
        }
      }
    },
    "/settlements/settings": {
      "get": {
        "tags": ["Settlements"],
        "summary": "Get Settlement Settings",
        "consumes": [],
        "responses": {
          "default": {
            "description": "Error",
            "schema": {
              "required": ["status"],
              "properties": {
                "status": {
                  "type": "object",
                  "$ref": "#/definitions/Status"
                }
              }
            }
          }
        }
      }
    },
    "/settlements/settings/getworkflow": {
      "post": {
        "tags": ["Settlements"],
        "summary": "Get Settlements Workflow",
        "consumes": [],
        "responses": {
          "default": {
            "description": "Error",
            "schema": {
              "required": ["status"],
              "properties": {
                "status": {
                  "type": "object",
                  "$ref": "#/definitions/Status"
                }
              }
            }
          }
        }
      }
    },
    "/check_funds/mca": {
      "post": {
        "tags": ["MCA"],
        "summary": "Check MCA Funds",
        "consumes": [],
        "responses": {
          "default": {
            "description": "Error",
            "schema": {
              "required": ["status"],
              "properties": {
                "status": {
                  "type": "object",
                  "$ref": "#/definitions/Status"
                }
              }
            }
          }
        }
      }
    },
    "/submit/mca": {
      "post": {
        "tags": ["MCA"],
        "summary": "Submit MCA",
        "consumes": [],
        "responses": {
          "default": {
            "description": "Error",
            "schema": {
              "required": ["status"],
              "properties": {
                "status": {
                  "type": "object",
                  "$ref": "#/definitions/Status"
                }
              }
            }
          }
        }
      }
    },
    "/funding/{id}/fund": {
      "post": {
        "tags": ["MCA"],
        "summary": "Fund MCA by Id",
        "consumes": [],
        "responses": {
          "default": {
            "description": "Error",
            "schema": {
              "required": ["status"],
              "properties": {
                "status": {
                  "type": "object",
                  "$ref": "#/definitions/Status"
                }
              }
            }
          }
        }
      }
    },
    "/funding/{id}/cancel": {
      "post": {
        "tags": ["MCA"],
        "summary": "Cancel MCA by Id",
        "consumes": [],
        "responses": {
          "default": {
            "description": "Error",
            "schema": {
              "required": ["status"],
              "properties": {
                "status": {
                  "type": "object",
                  "$ref": "#/definitions/Status"
                }
              }
            }
          }
        }
      }
    },
    "/send-sms-code": {
      "get": {
        "tags": ["Supervest"],
        "summary": "Send SMS Code",
        "consumes": [],
        "responses": {
          "default": {
            "description": "Error",
            "schema": {
              "required": ["status"],
              "properties": {
                "status": {
                  "type": "object",
                  "$ref": "#/definitions/Status"
                }
              }
            }
          }
        }
      }
    },
    "/lookups/ein/{EIN}": {
      "get": {
        "tags": ["Lookups"],
        "summary": "Lookup Ein Code",
        "consumes": [],
        "responses": {
          "default": {
            "description": "Error",
            "schema": {
              "required": ["status"],
              "properties": {
                "status": {
                  "type": "object",
                  "$ref": "#/definitions/Status"
                }
              }
            }
          }
        }
      }
    },
    "/tasks": {
      "post": {
        "tags": ["Tasks"],
        "summary": "Create Tasks",
        "consumes": [],
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "description": "Tasks object",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Task"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "Error",
            "schema": {
              "required": ["status"],
              "properties": {
                "status": {
                  "type": "object",
                  "$ref": "#/definitions/Status"
                }
              }
            }
          }
        }
      }
    },
    "/tasks/{task_id}": {
      "get": {
        "tags": ["Tasks"],
        "summary": "Read Tasks by Id",
        "consumes": [],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Id of task to be read",
            "required": true,
            "type": "integer"
          }
        ],
        "responses": {
          "default": {
            "description": "Error",
            "schema": {
              "required": ["status"],
              "properties": {
                "status": {
                  "type": "object",
                  "$ref": "#/definitions/Status"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": ["Tasks"],
        "summary": "Update Tasks by Id",
        "consumes": [],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Id of task to be updated",
            "required": true,
            "type": "integer"
          },
          {
            "name": "body",
            "in": "body",
            "description": "Tasks object",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Task"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "Error",
            "schema": {
              "required": ["status"],
              "properties": {
                "status": {
                  "type": "object",
                  "$ref": "#/definitions/Status"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": ["Tasks"],
        "summary": "Delete Task By Id",
        "consumes": [],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Id of task to be deleted",
            "required": true,
            "type": "integer"
          }
        ],
        "responses": {
          "default": {
            "description": "Error",
            "schema": {
              "required": ["status"],
              "properties": {
                "status": {
                  "type": "object",
                  "$ref": "#/definitions/Status"
                }
              }
            }
          }
        }
      }
    },
    "/tasks/{task_id]+}/complete": {
      "put": {
        "tags": ["Tasks"],
        "summary": "Mark Tasks Complete by Id",
        "consumes": [],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Id of task to be marked complete",
            "required": true,
            "type": "integer"
          }
        ],
        "responses": {
          "default": {
            "description": "Error",
            "schema": {
              "required": ["status"],
              "properties": {
                "status": {
                  "type": "object",
                  "$ref": "#/definitions/Status"
                }
              }
            }
          }
        }
      }
    },
    "/task_items": {
      "get": {
        "tags": ["Tasks"],
        "summary": "get task items",
        "operationId": "taskItemsGet",
        "responses": {
          "default": {
            "description": "default",
            "schema": {
              "properties": {
                "status": {
                  "type": "object",
                  "$ref": "#/definitions/Status"
                },
                "response": {
                  "description": "get task items",
                  "type": "array",
                  "items": {
                    "$ref": "#/definitions/TaskItem"
                  }
                }
              },
              "type": "object"
            }
          }
        }
      },
      "post": {
        "tags": ["Tasks"],
        "summary": "Get Task Items",
        "consumes": [],
        "responses": {
          "default": {
            "description": "Error",
            "schema": {
              "required": ["status"],
              "properties": {
                "status": {
                  "type": "object",
                  "$ref": "#/definitions/Status"
                }
              }
            }
          }
        }
      }
    },
    "/teams": {
      "get": {
        "tags": ["Teams"],
        "summary": "Get All Teams",
        "consumes": [],
        "responses": {
          "default": {
            "description": "Error",
            "schema": {
              "required": ["status"],
              "properties": {
                "status": {
                  "type": "object",
                  "$ref": "#/definitions/Status"
                }
              }
            }
          }
        }
[...]
